Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Test: Add more tests
  python-avd/tests/pyavd/schema/data_merging.schema.yml
  python-avd/tests/pyavd/schema/test_data_combining.py
Due: none

CI: Make pre-commit happy again
  python-avd/pyavd/_schema/models/avd_model.py
Due: none

Fixing CI. Added max args 20
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-port-channels-custom-template.yml
  python-avd/pyproject.toml
Due: none

Feat(eos_designs): Add support for templated description for node l3-port-channels
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-port-channels-custom-template.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

move tests to ansible_only
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/node-type-l3-port-channels-custom-template.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Update description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Delete unused molecule files
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR1_LEAFS_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR1_LEAFS_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR2_LEAFS_LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_LEAFS_LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_LEAFS_LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_MEMBER_LEAFS_LEAF3C.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_MEMBER_LEAFS_LEAF3D.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_MEMBER_LEAFS_LEAF3E.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_SPINES_SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_SPINES_SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HYBRID_CAMPUS_TESTS_NYC_DC_SEGMENT_DC1_LEAFS_LEAF10A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR1_LEAFS_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR1_LEAFS_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR2_LEAFS_LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_LEAFS_LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_LEAFS_LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_MEMBER_LEAFS_LEAF3C.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_MEMBER_LEAFS_LEAF3D.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_FLOOR3_MEMBER_LEAFS_LEAF3E.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_SPINES_SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_CAMPUS_SEGMENT_MIDTOWN_SPINES_SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HYBRID_CAMPUS_TESTS_NYC_DC_SEGMENT_DC1_LEAFS_LEAF10A.yml
Due: none

updated the description in schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/flow_tracking.schema.yml
Due: schemas

fixing comments and pre-commit
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
Due: none

Test: Add more tests
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
  python-avd/pyavd/_schema/models/avd_list.py
  python-avd/tests/pyavd/schema/test_data_combining.py
Due: none

addressing few comments on schema and doc j2
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas, templates

Feat(eos_designs): Add support in j2 description for connected_endpoints_port_channel_interfaces
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyproject.toml
Due: none

adding ingress table
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
Due: templates

removing min/max
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas

Refactor: Missing CI stuff
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
Due: none

added the support of port_channels for router_path_selection
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-wan2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-wan2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-wan2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-wan2.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/DC1_WAN.yml
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
Due: none

Update ansible_collections/arista/avd/examples/isis-ldp-ipvpn/README.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/README.md
Due: none

fix users in the isis-ldp readme
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/README.md
Due: none

Fix(anta_runner): Add input factory to interface tests
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/models.py
Due: none

Add ability to explicitly label connected andpoints or network ports as campus egress (needed for L2 Only)
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_BGP.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  docs/_media/cloudvision_campus_fabric_dashboard_egress.png
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_tags.py
  python-avd/pyavd/_schema/models/avd_base.py
Due: schemas

Preview message
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
Due: schemas

Linting issue
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/cloudvision-tags.md
Due: none

updated the documentation logic and description in schema
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas, templates

added the support of dscp key
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/flow-tracking.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/flow_tracking.schema.yml
Due: schemas, templates

Update host name
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/overlay-routing-protocol-address-family-ipv6.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Address some of the PR review comments
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Changing model for priority groups and adding threshold, reserved and headroom
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-trident.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas, templates

adding resume
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-trident.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas, templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-headroom-pool.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-headroom-pool.j2
Due: templates

Remove action for github ci for now
  .github/workflows/pull-request-management.yml
Due: none

Update docs/contribution/authoring_eos_cli_config_gen.md
  docs/contribution/authoring_eos_cli_config_gen.md
Due: none

CI: Sonar, you shall let these one pass
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

PR review comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CEOS_LAB.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_VEOS_LAB.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CEOS_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_VEOS_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

updated the j2 logic for exclamation mark
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/flow-tracking.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
Due: templates

molecule output
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
Due: none
