Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema>=4.10.3
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

fix typo for sonarcloud exclusion
  .sonarcloud.properties
Due: none

One more docstring
  python-avd/pyavd/_schema/models.py
Due: none

Small fixes
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyproject.toml
Due: none

Reuse refs for collections
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_schema/loader.py
  python-avd/pyavd/_schema/models.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/generate_classes/src_generators.py
  python-avd/schema_tools/metaschema/resolvemodel.py
Due: schemas

fix
  python-avd/pyavd/_schema/loader.py
Due: none

Adjust typevars
  python-avd/pyavd/_schema/models.py
Due: none

Add collection class
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_schema/loader.py
  python-avd/pyavd/_schema/models.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/generate_classes/src_generators.py
  python-avd/tests/schema_tools/generate_classes/test_class_src_gen.py
Due: schemas

Rearrange code and minor improvements
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_schema/coerce_type.py
  python-avd/pyavd/_schema/loader.py
  python-avd/pyavd/_schema/models/__init__.py
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
  python-avd/pyavd/_schema/models/avd_model.py
  python-avd/pyavd/_schema/models/eos_designs_root_model.py
  python-avd/pyavd/_schema/models/type_vars.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/generate_classes/src_generators.py
Due: schemas

Exclude generated class files from sonarcloud
  .sonarcloud.properties
Due: none

update sonarcloud exclusion
  .sonarcloud.properties
Due: none

maybe fix pre-commit
  .pre-commit-config.yaml
Due: none

restructured the aaa, local-users, radius-server and tacacs-server host vars
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-accounting.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-authentication.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-authorization.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-root.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-server-groups.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/local-users.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/radius-server.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/tacacs-servers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2/aaa-accounting-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2/radius-server-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-accounting.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-authentication.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-authorization.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-root.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-server-groups.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/local-users.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/radius-server.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/tacacs-servers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2/aaa-accounting-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2/radius-server-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/local-users.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-root.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-server-groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/local-users.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/tacacs-servers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-accounting-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/radius-server-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/local-users.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Due: none

Fix cornercase where primary key is prefixed
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/tests/schema_tools/generate_classes/test_class_src_gen.py
Due: schemas

fix the CI failure for aaa
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
Due: none

Update ruff
  .pre-commit-config.yaml
  python-avd/pyproject.toml
Due: none

Fix(eos_designs)!: Endpoints PoE and 802.1x configuration for port-channel members
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

fix
  python-avd/tests/pyavd/eos_designs/test_python_class.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Update test
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
Due: none

Prioritize new model for documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
Due: templates

Apply suggestion
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-isis.j2
Due: templates

Molecule output for suggested change
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis.cfg
Due: none

Apply suggestion
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Due: schemas

change the configg structure
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-accounting.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-authentication.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-root.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/aaa-server-groups.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/local-users.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/radius-server.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1/tacacs-servers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2/aaa-accounting-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-asdot.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-accounting.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-authentication.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-root.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/aaa-server-groups.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/local-users.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/radius-server.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1/tacacs-servers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2/aaa-accounting-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Due: none

Update ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

updated the host vars
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-root.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/tacacs-servers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-accounting-2.yml
Due: none

fix the CI failure for last blank line
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-accounting-2.yml
Due: none

Relax schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

Enhance cv_deploy_results by covering details of config validation errors
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-core1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-leaf2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-leaf3.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-leaf4.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-missing.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-spine1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-spine2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Update NTP settings of CI EoS instances
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine2.cfg
Due: none

Attempt to improve molecule report consistency
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Fix(eos_designs)!: Endpoints PoE and 802.1x configuration for port-channel members (#4627)
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

Fix ansible-lint issues
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

updated the file names and improve coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-root.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-server-groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/local-users.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/tacacs-servers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-root.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/tacacs-servers.yml
Due: none

Refactor(cv_deploy): Improve metadata for zscaler
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tunnel-interface-internet-exit.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/zscaler-endpoints.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/zscaler_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/metadata.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_wan.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_zscaler.py
Due: schemas

WIP
  .gitignore
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/contribution/development-tooling.md
  ansible_collections/arista/avd/plugins/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/init_logging.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/python_to_ansible_logging_handler.py
  python-avd/Makefile
  python-avd/pyavd/__init__.py
  python-avd/pyavd/_utils/check_running_from_source.py
  python-avd/pyavd/_utils/hash_dir.py
  python-avd/pyavd/templater.py
  python-avd/scripts/build_schemas.py
  python-avd/scripts/compile_templates.py
Due: none

Doc(pyavd): Update pyavd docs
  ansible_collections/arista/avd/docs/pyavd.md
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
