Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Removed additional po test and updated schema
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

consolidate network services
  python-avd/pyavd/_eos_designs/consolidate/consolidator.py
  python-avd/pyavd/_eos_designs/consolidate/model.py
  python-avd/pyavd/_eos_designs/consolidate/models.py
  python-avd/pyavd/_eos_designs/consolidate/network_services.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/tests/pyavd/test_get_avd_facts_get_device_structured_config.py
Due: none

adjust vlans in facts
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
Due: none

Pre-commit run
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

Refactor consolidated AVD design artifact
  python-avd/pyavd/_eos_designs/avdfacts.py
  python-avd/pyavd/_eos_designs/consolidate/__init__.py
  python-avd/pyavd/_eos_designs/consolidate/connected_endpoints.py
  python-avd/pyavd/_eos_designs/consolidate/consolidator.py
  python-avd/pyavd/_eos_designs/consolidate/model.py
  python-avd/pyavd/_eos_designs/consolidate/models.py
  python-avd/pyavd/_eos_designs/consolidate/network_services.py
  python-avd/pyavd/_eos_designs/consolidate/node.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/mlag.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/connected_endpoints.py
  python-avd/pyavd/_eos_designs/shared_utils/cv_topology.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/flow_tracking.py
  python-avd/pyavd/_eos_designs/shared_utils/interface_descriptions.py
  python-avd/pyavd/_eos_designs/shared_utils/ip_addressing.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_eos_designs/shared_utils/node_type.py
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/shared_utils/platform_mixin.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/ptp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/ip_addressing/__init__.py
  python-avd/pyavd/api/pool_manager/node_id_pools.py
  python-avd/tests/pyavd/api/test_avdpoolmanager.py
  python-avd/tests/pyavd/test_get_avd_facts_get_device_structured_config.py
Due: none

Avoid consolidate package import cycles
  python-avd/pyavd/_eos_designs/avdfacts.py
  python-avd/pyavd/_eos_designs/consolidate/__init__.py
  python-avd/pyavd/_eos_designs/consolidate/consolidator.py
  python-avd/pyavd/_eos_designs/consolidate/model.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/api/schemas/__init__.py
  python-avd/tests/models.py
  python-avd/tests/pyavd/api/test_avdpoolmanager.py
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Adderess all comments
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe3.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Due: schemas

fix e2e testing
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/CONNECTED_ENDPOINTS_WRONG_PROFILE_LACP_FALLBACK/connected-endpoints-wrong-profile-lacp-fallback/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_FAILURE_DEVICES_AND_NODE_KEY_1/failure-devices-and-node-key-1/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_FAILURE_DEVICES_AND_NODE_KEY_2/failure-devices-and-node-key-2/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_MISSING_DEVICES_PARENT_PROFILE/missing-devices-parent-profile/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_MISSING_DEVICES_PROFILE/missing-devices-profile/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_MISSING_DEVICES_TYPE/missing-devices-type/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FAILURE_CONNECTED_ENDPOINT_PARENT_PORT_PROFILE_DOES_NOT_EXIST/failure-connected-endpoint-parent-port-profile-does-not-exist/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FAILURE_CONNECTED_ENDPOINT_PORT_PROFILE_DOES_NOT_EXIST/failure-connected-endpoint-port-profile-does-not-exist/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FAILURE_CONNECTED_ENDPOINT_PORT_PROFILE_DOES_NOT_EXIST_IN_FACTS/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FAILURE_CONNECTED_ENDPOINT_PORT_PROFILE_DOES_NOT_EXIST_IN_FACTS/failure-connected-endpoint-port-profile-does-not-exist-in-facts/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/INVALID_PORT_PROFILE_NETWORK_PORT/invalid-port-profile-network-port/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-wrong-profile-lacp-fallback.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-parent-port-profile-does-not-exist.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-port-profile-does-not-exist.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-port-profile-network-port.yml
  python-avd/pyavd/_eos_designs/consolidate/connected_endpoints.py
  python-avd/pyavd/_eos_designs/consolidate/network_services.py
  python-avd/pyavd/_eos_designs/consolidate/node.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/tests/pyavd/test_get_avd_facts_get_device_structured_config.py
  tools/e2e-test-avd.py
Due: none

Reduce consolidation IPC memory usage
  tools/e2e-test-avd.py
Due: none

Run input consolidation serially
  tools/e2e-test-avd.py
Due: none

AVD issue 7362: Address PR comments
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/address-locking.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/address-locking-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/address_locking.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
Due: schemas

Manage CC in cv_deploy: Address coderabbits comemnts
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  python-avd/pyavd/_cv/workflows/manage_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_manage_change_control_on_cv.py
Due: none

Add test in eos_designs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ipv6-acls-l3-interfaces.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv6-acls-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ipv6-acls-l3-interfaces.yml
Due: none

UPdated description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv6-acls.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_acls.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_acls.schema.yml
Due: schemas

test that VRF-level graceful restart overrides the global setting
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-41.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-from-network-services-41.yml
Due: none

CI: Added integration tests for eos_designs_facts plugin action (#7351)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/aliases
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/defaults/main.yaml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_invalid_fabric_name.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_missing_validated_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_template_output_false.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_template_output_true.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_template_output_true_ansible_2_19_and_above.yml
Due: none

Fix for overlapping modules and functions and collapse things into an installer
  python-avd/pyavd/__init__.py
  python-avd/pyavd/_lazy_import.py
  python-avd/pyavd/api/anta/__init__.py
  python-avd/pyavd/api/schemas/__init__.py
  python-avd/pyavd/api/validation/__init__.py
  python-avd/pyavd/j2filters/__init__.py
  python-avd/tests/pyavd/test_lazy_imports.py
Due: schemas

CI: Added integration tests for validate_inputs plugin action
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_empty_device_list.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_invalid_fabric_name.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_invalid_json_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_templating_worker_failure.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_empty_validation_configuration.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration.yml
Due: none

Feat: Add eos_designs_validate_inputs_template_with_multiprocessing option
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_workers.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/lookup_plugins/forked_lock.py
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_template_in_threads.yml
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/eos_designs_validate_inputs_template_with_multiprocessing.schema.yml
Due: docs-plugin-modules, schemas

typo
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
Due: none

Feat(eos_designs): Add support for graceful_restart at BGP VRF level (#7325)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-graceful-restart-in-vrf-default/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-graceful-restart-in-vrf-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-41.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

AVD issue 7362: Address PR comments 2
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/address-locking-local-interface-and-dhcp-server-interfaces/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-local-interface-and-dhcp-server-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/address-locking-7.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/address-locking-8.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-7.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-8.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-7.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-8.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/address-locking-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/address_locking_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
Due: schemas

AVD issue 7362: Remove eos_cli_config_gen schema prioritization statement
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/address-locking.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/address_locking.schema.yml
Due: schemas

updated the j2 template for catch warning limit as str 0
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

renamed the folder name
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/aliases
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/custom_templates/custom_template1.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/defaults/main.yaml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/templates/README.txt
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/templates/documentation/custom-templates.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/templates/eos/custom-templates.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tests/test_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tests/test_generate_device_doc_only.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tests/test_with_custom_templates_without_end.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tests/test_with_missing_structured_config.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen/tests/test_without_custom_templates_no_toc_no_change.yml
Due: none

fixing condition
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
Due: templates

Added test for no TOC and Custom Templates in doc
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/aliases
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/custom_templates/custom_template1.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/defaults/main.yaml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/templates/README.txt
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/templates/documentation/custom-templates.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/templates/eos/custom-templates.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tests/test_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tests/test_generate_device_doc_only.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tests/test_with_custom_templates_without_end.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tests/test_with_missing_structured_config.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tests/test_without_custom_templates_no_toc_no_change.yml
  ansible_collections/arista/avd/tests/inventory/eos_cli_config_gen_action/expected_output/testhost.cfg
  ansible_collections/arista/avd/tests/inventory/eos_cli_config_gen_action/structured_config/testhost.yml
Due: none

fix the CI failure
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_action/tests/test_without_custom_templates_no_toc_no_change.yml
Due: none

Refactor(eos_designs): Relax requirement for logging_settings.hosts
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-layer1-minimal.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/monitor-layer1-minimal.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-layer1-minimal.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/logging-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
Due: schemas

Feat(eos_cli_config_gen, eos_designs): Add support for `copy_captive_portal` in `ipv6_access_list` (#7341)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-access-lists.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ipv6-acls-l3-interfaces.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv6-acls-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ipv6-acls-l3-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-access-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-access-lists.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv6-acls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/def_access_list_entry.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_access_lists.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas, templates

added new host
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/loggings-settings-without-hosts.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/loggings-settings-without-hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/loggings-settings-without-hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

docs(eos_designs): improve schema descriptions for ipv4_acls and ipv6_acls field substitution
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_acls.schema.yml
Due: schemas

running pre-commit
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Refactor(eos_designs): Make 'logging_settings.hosts' not required (#7372)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/loggings-settings-without-hosts.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/loggings-settings-without-hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/loggings-settings-without-hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/logging-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
Due: schemas

Feat: Add eos_designs_validate_inputs_template_with_multiprocessing option (#7369)
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_workers.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/lookup_plugins/forked_lock.py
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_template_in_threads.yml
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/eos_designs_validate_inputs_template_with_multiprocessing.schema.yml
Due: docs-plugin-modules, schemas

Updated port-channel schema and template similar to ethernet interface
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Fix rr overlay peers peer group
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-4.yml
Due: none
