Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

updated the schema and documenation template
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-radius-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tacacs-source-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-radius-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_radius.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_tacacs.schema.yml
Due: schemas, templates

removing entry
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
Due: none

Update description for new key support
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

fixing deprecation warning in eos_designs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-services-l2-only-false.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Feat(eos_designs): Add support for domain_list in dns_setting
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dns-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dns-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dns-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dns-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dns_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Fix CI
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Update test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dns-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dns-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dns-settings-1.yml
Due: none

Feat(eos_cli_config_gen): Add VRF support for anycast_rps
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-pim-sparse-mode.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Due: schemas, templates

Apply suggestions from code review
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas

Bump: ANTA v1.8.0
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyproject.toml
Due: none

Update doc
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Feat(eos_cli_config_gen, eos_designs): Add ipv6_nd support to vlan_interfaces (#6682)
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-services-l2-only-false.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: schemas, templates

CI(cv_deploy): Molecule coverage for static manifests (#6647)
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configlets/test_manifest_access_lists.txt
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configlets/test_manifest_alias.txt
Due: none

removed extra keys
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
Due: none

Update ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-pim-sparse-mode.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Due: schemas

updated the documentation template
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-pim-sparse-mode.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Due: schemas, templates

rerun the molecule with schema changes
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-pim-sparse-mode.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Due: schemas

Rename to wait_for_workspace_response. Add test coverage
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/create_workspace_on_cv.py
  python-avd/tests/pyavd/cv/client/test_workspace.py
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.workspace.v1.WorkspaceService/Subscribe/www.cv-prod-us-central1-c.arista.io/1560c66d73da2be39448d710f15853fb124b2548.json
  python-avd/tests/pyavd/cv/workflows/test_create_workspace_on_cv.py
Due: none

Improve RP table logic
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
Due: templates

updated the schema and default
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/LEGACY_AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dc1-bl1a.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Due: schemas

Feat(eos_designs): Add support for 'spanning-tree link-type <>' on connected_endpoints and network_ports
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: schemas

Feat(eos_designs): Add support for monitor layer1 and monitor connectivity
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-combined-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-connectivity-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-layer1-minimal.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-layer1-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/monitor-combined-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/monitor-connectivity-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/monitor-layer1-minimal.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/monitor-layer1-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-combined-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-connectivity-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-layer1-minimal.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-layer1-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/logging-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/monitor_connectivity.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Addressed review comments: added required restriction to the keys
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

Addressed review comments: added unit test in network ports
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
Due: none

Apply suggestion from @laxmikantchintakindi
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
Due: templates

Update ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF1.yml
Due: none

Remove primary-key-sequence
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/standard-acl.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/standard-access-lists.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/standard_access_lists.schema.yml
Due: schemas, templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
Due: templates

Refactor(eos_designs): Remove redundant command no neighbor activate when no bgp default ipv4-unicast is configured (#6404)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/LEGACY_AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Due: schemas

Feat(eos_cli_config_gen): Add ipv6_nd support to tunnel_interfaces (#6680)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
Due: schemas, templates

Improve coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/standard-acl.yml
Due: none

Feat: Add anti dormant validation
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/parent-ethernet-interface-switchport-enabled-with-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/parent-port-channel-interface-switchport-enabled-with-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/parent_interfaces/__init__.py
Due: none

Test: Remove one warning in molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-underlay-l2-multicast-group-ipv4-pool.yml
Due: none

Bump: ANTA requirements to v1.8.0 (#6690)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/anta_runner/README.md
  pyproject.toml
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyproject.toml
Due: none

Use specific metadata keys only
  python-avd/pyavd/_cv/schema/__init__.py
  python-avd/schema_tools/constants.py
  schemas/cv_deploy/cv_deploy.schema.yml
  schemas/cv_deploy/schema_fragments/metadata.schema.yml
Due: schemas

Fix(eos_designs): Allow VRF across multiple tenants with MLAG IBGP peering (#6646)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/duplicate-vrfs.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-p2p-vrfs-tests-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-p2p-vrfs-tests-leaf2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/evpn-services-l2-only-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/evpn-services-l2-only-true.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-fabric.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-host.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-ipv6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-platform.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vrfs.py
Due: none

Fix returned exception in async_iterator_with_timeout
  python-avd/tests/pyavd/cv/client/test_workspace.py
Due: none
