Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

WS rebase phase3: Add explicit logs to the main rebase / reset steps
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
Due: none

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
Due: none

Addressed review comments: added test with network services
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/spanning-tree-with-network-services.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/spanning-tree-with-network-services.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-with-network-services.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/spanning_tree_settings.schema.yml
Due: schemas

fixed the pre-commi failure
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-with-network-services.yml
Due: none

fixing cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/eos-config-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-layer1.yml
Due: none

Updated comment
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
Due: none

updated the descriptiopn and unit tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-interface-dhcp-with-accept-default-route-false.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-interface-dhcp-with-accept-default-route-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-interface-dhcp-with-accept-default-route-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-ip-dhcp.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-inband-management-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

Added a unit test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/errdisable-settings.yml
Due: none

Update ansible_collections/arista/avd/tests/unit/action/test_anta_workflow.py
  ansible_collections/arista/avd/tests/unit/action/test_anta_workflow.py
Due: none

moved the common method logic in test itself
  ansible_collections/arista/avd/tests/unit/action/test_anta_workflow.py
Due: none

WS rebase phase3: Refactor workspace_was_synchronized_on_cv
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
Due: none

CI: migrate Codecov from flags to components (#7148)
  .codecov.yml
Due: none

added precedence on doc template
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ntp.j2
Due: templates

fix the doc
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas

Doc: Fix broken link and update galaxy.yml as recommended by RedHat
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/galaxy.yml
Due: none

CI: Remove Sonar workflow and prepare migration to automatic analysis
  .github/workflows/pull-request-management.yml
  .github/workflows/sonar.yml
  .sonarcloud.properties
  sonar-project.properties
Due: none

CI: Remove Sonar workflow and prepare migration to automatic analysis (#7152)
  .github/workflows/pull-request-management.yml
  .github/workflows/sonar.yml
  .sonarcloud.properties
  sonar-project.properties
Due: none

Doc: Fix broken link and update galaxy.yml as recommended by RedHat (#7153)
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/galaxy.yml
Due: none

add a tracker instead of using loop.first. first element could not have ipv6 routing enabled
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-unicast-routing-vrfs.j2
Due: templates

add eos_config_future flag
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/eos-config-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/vrf-instances.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-unicast-routing-vrfs.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas, templates

version increase
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas

version increase
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

version increase
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-unicast-routing-vrfs.j2
Due: templates

corrections 4
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

corrections 5
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add support for environment fan-speed minimum
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/env.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/env.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/env.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/env.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/env.schema.yml
Due: schemas, templates

Feat(plugins): Report metadata version for installed AVD collections
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

Fix(eos_cli_config_gen): Remove unreachable IPv6 address fallback in tunnel interface documentation
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
Due: templates

Fix(eos_cli_config_gen): Remove unreachable IPv6 address fallback in port-channel documentation
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
Due: templates

WS rebase phase3: Refactor retry loop logic
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

WS rebase phase3: Remove stale pylint exception for line qty
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Add node_modules to ignores
  .markdownlint-cli2.yaml
Due: none

CI: Use npm ci for markdownlint job
  .codespellrc
  .github/dependabot.yml
  .github/workflows/pull-request-management.yml
  .gitignore
  package-lock.json
  package.json
Due: none

WIP
  .codespellrc
  .github/dependabot.yml
  .github/workflows/pull-request-autofix.yml
  .github/workflows/pull-request-management.yml
  .gitignore
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

Doc: Add comment to workflow
  .github/workflows/pull-request-autofix.yml
Due: none

Addressed review comments: updated j2 for isis
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-ospfv3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospfv3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospfv3.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospfv3.schema.yml
Due: schemas, templates

updated the def for errdisable_settings schema
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_errdisable_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/errdisable_settings.schema.yml
Due: schemas
