Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update docs/pyavd/simple_example_5_to_6.md
  docs/pyavd/simple_example_5_to_6.md
Due: none

Apply suggestions from code review
  docs/porting-guides/6.x.x.md
Due: none

address comments
  docs/porting-guides/6.x.x.md
  docs/pyavd/simple_example_5_to_6.md
  docs/pyavd/simple_example_6.x.md
  docs/pyavd/simple_example_6_x.md
  python-avd/tests/pyavd/examples/simple/avdbuild.py
  python-avd/tests/pyavd/examples/test_examples.py
Due: none

Update ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 15
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/load-balance-cluster.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-twamp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls-rsvp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

Refactor: Address PR comments and various mkdocs warnings
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
  mkdocs.yml
Due: none

Apply suggestion from @gmuloc
  docs/release-notes/5.x.x.md
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

Doc: Fix broken links in custom strutcured configuration how-to
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

Apply suggestions from code review
  docs/release-notes/5.x.x.md
Due: none

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

updated descriptions and other stuff
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Doc(eos_designs): Fix broken links in custom strutcured configuration how-to (#6454)
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

Doc: Updating porting guide (#6425)
  docs/porting-guides/6.x.x.md
Due: none

Added note
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Doc: Update porting guide entries for removed keys (#6426)
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_6_behaviors.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Initial commit
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Refresh molecule facts
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-border1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-border2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-leaf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-leaf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-border1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-border2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site2-leaf1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site2-leaf2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
Due: none

+ sub-int support for 7500R3
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Doc(anta_runner): Improve anta_runner role documentation with latest changes (#6446)
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Update schemas after rebase
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Feat(eos_designs): Emit warning when detecting eos_cli_config_gen keys while validating eos_designs (#6403)
  .gitignore
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  docs/_media/variables_precedence.png
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
  docs/porting-guides/6.x.x.md
  docs/release-notes/5.x.x.md
  docs/warn-eos-cli-config-keys-usage-in-eos-designs.md
  mkdocs.yml
  pyproject.toml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_validation_configuration.schema.yml
  python-avd/pyavd/_schema/models/eos_designs_root_model.py
  python-avd/pyavd/_schema/schemas.json.gz
  python-avd/pyavd/validate_inputs.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
  python-avd/tests/pyavd/schema/test_model_eos_designs_root_model.py
Due: docs-plugin-modules, schemas

Missing rack in list of variables for dynamic assignment
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Doc: Missing rack in list of variables for dynamic assignment (#6455)
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Doc: Update release notes of 5.x.x to deprecate plugins removed in 6.0
  docs/release-notes/5.x.x.md
Due: none

update the release notes for 5.7
  docs/release-notes/5.x.x.md
Due: none

correcting the file
  docs/release-notes/5.x.x.md
Due: none

Fix(eos_designs): Properly support cv_tags data_path pointing to a false boolean
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/intended/structured_configs/BGP-LEAF1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_BGP.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_tags.py
Due: none

also fix for device tags
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_tags.py
Due: none

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 15 (#6452)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/load-balance-cluster.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-twamp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls-rsvp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

Fix(eos_designs): Adjust defaults of the MTU-related platform_settings settings (#6447)
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-border1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-border2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-leaf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-leaf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-border1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-border2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site2-leaf1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site2-leaf2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Address comments
  docs/_media/excalidraw/pyavd_functions.excalidraw
  docs/_media/pyavd_functions_dark.svg
  docs/_media/pyavd_functions_light.svg
  docs/porting-guides/6.x.x.md
  docs/pyavd/simple_example_5_to_6.md
  docs/pyavd/simple_example_5_x.md
  docs/pyavd/simple_example_6_x.md
  python-avd/tests/pyavd/examples/simple/avdbuild.py
Due: none

Move deprecations to relaese 5.7.3
  docs/release-notes/5.x.x.md
Due: none

Address suggestion
  docs/release-notes/5.x.x.md
Due: none
