Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

refactor node type how to
  ansible_collections/arista/avd/molecule/howto/inventory/host_vars/host1/node_type.yml
  docs/howto/node_types.md
Due: none

Refactor: Make this whole thing nicer
  ansible_collections/arista/avd/requirements-dev.txt
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

CI: Update macos-13 to macos-14 because of extended wait time (#5942)
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
Due: none

CI: Update macos-13 to macos-14 because of extended wait time (#5942) (#5951)
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
Due: none

Doc(eos_designs): Update the section about `is_deployed : false` devices (#5863)
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/is-deployed.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/is_deployed.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_interfaces_towards_undeployed_peers.schema.yml
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Due: schemas

Address PR comments from Carl. Part 3
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
Due: none

Doc(eos_designs): Update the section about `is_deployed : false` devices (#5863) (#5952)
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/is-deployed.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/is_deployed.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_interfaces_towards_undeployed_peers.schema.yml
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Due: schemas

CI: We want coverage more often
  .github/workflows/pull-request-management.yml
Due: none

Porting guide
  docs/porting-guides/6.x.x.md
Due: none

Fix doc and add porting guide
  docs/porting-guides/6.x.x.md
  docs/versioning/semantic-versioning.md
  python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

testing the change on CI
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: schemas

Test: sonar
  .github/workflows/sonar.yml
Due: none

CI: Run additional tasks when we change requirements (#5953)
  .github/workflows/pull-request-management.yml
Due: none

addressing comments on porting guide
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
Due: none

Test: sonar coverage
  python-avd/pyproject.toml
Due: none

removed from deprecated vars
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host3/is_deployed.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
Due: none

moved the setting under node config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
Due: none

Refactor: Only cut arista.cvp in this PR
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.yml
  docs/release-notes/6.x.x.md
Due: none

Cut!: Remove ansible.utils collection from arista.avd Ansible collection requirements
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.yml
  docs/porting-guides/6.x.x.md
  docs/release-notes/6.x.x.md
Due: none

CI: Run little CI, RUN
  .github/workflows/pull-request-management.yml
Due: none

CI: Run additional tasks when we change requirements (#5953) (#5955)
  .github/workflows/pull-request-management.yml
Due: none

Refactor(eos_designs): Change the default false for wan_use_agent_env_var_for_kernel_software_forwarding_ecmp
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/all.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/DC1_WAN.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_LAN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-custom-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-no-ipsec-for-wan-path-group.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-metadata-with-no-default-vrf-in-wan-virtual-topologies.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_use_agent_env_var_for_kernel_software_forwarding_ecmp.schema.yml
Due: schemas

fixing CI
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_2.yml
Due: none

adding the template
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_SYSTEM_MAC_ENGINEID_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_SYSTEM_MAC_ENGINEID_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

Update docs/support/support_overview.md
  docs/support/support_overview.md
Due: none

updating description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

Update docs/release-notes/6.x.x.md
  docs/release-notes/6.x.x.md
Due: none

Bug(cv_deploy): Fix custom Change Control name
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/helpers.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

Fix unit tests
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

updated anta read me
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Fixing as per comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Due: templates

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_2.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas
