Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Bump(pyavd): Add PyYAML to PyAVD dependencies
  python-avd/pyproject.toml
Due: none

Resolve conflicts
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/transceiver.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/transceiver.j2
Due: templates

Test(eos_designs): Add test for rfc5549 with overlay_routing_protocol none
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_L2LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_L2LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_RFC5549_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Remove todo
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_TESTS.yml
Due: none

remove a bgp peer
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_RFC5549_TESTS.yml
Due: none

Remove todo and some comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_RFC5549_TESTS.yml
Due: none

Feat(eos_cli_config_gen): Added support for DLB on ECMP groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-hardware.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-hardware.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_hardware.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add support for queue-monitor length mirror
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/queue-monitor-length.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/queue-monitor-length.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/queue-monitor.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/queue-monitor-length.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/queue_monitor_length.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas, templates

Fix template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/queue-monitor-length.j2
Due: templates

Add testing of template with all fields
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/data/EOS_DESIGNS_UNIT_TESTS-ids.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/fabric_numbering_node_id.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/fabric_numbering_node_id.yml
Due: none

Initial changes to enable E-Tree configuration on VLANs
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlans.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlans.schema.yml
Due: schemas, templates

Update molecule tests
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlans.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlans.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlans.schema.yml
Due: schemas, templates

Fix typos and header inconsistencies
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlans.j2
Due: templates

Feat(eos_cli_config_gen): Add support to generate 'tunnel source <ip_address>' under Tunnel Interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
Due: schemas, templates

molecule output
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
Due: none

Bump: Pre-release 5.5.0-dev2
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlans.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlans.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
Due: templates

Update description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlans.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlans.schema.yml
Due: schemas

Update render to match 4.33
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
Due: templates

removed the convert type and added pattern for mac_address
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-address-table.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_address_table.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/queue-monitor-length.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/queue-monitor-length.j2
Due: templates

Fixing config template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

addressing comments on description
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
Due: schemas, templates

updated the description for flow_set_size
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-hardware.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_hardware.schema.yml
Due: schemas

Implementing config support for ethernet and tunnel
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/queue-monitor-length.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/queue-monitor-length-notifying.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/queue-monitor-length.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/queue-monitor-length.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/queue_monitor_length.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas, templates

updated the code logic
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Refactor(pyavd): Improve typing and add pyright to CI
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  pyproject.toml
  python-avd/pyavd/_anta/utils.py
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/topology.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/flow_tracking.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/platform_mixin.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/dps_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/route_maps.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_zscaler.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/ip_security.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_adaptive_virtual_topology.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_isis.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/j2tests/defined.py
  python-avd/scripts/custom_build_backend.py
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: none

Updating documentation template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/queue-monitor.j2
Due: templates

Fixing typo
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/queue-monitor-length-notifying.yml
Due: none

fixing testcase and error message
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FLOOD_MULTICAST_MISSING_VXLAN_IPV4_POOL.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: none

Adding required: true
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
Due: schemas

Feat(eos_designs): Support to allow/disallow MTU on sub-interfaces through platform_settings
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/default_interface_mtu_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/platform_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/default_interface_mtu_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/platform_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/default_interface_mtu_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/platform_settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
Due: schemas

Refactor(eos_cli_config_gen, eos_designs): Renamed ipv4_segment_size key to ipv4 and ipv6_segment_size ipv6 under tcp_mss_ceiling for consistency accross all model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-path-selection.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-path-selection.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
Due: schemas, templates
