Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Adding fabric links
  docs/_media/eos_snapshot_dark.svg
  docs/_media/eos_snapshot_light.svg
  docs/_media/excalidraw/eos_snapshot.excalidraw
Due: none

Doc(eos_config_deploy_eapi): Updating diagrams
  docs/_media/eos_config_deploy_eapi_dark.svg
  docs/_media/eos_config_deploy_eapi_light.svg
  docs/_media/excalidraw/eos_config_deploy_eapi.excalidraw
Due: none

updating fabric links
  docs/_media/eos_config_deploy_eapi_dark.svg
  docs/_media/eos_config_deploy_eapi_light.svg
  docs/_media/excalidraw/eos_config_deploy_eapi.excalidraw
Due: none

CI: howto molecule cleanup, j2 extensions, artifacts
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-svc-leaf1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/howto/molecule.yml
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Due: schemas

Doc: Rename leaves to leafs (#6493)
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_L3_LEAFS/l3_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_SERVICE_LEAFS/service_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  docs/howto/node_types/README.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
Due: templates

Update ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

Update ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Refactor: Address PR comments
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

CI: howto molecule cleanup, j2 extensions, artifacts (#6495)
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-svc-leaf1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/howto/molecule.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Add support for logging local-interface (#6479)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/logging.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Due: schemas, templates

update schema restrictions in porting guide
  docs/porting-guides/6.x.x.md
Due: none

Fix(eos_cli_config_gen): Correct schema and template for sflow.interface.egress (#6487)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sflow.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
Due: schemas, templates

Address review comments
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_debug.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_tmp_dir.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas

Rename ANTA-related classes and modules
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/base_classes.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/decorators.py
  python-avd/pyavd/_anta/input_factories/hardware.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/logging.py
  python-avd/pyavd/_anta/input_factories/mlag.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/input_factories/routing_ospf.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/system.py
  python-avd/pyavd/_anta/input_factories/vxlan.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyavd/_anta/utils.py
  python-avd/pyavd/api/_anta/__init__.py
  python-avd/pyavd/api/anta/__init__.py
  python-avd/pyavd/api/anta/avd_catalog_generation_settings.py
  python-avd/pyavd/api/anta/avd_fabric_data.py
  python-avd/pyavd/api/anta/avd_test_spec.py
  python-avd/pyavd/get_device_test_catalog.py
  python-avd/tests/pyavd/_anta/test_utils.py
  python-avd/tests/pyavd/api/_anta/test_avd_catalog_generation_settings.py
  python-avd/tests/pyavd/api/_anta/test_avd_test_spec.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Update porting guide
  docs/porting-guides/6.x.x.md
Due: none

Doc(eos_snapshot): Updating diagrams (#6478)
  docs/_media/eos_snapshot_dark.svg
  docs/_media/eos_snapshot_light.svg
  docs/_media/excalidraw/eos_snapshot.excalidraw
Due: none

feat: Add script to extract requirements from pyproject.toml
  .pre-commit-config.yaml
  development/extract_requirements.py
  development/requirements.txt
Due: none

Doc(eos_designs,eos_cli_config_gen): Update roles documentation (#6464)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
Due: none

used anyio for path
  .github/generate_release.py
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyproject.toml
Due: none

Initial commit
  docs/howto/digital_twin/README.md
  mkdocs.yml
Due: none

Doc: Updating 5.7.x release-notes to add avd_debug as a new key for avd_eos_designs_debug
  docs/release-notes/5.x.x.md
Due: none

Fix(eos_designs): Protect against special radius and tacacs+ groups in aaa_settings
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/aaa-settings-radius-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/aaa-settings-tacacs-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

used asyncio to_thread method
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyproject.toml
Due: none

msg fix
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Split tmp_dir into role specific tmp dir variables
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/tmp_path_handlers.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/output_directories.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/output_directories.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_cli_config_gen_tmp_dir.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/eos_designs_tmp_dir.schema.yml
Due: schemas

split avd_debug into role specific variables
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  docs/contribution/eos_designs_internal_notes.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_cli_config_gen_keep_tmp_files.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_debug.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_eos_designs_debug.schema.yml
Due: schemas

updates to ansible test and module docs
  ansible_collections/arista/avd/plugins/modules/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_custom_templates/tests/test_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_structured_cfg_file.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_changed.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_json.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_no_change.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_eos_designs_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_false.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_true.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_without_dest.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_hostvars.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_json_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_yml_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_missing_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_multi_vault_default.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_multi_vault_with_id.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_with_vault.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_without_vault.yml
  docs/plugins/Modules_and_action_plugins/eos_designs_documentation.md
  docs/plugins/Modules_and_action_plugins/eos_designs_facts.md
  docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

Refactor(eos_cli_config_gen): Added the support of new ip radius source interface data model
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-radius-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ip-radius-source-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-radius-source-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-radius-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-radius-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_radius.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_radius_source_interfaces.schema.yml
Due: schemas, templates

update schema file names
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_cli_config_gen_keep_tmp_files.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/eos_designs_keep_tmp_files.schema.yml
Due: schemas

Update docs/release-notes/5.x.x.md
  docs/release-notes/5.x.x.md
Due: none

updated the eos_designs role
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_7_behaviours.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

replacing avd_tmp_dir with eos_designs_tmp_dir and eos_cli_config_gen_tmp_dir
  docs/release-notes/5.x.x.md
Due: none

fix the pre-commit
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
Due: none

renaming host and adding helper method
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/invalid-aaa-settings-tacacs-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/aaa-settings-tacacs-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-aaa-settings-radius-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-aaa-settings-tacacs-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
