Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Test(eos_designs): Add some coverage for bgp-peer-groups (#6406)
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/inet-cloud.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-cleartext-passwords.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-cleartext-passwords.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PASSWORD_ENCRYPTION.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
Due: none

Fix(eos_designs): Also use svi.ip_address for field replacement in ipv4_acls
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Fix CI
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine2.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf1a.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf1b.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-spine1.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-spine2.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-spine2.yml
Due: none

remove duplicates
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PASSWORD_ENCRYPTION.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/core-4-multicast.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
Due: none

Doc: Improve default interface usages in examples (#6033)
  ansible_collections/arista/avd/examples/dual-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf1a.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf1b.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf2a.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf2b.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-spine1.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-spine2.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_L2_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_L3_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2_L2_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2_L3_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2_SPINES.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/FABRIC.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf1a.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf1b.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf2a.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf2b.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-spine1.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-spine2.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-spine1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-spine2.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/group_vars/DC1_L2_LEAVES/l2_leaves.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/group_vars/DC1_L3_LEAVES/l3_leaves.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/DC1_L2_LEAVES/l2_leaves.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/DC1_L3_LEAVES/l3_leaves.yml
Due: none

Some fixes
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/CUSTOM-TEMPLATES-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/CUSTOM-TEMPLATES-SPINE1.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/l3_edge.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/CUSTOM-TEMPLATES-SPINE1.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/l3_edge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/IPV6_NUMBERED_LEAF1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/IPV6_NUMBERED_LEAF1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/IPV6_NUMBERED_LEAF2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-preencrypted-passwords.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_NUMBERED_LEAF1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_NUMBERED_LEAF1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_NUMBERED_LEAF2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-preencrypted-passwords.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PASSWORD_ENCRYPTION.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_LEAFS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
Due: none

Update ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
Due: none

Fix CI
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/inet-cloud.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
Due: none

Remove duplicate natural_sort
  python-avd/pyavd/_anta/input_factories/connectivity.py
Due: none

inital commit
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/generate-default-config.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/generate_default_config.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

remove documentation key and value
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/generate_default_config.schema.yml
Due: schemas

Bump: Use pyavd-utils v0.0.2.dev1
  pyproject.toml
  python-avd/pyproject.toml
Due: none

Enforce underlay_ipv6 when using underlay_ipv6_numbered
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-ipv6-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-ipv6-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-ipv6-1.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: none

Refactor: Move configuration to new plugin
  .gitignore
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
Due: docs-plugin-modules

Test: Make sure eos_cli_config_gen keys are ignored after using new plugin
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-SPINE1.cfg
Due: none

Refactor: Address PR comment
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/ipv6-dhcp-relay.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-dhcp-relay.j2
Due: templates

Fix after rebase
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-ipv6-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-ipv6-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-ipv6-1.yml
Due: none

Refactor: And fix the doc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ipv6-dhcp-relay.j2
Due: templates

Refactor: Fix the multicast snaffu
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-multicast-enabled-disabled-conflict.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_multicast.py
Due: none

Adjust error and add negative test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-underlay-ipv6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: none

Remove avd_eos_cli_config_gen_input_dir
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_custom_templates/tests/test_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_hostvars.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_json_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_yml_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_missing_file.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/read_structured_config_from_file.yml
  python-avd/pyavd/_schema/models/constants.py
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Doc(eos_cli_config_gen): fix deprecated eos_cli_config_gen key (#6415)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/generate-default-config.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/generate_default_config.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Fix(eos_designs): Also use svi.ip_address for field replacement in ipv4_acls (#6413)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Fix when applied to l2 leafs
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: none

update molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
Due: none

Fix(eos_designs): Improve error for missing `underlay_ipv6` when using `underlay_ipv6_numbered` (#6405)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-underlay-ipv6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-ipv6-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-ipv6-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-ipv6-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: none

Fix(eos_cli_config_gen): Add back the read_structured_config_from_file variable (#6418)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_custom_templates/tests/test_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_hostvars.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_json_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_from_yml_file.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_missing_file.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/read_structured_config_from_file.yml
  python-avd/pyavd/_schema/models/constants.py
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Bump: Pre-release 6.0.0-dev7
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Doc: Update custom structured config how-to and remove old test
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
  docs/_media/variables_precedence.png
  python-avd/tests/pyavd/schema/test_model_eos_designs_root_model.py
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/duplicate-vrfs.yml
Due: none

CI: Fix pre-commit
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-multicast-enabled-disabled-conflict.yml
Due: none

Bump: Pre-release 6.0.0-dev7 (#6421)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Update ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
Due: none

CI: Fix new ruff warning
  python-avd/pyavd/_utils/undefined.py
Due: none

Update docs/warn-eos-cli-config-keys-usage-in-eos-designs.md
  docs/warn-eos-cli-config-keys-usage-in-eos-designs.md
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
