Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

fixing pre-commit
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Refactor(eos_designs): Add deprecation for the data-models/keys removed in AVD 6.x
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.schema.yml
Due: schemas

Addressed review comments: removed cast_as
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/hardware-feature-sflow-subinterface-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/hardware-features-7280r.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/hardware-features-custom-platform.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/hardware-feature-sflow-subinterface-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/hardware-features-7280r.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/hardware-features-custom-platform.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/tcam-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/tcam_profiles.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Update schema with adding out param in ipv6 boundries
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Update description of out key
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

Doc(eos_designs): improve schema descriptions for ipv4_acls and ipv6_acls field substitution (#7374)
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_acls.schema.yml
Due: schemas

update documentation - add seconds - update config ordering
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Apply batched suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

run the schema pre-commit
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

Refactor(plugins): Adding support for ip address sorting in natural_sort filter
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
  docs/plugins/Filter_plugins/natural_sort.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-neighbors.j2
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: docs-plugin-filter, templates

updating tests
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Feat(eos_designs): Add support to infinite parent_profiles reference chain
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/port-profiles-circular-reference.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: schemas

updated schema name as avd_design
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration.yml
Due: none

Fix the version specific tests
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration.yml
Due: none

using runme.sh
  ansible_collections/arista/avd/tests/integration/targets/verify_requirements/hosts.yml
  ansible_collections/arista/avd/tests/integration/targets/verify_requirements/playbook.yml
  ansible_collections/arista/avd/tests/integration/targets/verify_requirements/runme.sh
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

Fix negative_tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/__UNSET_FABRIC_NAME__/port-profiles-circular-reference/input_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FARBIC_PORT_PROFILE_CIRCULAR_INHERITANCE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

fixing CI
  ansible_collections/arista/avd/tests/integration/targets/verify_requirements/runme.sh
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

updating requirements
  docs/user-manual/avd-aap.md
Due: none

minor edit
  docs/user-manual/avd-aap.md
Due: none

add login step before push
  docs/user-manual/avd-aap.md
Due: none

updates post review
  docs/user-manual/avd-aap.md
Due: none

Doc: Updating AAP guide for version 2.7
  docs/user-manual/avd-aap.md
Due: none

adding registry credential and grammatical fixes
  docs/_media/getting-started/aap-avd/rc-create-dark.png
  docs/_media/getting-started/aap-avd/rc-create-light.png
  docs/_media/getting-started/aap-avd/save-rc-dark.png
  docs/_media/getting-started/aap-avd/save-rc-light.png
  docs/user-manual/avd-aap.md
Due: none

Path fix and starting private container registry auth
  docs/user-manual/avd-aap.md
Due: none

corrected template selection
  docs/user-manual/avd-aap.md
Due: none

fixes
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_PORT_PROFILE_CIRCULAR_INHERITANCE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/__UNSET_FABRIC_NAME__/port-profiles-circular-reference/input_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_PORT_PROFILE_CIRCULAR_INHERITANCE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/connected-endpoints/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/connected-endpoints/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Fix the default[] fallback
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration_ansible_2_18_and_below.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration_ansible_2_19_and_above.yml
Due: none

FIx the CI failure
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_with_validation_configuration.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/validate_inputs_with_validation_configuration_ansible_2_18_and_below.yaml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/validate_inputs_with_validation_configuration_ansible_2_19_and_above.yaml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.schema.yml
Due: schemas

pre-commit run
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Add support for multilevel inheritance in device_profiles
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE/device-profile-infinite-inheritance/input_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/devices-leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/devices-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DEVICES_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/devices-leaf1b.yml
  python-avd/pyavd/_eos_designs/shared_utils/device_config.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

fixing E2E
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE/device-profile-infinite-inheritance/input_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/device-profile-infinite-inheritance.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE.yml
Due: none

improving coverage
  ansible_collections/arista/avd/tests/integration/targets/verify_requirements/playbook.yml
Due: none

reverting unit tests changes
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

Fix negative_tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/device-profile-infinite-inheritance.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE.yml
  python-avd/pyavd/_eos_designs/shared_utils/device_config.py
Due: none

Update description and fix e2e
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE/avd_facts_error.txt
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Fix all
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
