Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

updated the config to support into lab
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-root.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-server-groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/local-users.yml
Due: none

fix the pre-commit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/local-users.yml
Due: none

updated the j2 logic
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
Due: templates

fixing errors
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Refactore(eos_cli_config_gen): Change the model to support only one direction in link tracking group for the same interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

reverting back the changes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas, templates

addressing comment
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
Due: templates

fixing eos_designs code
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

adding items and fixing description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

removing min_length
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

adding new model for link tracking group
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

addressing comments
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add support for command
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

fix the template for aaa accounting
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-accounting.j2
Due: templates

added the test
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
Due: none

Refactor: Move stuff around, clean logging
  ansible_collections/arista/avd/plugins/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/init_logging.py
  python-avd/pyavd/__init__.py
  python-avd/pyavd/_schema/__init__.py
  python-avd/pyavd/_schema/build_schemas.py
  python-avd/pyavd/_utils/check_running_from_source.py
  python-avd/pyavd/_utils/compile_templates.py
  python-avd/schema_tools/build_schemas.py
  python-avd/scripts/build_schemas.py
  python-avd/scripts/compile_templates.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
Due: templates

add fabric documentation and small updates
  ansible_collections/arista/avd/docs/pyavd.md
  python-avd/pyavd/__init__.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

initial release notes refactoring
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
Due: none

Add additional test case
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Improve documentation output
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Add release notes
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
Due: none

Doc: Site Improvements (#4511)
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  ansible_collections/arista/avd/index.md
  mkdocs.yml
Due: none

CI: Add cryptography to build-templates pre-commit step to pass CI
  .pre-commit-config.yaml
Due: none

Use neutral IPs inside examples
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-structured-configuration.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-structured-configuration.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

review comments 1
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
Due: none

Doc(eos_designs): Update custom_structured_config doc following merge changes in 4.0.0 (#4611)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-structured-configuration.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-structured-configuration.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Due: none

changed the aaa auth dot1x group name
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
Due: none

Run molecule
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-SUPER-SPINE1.yml
Due: none

Update error msg and add negative test
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-p2p-links-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

Feat(eos_desings): Improve settings for
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_isis.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_ospf.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_isis.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_ospf.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

Handle ptp role
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-ptp-profile.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_isis.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_ospf.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-ptp-profile.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_isis.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

Improve coverage and apply suggestion
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-new.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis-new.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Due: schemas

Refactor(eos_cli_config_gen): Add support for MPLS RSVP
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mpls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-rsvp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mpls.schema.yml
Due: schemas, templates

Update get_fabric_documentation.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

adding the remaining attributes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mpls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-rsvp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mpls.schema.yml
Due: schemas, templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

Fix indentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
