Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

addressed review comments: updated the doc table
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/management-settings-console.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/management-settings-login-banner.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/management-settings-motd-banner.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/management-settings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/banners.md
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/banners.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_settings.schema.yml
Due: schemas

fixing yaml lint
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-host-local-interfaces-not-in-interface-sets.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-local-interfaces-not-in-interface-sets.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-vrf-host-local-interfaces-not-in-interface-sets.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-vrf-local-interfaces-not-in-interface-sets.yml
Due: none

updated the host names
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-hosts.yml
Due: none

Adding deprecation test for vlan_inner
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/ipv4_acls.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
Due: none

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
Due: none

Test(eos_designs): Correct the regexes in eos_designs tests (#6790)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
Due: none

Refactor code _get_vlan_ip_config_for_mlag_peering
  python-avd/pyavd/_eos_designs/structured_config/network_services/prefix_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

reverting protocol in ipv6_access_lists
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-access-lists.yml
Due: none

added isis authentication support
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/l3-edge-isis-underlay-auth-cleartext.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/l3-edge-isis-underlay-auth.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/l3-edge-ospf-auth.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/l3-edge-isis-underlay-auth-cleartext.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/l3-edge-isis-underlay-auth.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/l3-edge-ospf-auth.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/l3-edge-isis-underlay-auth-cleartext.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/l3-edge-isis-underlay-auth.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

refactoring code
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Added TODO for default values
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
Due: schemas

adding the todo
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Adding new data-model for ipv4_acl, ipv6_acl and local_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/snmp-server.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2a.yml
Due: none

fixing pre-commit
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Due: none

Modified schema and added logic to account for SA055 mitigations
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/MULTI_VTEP_MLAG_UNDERLAY_IPV6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/MULTI_VTEP_MLAG_WITH_EVPN_L2_GATEWAY.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/MULTI_VTEP_MLAG_WITH_EVPN_L3_GATEWAY.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/multi-vtep-mlag-l3leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/multi-vtep-mlag-l3leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/multi-vtep-mlag-l3leaf2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/multi-vtep-mlag-l3leaf3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/multi-vtep-mlag-l3leaf3b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/multi-vtep-mlag-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/multi-vtep-mlag-l3leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/multi-vtep-mlag-l3leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/multi-vtep-mlag-l3leaf3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/multi-vtep-mlag-l3leaf3b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/MULTI_VTEP_MLAG_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vxlan-interface.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vxlan_interface.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: schemas, templates

Make change backwards compatible
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: schemas

adding monitor-connectivity.md
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/monitor-connectivity.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

moving functions to structured_config_utils
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv6-acls.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_acls.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Apply suggestion from @Vibhu-gslab
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_acls.schema.yml
Due: schemas

CI: move codespell, j2lint, markdownlint and schema-tables checks from pre-commit to GitHub Actions
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
Due: none

CI: Fix the CI failure for ansible version 2.22
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.22.txt
Due: none

Apply suggestions from code review
  .github/workflows/pull-request-management.yml
Due: none

fixing installation command
  .github/workflows/pull-request-management.yml
Due: none

Addressed review comments: updated description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
Due: schemas

CI: Fix molecule and sanity test failures for ansible-core milestone (#6805)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.22.txt
Due: none

fix the comments by keeping all hook locally and skip from CI
  .codespellrc
  .github/workflows/pull-request-management.yml
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  Makefile
Due: none

remove the make entry
  .find-missing-tables-args
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  Makefile
  development/find_missing_tables.py
Due: none

install markdownlint instead of action checkout
  .github/workflows/pull-request-management.yml
Due: none

Updating role references
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  docs/pyavd/pyavd.md
Due: none

removing old requirement
  pyproject.toml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

update scripts location
  docs/scripts/export_excalidraw.py
  pyproject.toml
Due: none

Updating paths for .excalidraw files
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  docs/_media/anta_runner_dark.svg
  docs/_media/anta_runner_light.svg
  docs/_media/avd_workflow_eapi_dark.svg
  docs/_media/avd_workflow_eapi_light.svg
  docs/_media/cv_deploy_dark.svg
  docs/_media/cv_deploy_light.svg
  docs/_media/eos_cli_config_gen_dark.svg
  docs/_media/eos_cli_config_gen_light.svg
  docs/_media/eos_config_deploy_eapi_dark.svg
  docs/_media/eos_config_deploy_eapi_light.svg
  docs/_media/eos_designs_dark.svg
  docs/_media/eos_designs_light.svg
  docs/_media/eos_snapshot_dark.svg
  docs/_media/eos_snapshot_light.svg
  docs/_media/excalidraw/exported/anta_runner_dark.svg
  docs/_media/excalidraw/exported/anta_runner_light.svg
  docs/_media/excalidraw/exported/avd_workflow_eapi_dark.svg
  docs/_media/excalidraw/exported/avd_workflow_eapi_light.svg
  docs/_media/excalidraw/exported/cv_deploy_dark.svg
  docs/_media/excalidraw/exported/cv_deploy_light.svg
  docs/_media/excalidraw/exported/eos_cli_config_gen_dark.svg
  docs/_media/excalidraw/exported/eos_cli_config_gen_light.svg
  docs/_media/excalidraw/exported/eos_config_deploy_eapi_dark.svg
  docs/_media/excalidraw/exported/eos_config_deploy_eapi_light.svg
  docs/_media/excalidraw/exported/eos_designs_dark.svg
  docs/_media/excalidraw/exported/eos_designs_light.svg
  docs/_media/excalidraw/exported/eos_snapshot_dark.svg
  docs/_media/excalidraw/exported/eos_snapshot_light.svg
  docs/_media/excalidraw/exported/pyavd_functions_dark.svg
  docs/_media/excalidraw/exported/pyavd_functions_light.svg
  docs/pyavd/pyavd.md
  docs/scripts/export_excalidraw.py
Due: none

updating role references
  docs/hooks/excalidraw.py
Due: none

Initial work on excalidraw plugin addition
  mkdocs.yml
  pyproject.toml
Due: none

Docs: Add export and auto serve excalidraw based on references.
  docs/hooks/excalidraw.py
  mkdocs.yml
  pyproject.toml
  scripts/export_excalidraw.py
Due: none
