Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Doc(eos_designs): Describe `use_default_mgmt_method_vrf` under logging and dns settings
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dns_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
Due: schemas

Refactor(eos_designs): Use new eos_cli_config_gen model for SSH ACLs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-1.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

Address PR comments
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/get_fabric_documentation.py
Due: schemas

Feat(plugins): Add support for encryption and decryption of radius keys
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  docs/plugins/Filter_plugins/decrypt.md
  docs/plugins/Filter_plugins/encrypt.md
  python-avd/pyavd/_utils/password_utils/__init__.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/tests/pyavd/utils/password/test_password.py
Due: docs-plugin-filter

Feat(eos_designs): Add support to encrypt isis cleartext keys
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-ISIS-SPINE.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_isis.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-ISIS-SPINE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_isis.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/MLAG-ISIS-SPINE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_isis.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/isis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authenticatin_cleartext_key.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: schemas

REmove conditions
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: none

CI: Add ignore for ansible 2.20 when testing devel
  ansible_collections/arista/avd/tests/sanity/ignore-2.20.txt
Due: none

Use cast
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

remove groups for custom templates in eos_designs_unit_tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
Due: none

Refactored management_ssh.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-2.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

test update
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-1.yml
Due: none

Fixing description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_eapi.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

refcatored vrf code
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

Feat(eos_designs): Add support for cleartext_key for ntp_settings.authentication_keys
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ntp.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ntp-authentication-key.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-1.yml
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/tests/integration/targets/filter_password/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/filter_password/vars/main.yml
  docs/plugins/Filter_plugins/decrypt.md
  docs/plugins/Filter_plugins/encrypt.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
  python-avd/pyavd/_utils/password_utils/__init__.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/pyavd/j2filters/decrypt.py
  python-avd/pyavd/j2filters/encrypt.py
  python-avd/tests/pyavd/j2filters/test_encrypt.py
Due: docs-plugin-filter, schemas

Refactor: Make ansible-lint & sanity happy again
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  docs/plugins/Filter_plugins/encrypt.md
Due: docs-plugin-filter

updated the input-variables md file
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Due: none

Test: Add moar coverage
  python-avd/tests/pyavd/utils/password/test_password.py
Due: none

ci: Moar coveagre
  python-avd/tests/pyavd/j2filters/test_decrypt.py
Due: none

Remove test for deprecated key use_inband_mgmt_vrf
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-2.yml
Due: none

updated the aaa root login logic and schema
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

used type-7 password in molecule
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings.yml
Due: none

Update code and description
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authenticatin_cleartext_key.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: schemas

FIx ci
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: none

revert the config changes
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_IPV6_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_IPV6_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_IPV6_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_IPV6_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_IPV6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/core-4-multicast.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: none

Feat(eos_designs): Add new SNMP EngineID algorithms (#5536)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_INBAND_IP.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_INBAND_IP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_INBAND_IP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: schemas

fix the CI failure for incorrect expected_error_message
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/flood-multicast-missing-underlay-multicast-1a.yml
Due: none

Update test
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_isis.yml
Due: none

updated the description for vrfs.name key
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

Refactor: Make it backward compatible only when using the default value
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: none

Doc(eos_designs): Fix typo in SNMP settings documentation for source interface
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

Feat(eos_designs): Fix linting of yaml file (#5536)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_INBAND_IP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.yml
Due: none

fix the code for not rendering source interface of all vrfs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Refcatored code for default vrf
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-2.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

added more unit tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Addressing comments on description and TC
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use_mgmt_interface_vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/management-eapi-vrfs.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/management-eapi-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/management-eapi-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_mgmt_method.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_eapi.schema.yml
Due: schemas
