Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Apply suggestion from @gmuloc
  docs/release-notes/6.x.x.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
Due: schemas

Doc(eos_designs): Fix wrong indentation for prefix-list catalog (#6553)
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Update docs/release-notes/6.x.x.md
  docs/release-notes/6.x.x.md
Due: none

Adjust schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/cvx.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

Add cli and doc templates
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cvx.j2
Due: templates

revert sorting changes
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas, templates

remove schema gz file
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Add node_groups and nodes
  docs/porting-guides/6.x.x.md
Due: none

Fix(eos_designs): Properly support cv_tags data_path pointing to a False boolean (#6552)
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/intended/structured_configs/BGP-LEAF1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_BGP.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_tags.py
Due: none

Doc: Document schema naming changes in AVD 6.0.0 (#6554)
  docs/release-notes/6.x.x.md
Due: none

Add templates
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cvx.j2
Due: templates

Update tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
Due: none

Fix(eos_cli_config_gen): Correct schema and template for sflow.interface.egress (#6550)
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
Due: templates

linder cleanup
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
Due: none

linter
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
Due: none

Refactor: Address PR comment
  docs/porting-guides/6.x.x.md
Due: none

Fix template and tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cvx.j2
Due: templates

typo
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

Bump: Release 5.7.3
  Cargo.toml
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.7.3.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/5.x.x.md
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Fix version for keystone
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/cvx.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

adjust regexp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/cvx.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

Update schema based on feedback
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/cvx.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

Update doc generation
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
Due: templates

EOL
  docs/porting-guides/6.x.x.md
Due: none

Feat(eos_cli_config_gen): Added the support of dhcp client accept default-route under management intrface
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas, templates

updated code to remove handling of None case
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

updated the code
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Feat(eos_cli_config_gen): IPv6 SLAAC support in eos_cli_config_gen management_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas, templates

Doc: Sorting
  docs/porting-guides/6.x.x.md
Due: none

Remove double entry
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Bump: Release 5.7.3 (#6556)
  Cargo.toml
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.7.3.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/5.x.x.md
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Test: Sort out the host name for all molecule
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/cv_workflow/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
Due: none

revert the some changes
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/cv_workflow/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
Due: none

Adding auto-config to all interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host6.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host_inline_jinja.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dps-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dps-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dps-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dps-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dps-interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
