Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Address locking feature support for virtual EOS: Deduplicate ipv4/ipv6 validation blocks
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: none

Removing add_hostname_context
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_structured_cfg_file.yml
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
Due: none

break the loop
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos-profiles.j2
Due: templates

Feat(eos_designs): Add IPv6 ACL support on l3_interfaces for node_type_l3 (port_channel and interface)
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv6-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-port-channels-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_acls.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Fix(eos_cli_config_gen): Optimize ECN threshold detection and fix variable naming in qos-profiles.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos-profiles.j2
Due: templates

Feat(eos_designs): Added the support for source_address on ntp_setting.servers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-mgmt-ip-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-missing-mgmt-ipv4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-vrf-mismatch.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Add more unit tests
  python-avd/tests/pyavd/utils/test_format_string.py
Due: none

fix the long line error
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-mgmt-ip-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-vrf-mismatch.yml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: none

Test: Added the test file for cv_workflow plugin action (#7182)
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/tests/unit/action/test_cv_workflow.py
Due: none

Update ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
Due: none

Added more coverage and updated description
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-invalid-keyword.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Refactor(plugins): Refactor eos_designs_documentation AVD action plugin to use the new AvdActionPlugin base class (#7198)
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
Due: none

CI: Add more coverage surface for Jinja 2 templates (#7179)
  .gitignore
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  development/coverage_plugins/coverage_plugins/jinja/__init__.py
  development/coverage_plugins/coverage_plugins/jinja/models.py
  development/coverage_plugins/coverage_plugins/jinja/source_template.py
  development/coverage_plugins/tests/test_jinja.py
  development/coverage_plugins/tests/test_jinja_report.py
Due: none

Apply suggestion from @Shivani-gslab
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

Remove future, update tests and errors
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-snmp-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
Due: schemas

Test: Add test and some refinments
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/module_utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
Due: none

Add IGP sync render, and update tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
Due: templates

Documentation update for evpn_underlay_isis_overlay_ibgp scenario
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
Due: none

Doc(cv_deploy): Clarify limitation of the device replacement procedure (#7113)
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

updated the description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_mgmt_destination_networks.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_mgmt_gateway.schema.yml
Due: schemas

Fix(eos_cli_config_gen): Make IP ACL max-entry error path testable without invalid molecule fixtures
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ip-access-lists-max-entries-exceeded.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
Due: none

improving coverage
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv6-acl-on-l3-interface-missing-acl.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv6-acl-on-l3-interface-missing-interface-ip.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv6-acl-on-l3-port-channel-missing-interface-ip.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ipv6-acls-l3-interfaces.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv6-acls-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ipv6-acls-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/schedule.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/schedule.schema.yml
Due: schemas

Removed checks and defining default for required values
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos-profiles.j2
Due: templates

Additional test cases
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/vlan-interfaces.yml
Due: none

Fix(eos_cli_config_gen): restore legacy mandatory filter shim
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-access-lists.j2
  python-avd/pyavd/j2filters/_mandatory.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_mandatory.py
Due: templates

Rename method
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

Fix CI
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
Due: none

Fix(eos_cli_config_gen): Update negative molecule error messages
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-not-set.yml
Due: none

Fix(eos_cli_config_gen): Make IP ACL max-entry error path testable without invalid molecule fixtures (#7227)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ip-access-lists-max-entries-exceeded.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-access-lists.j2
  python-avd/pyavd/j2filters/_mandatory.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_mandatory.py
Due: templates

Update description for old key
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

rename onur to acl1
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp_settings.yml
Due: none

Support modular ports conversion
  python-avd/pyavd/_utils/format_string.py
  python-avd/tests/pyavd/utils/test_format_string.py
Due: none

Adjust regex
  python-avd/pyavd/_utils/format_string.py
Due: none

Fix(eos_cli_config_gen): Update ACL negative molecule error message
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ip-access-lists-max-entries-exceeded.yml
Due: none

CI: Run config gen molecule for action plugin changes
  .github/workflows/pull-request-management.yml
Due: none
