Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Bump: Ansible Collection requirements to latest versions
  ansible_collections/arista/avd/collections.yml
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Due: none

Feat(eos_design): Restrict PTP on certain uplinks
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf1-ptp-disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf2-ptp-enabled-uplink-disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf2-ptp-enabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-restrict-uplinks-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf1-ptp-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf2-ptp-enabled-uplink-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf2-ptp-enabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-restrict-uplinks-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/ptp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: schemas

adding default for ptp.uplinks
  python-avd/pyavd/_eos_designs/shared_utils/ptp.py
Due: none

Update title and fix some code blocks
  ansible_collections/arista/avd/examples/dual-dc-l3ls/README.md
Due: none

remove whitespace between list objects
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/FABRIC.yml
Due: none

remove quotes in list objects
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2.yml
Due: none

standardize list objects with brackets
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2.yml
Due: none

Fixes after rebase
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/action_plugin_vars.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
Due: none

Feat(eos_designs): Add support for structured_config inside
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: schemas

updated description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Updated description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Adding extra dependency while installing wheel package
  .github/molecule-ci-requirements.txt
  .github/workflows/pull-request-management.yml
  python-avd/pyproject.toml
Due: none

added the more tests for coverage
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/l3_edge_multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_SPINES.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_multicast.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_multicast_rps.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_msdp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_pim_sparse_mode.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/standard_access_lists.py
Due: schemas

installing wheel with extras
  .github/workflows/pull-request-management.yml
Due: none

CI: Bump pre-commit j2lint version to latest release
  .pre-commit-config.yaml
Due: none

Installing requirments separately
  .github/workflows/pull-request-management.yml
Due: none

Test(pyavd): Improve testing og schema validation
  .coverage
  python-avd/pyavd/_schema/avd_meta_schema.json
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/tests/pyavd/schema/.coverage
  python-avd/tests/pyavd/schema/test_avdschema_bool.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_int.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Due: none

update doc
  docs/contribution/input-variable-validation.md
Due: none

exclude compiled templates from pyright
  pyproject.toml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

add test of required key inside optional dict
  .coverage
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
Due: none

Build pyavd with requirements
  .github/workflows/pull-request-management.yml
Due: none

Remove installing requirements file in each job
  .github/workflows/pull-request-management.yml
Due: none

Update wheel path for sanity tests
  .github/workflows/pull-request-management.yml
Due: none

Update pyproject.toml dynamically
  .github/workflows/pull-request-management.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/agents.j2
Due: templates

molecule output doc
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

Fixed error messages
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-ipvpngw-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-mlag-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-platform-conflict.yml
Due: none

Error checks
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/agents.schema.yml
Due: schemas

Doc: Less intrusive
  .pre-commit-config.yaml
Due: none

remove coverage file added by mistake
  python-avd/tests/pyavd/schema/.coverage
Due: none

using req file for extras
  .github/workflows/pull-request-management.yml
Due: none

CI: Extend pyright config to pyavd because thats how it works
  python-avd/pyproject.toml
Due: none

CI: Remove .coverage file
  .coverage
  .gitignore
Due: none

added extras in pyproject.toml
  .github/workflows/pull-request-management.yml
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
