Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

molecule run
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
Due: none

porting guide
  docs/porting-guides/6.x.x.md
Due: none

remove the unnecessary condition from template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
Due: templates

updated negative tests
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-domain-lookup-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-domain-lookup-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-domain-lookup-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-radius-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-radius-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-radius-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-snmp-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-snmp-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-snmp-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-tacacs-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-tacacs-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-tacacs-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Updated supplicant profile name
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/only-connected-endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/only-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
Due: none

Use match nodes
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Remove descriptions
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-static-routes.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/static-routes.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ipv6_static_routes.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/static_routes.schema.yml
Due: schemas

Cut(eos_designs): Removed deprecated keys from network services
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/TENANTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/static_routes.py
Due: schemas

Fix CI
  python-avd/tests/schema_tools/artifacts/DC1-BL1A.json
  python-avd/tests/schema_tools/artifacts/README.md
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Due: none

Update porting guide
  docs/porting-guides/6.x.x.md
Due: none

Porting guide again
  docs/porting-guides/6.x.x.md
Due: none

Feat(cv_deploy): Support for CV Static Config Studio containers and configlets
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Update typing to models
  python-avd/pyavd/_cv/workflows/models.py
Due: none

revert match nodes
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

updated the schema and code logic
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_l2vlans.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: schemas

cv_deploy proxy vars
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

moving keys to end
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
Due: schemas

Cut(eos_designs): Removed the deprecated keys from name_servers
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/name_servers.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/name_servers.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/dhcp_servers.py
Due: schemas

Cut(eos_designs): Remove deprecated keys for snmp_settings
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/snmp-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: schemas

updated the data model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-api-models.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-models.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-models.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-models.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_models.schema.yml
Due: schemas, templates

run the deprecated vars molecule
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
Due: none

reverting transceiver_qsfp_default_mode_4x10 changes
  python/avdutils/tests/validation/test_validate_json.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
Due: schemas

addressing comments
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

Feat(cv_deploy): Add support for username and password authentication
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: docs-plugin-modules

porting guide fix
  docs/porting-guides/6.x.x.md
Due: none

update artifacts
  python-avd/tests/schema_tools/artifacts/eos_cli_config_gen.schema.yml
Due: none

fixing extra spaces
  docs/porting-guides/6.x.x.md
Due: none

Address review comments
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Update module documentation
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
Due: docs-plugin-modules

Cut(eos_designs): Removed the deprecated keys from def_node_type
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/node_type.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Update artifacts
  python-avd/tests/schema_tools/artifacts/DC1-BL1A.json
  python-avd/tests/schema_tools/artifacts/eos_cli_config_gen.schema.yml
Due: none

addressed review comments: removed artifacts
  python-avd/tests/schema_tools/artifacts/DC1-BL1A.json
Due: none

Update doc
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
Due: docs-plugin-modules

Update cv_deploy README.md
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
Due: docs-plugin-modules

Update role defaults + doc
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
Due: none

Update role main task
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
Due: none

Use conditional proxy for URI module
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none
