Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Refactor(eos_designs, eos_cli_config_gen): Used pyavd-utils instead of cryptography lib for password utils and filter (#6874)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements.txt
  docs/requirements.txt
  pyproject.toml
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/pyavd/_utils/password_utils/password_utils.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/utils/password/test_password_utils.py
Due: none

fixing CI
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: none

Update negative tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-port-channel-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-vlan-id-on-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: none

Fix port-channel configs
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: none

Delete ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
Due: none

Feat(cv_deploy): Add configlet policy to static config manifest (#6872)
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: docs-plugin-modules

Address review comment
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Test(pyavd): Add more unit tests for the static config manifest code (#6899)
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Typo fixes
  docs/howto/cv_deploy/proxy.md
  python-avd/pyavd/_cv/client/proxy.py
Due: none

Adjust condition to fallback to ENV when port is 0 and host is empty string
  python-avd/pyavd/_cv/client/proxy.py
Due: none

Initialize self.cv_proxy_bypass_manager to None during init
  python-avd/pyavd/_cv/client/proxy.py
Due: none

initialize _env_var_proxy_name and _env_var_proxy_content at init
  python-avd/pyavd/_cv/client/proxy.py
Due: none

cleanup tests
  python-avd/tests/pyavd/cv/client/test_cv_client_proxy.py
Due: none

Another typo
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

Adjust code based on PR comments
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Refresh digital twin molecule facts
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-ethernet-ports-1.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-ethernet-ports-3.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital.twin.ethernet.ports.2.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-ethernet-ports-1.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-ethernet-ports-3.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital.twin.ethernet.ports.2.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-ethernet-ports-1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-ethernet-ports-3.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital.twin.ethernet.ports.2.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital-twin-ethernet-ports-1.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital-twin-ethernet-ports-3.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital.twin.ethernet.ports.2.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital-twin-ethernet-ports-1.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital-twin-ethernet-ports-3.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital.twin.ethernet.ports.2.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital-twin-ethernet-ports-1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital-twin-ethernet-ports-3.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital.twin.ethernet.ports.2.yml
Due: none

Make None default for user_input
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

Addressed review comments: updated schema description and added min_length
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-relay.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-relay.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_relay.schema.yml
Due: schemas, templates

use l3leaf instead of l2leaf
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-vlan-id-on-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-vlan-id-on-port-channel-subinterface.yml
Due: none

Use l3leaf
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-port-channel-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-vlan-id-on-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-vlan-id-on-port-channel-subinterface.yml
Due: none

l3leaf
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-port-channel-subinterface.yml
Due: none

updating TC
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
Due: none

updated the defaults for errdisable detect and recovery
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

minor update
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Due: none

updated the unit tests
  ansible_collections/arista/avd/tests/unit/action/conftest.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

Add avd design future
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-ipv6-with-address.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-ipv6-with-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-ipv6-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-ipv6-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-ipv6-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/INBAND_MGMT_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-ipv6-with-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-parent-ipv6-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
Due: schemas

Fix misspelling
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Add comments in inputs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-ipv6-with-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-parent-ipv6-3.yml
Due: none

rename key
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-ipv6-with-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-parent-ipv6-3.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
Due: schemas

fix ci
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-ipv6-only-vrf.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-ipv6-only-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-ipv6-2.yml
Due: none

changing key name
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/underlay-router-with-port-channel-uplink.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Support for type8a radius key (#6897)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-server.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
Due: schemas, templates

moving helper methods to utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/prefix_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Feat(eos_cli_config_gen): Support for DHCP client request flooding suppression (#6895)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dhcp-relay.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-relay.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-relay.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-relay.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_relay.schema.yml
Due: schemas, templates

remove comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-dot1q-encapsulation-vlan-ethernet-subinterface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-vlan-id-on-ethernet-subinterface.yml
Due: none

Refactor(eos_designs): Raise for unsupported combination underlay_router: true and uplink_type: port-channel (#6879)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/underlay-router-with-port-channel-uplink.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Refactor(eos_designs): Refactor `sflow/__init__.py::sflow` using`run_once_method` decorator (#6860)
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

Updated ipv6 redestributed
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospfv3-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_router_ospf.py
Due: schemas

add nodes and links
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/documentation/fabric/DIGITAL_TWIN_CONTAINERLAB-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DC1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DC1_L3_LEAVES.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DIGITAL_TWIN_CONTAINERLAB.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DIGITAL_TWIN_CONTAINERLAB_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DIGITAL_TWIN_CONTAINERLAB_SINGLE_SWITCH_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Feat(eos_designs): Add OSPFv3 support in network services
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ospf-v3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ospf-v3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-ospf-v3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospfv3-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_router_ospf.py
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
