Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

fixing CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

WIP: Stab at pyright typing for pyavd._cv
  .pre-commit-config.yaml
  pyproject.toml
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_utils/batch.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
Due: templates

Feat(eos_designs): Add support for address_locking functionality in vlans
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l2vlan-svi-address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l2vlan-svi-address-locking.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l2vlan-svi-address-locking.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: schemas

addressing comment and fixing ci
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/authentication.j2
Due: templates

updated the code logic for multicast pim sm and static
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

fixing docs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
Due: templates

Feat(eos_cli_config_gen): Add support for Cluster Load Balancing
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/load-balance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load_balance.schema.yml
Due: schemas, templates

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L3LEAFS.yml
Due: none

Add review comments
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

Fix CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

WIP. Pass digital_twin object to eget_fabric_documentation
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-RS2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-SUPER-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-RS2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-SUPER-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/get_fabric_documentation.py
Due: schemas

Adding template for port_groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/load-balance.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/load-balance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load_balance.schema.yml
Due: schemas, templates

moved structure_configs method inot molecule scenario
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Feat(eos_cli_config_gen): Added support for PTP free running
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ptp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/ptp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/ptp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
Due: schemas, templates

fix the documentation heading
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
Due: templates

fix the space issue in heading column
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
Due: templates

Adding doc template for load-balance cluster
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas, templates

updated the logic and inputs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: schemas

updated the host ip
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
Due: none

Changed the table
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Added dot1x config to doc template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

minor fix
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Updated table to render avd-pair if enabled
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

including dot1x_part2 in doc
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

updated the inputs and improved the coverage
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-multicast-with-no-underlay-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_multicast.yml
Due: none

auth only update
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

molecule output
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
Due: none

CI: Make Pre-commit happy again
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
Due: none

Test: Add multiple options to molecule and missing prefixes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/traffic-policies.yml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Bump: Pre-release 5.6.0-dev1
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

Pass full inputs to get_fabric_documentation
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/get_fabric_documentation.py
Due: schemas

Adjust pytest
  python-avd/tests/pyavd/molecule_scenarios/test_get_fabric_documentation.py
Due: none

Fix node_id reordering by GHA CI
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
Due: none
