Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema>=4.10.3
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
Due: none

doc: Address PR comment
  ansible_collections/arista/avd/examples/cv-pathfinder/README.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/cv_pathfinder_settings.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/vault.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/pf1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/pf2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/wan1-site1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/wan1-site2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/wan1-site3.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/wan2-site1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/wan2-site2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/pf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/pf2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/wan1-site1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/wan1-site2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/wan1-site3.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/wan2-site1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/wan2-site2.yml
Due: none

Correcting pre-commit yaml error
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/SITE2.yml
Due: none

Doc: Typi Typo
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Due: none

+ TODO
  python-avd/pyavd/_utils/format_string.py
Due: none

initial how-to
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-string-formatter.md
  mkdocs.yml
Due: none

Add info about deprecations
  ansible_collections/arista/avd/docs/contribution/input-variable-validation.md
Due: none

Refactor(eos_cli_config_gen): Improve schemas with `primary_key/required` (#4563)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-server-groups.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/as-path.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-name-servers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-gnmi.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/roles.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_server_groups.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/as_path.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_name_servers.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_gnmi.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/roles.schema.yml
Due: schemas

fix the redistribute route rip and maximum-advertised-routes issue
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

fix the ipv4 labeled-unicast unsupported command
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

fix the unwanted changes
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces-bgp.yml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Refactor(plugins): Emit errors when both deprecated and new keys are set (#4562)
  ansible_collections/arista/avd/docs/contribution/input-variable-validation.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/removed_keys.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_errors/__init__.py
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validate_structured_config.py
  python-avd/pyavd/validation_result.py
Due: schemas

Doc: Fix missing info in doc related to this change
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Due: none

Address comment, do not sort ACL rules.
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/roles.j2
Due: templates

fix the validate state CI failure
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine2-results.json
Due: none

Add check for network_prefix.area in j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
Due: templates

Add sorting to no_passive_int
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
Due: templates

Fix CI.
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE1.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE2.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/SPINE1.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
Due: none

updated the deprecation key name
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

fix formatting and typos
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-string-formatter.md
Due: none

Bump: re-add jsonschema dependency for ansible-collection target
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  python-avd/pyproject.toml
Due: none

Bump: re-add jsonschema dependency for ansible-collection target in PyAVD (#4572)
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  python-avd/pyproject.toml
Due: none

update titles and sections
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
  mkdocs.yml
Due: none

addressing comments
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/inventory/inventory.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Added tests for cv_submit_workspace_force
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
Due: none

Sanitized switch configs
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine2.cfg
Due: none

Doc: Add README pointing to cv_workflow README
  ansible_collections/arista/avd/molecule/cv_deploy/README.md
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
Due: none

changed playbook order
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

using block-rescue instead of ignore errors
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/inventory/inventory.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Doc: Rename Readme.md to README.md for cv_workflow
  ansible_collections/arista/avd/molecule/cv_workflow/README.md
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
Due: none

reading devices from file
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-core1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/inventory/inventory.yml
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
