Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-test, docs-plugin-vars, schemas

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: system

docs-plugin-filter:
  name: Build documentation for collection filter plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: system

docs-plugin-test:
  name: Build documentation for collection test plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: system

docs-plugin-vars:
  name: Build documentation for collection var plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: system

schemas:
  name: Build AVD Schemas and Docs
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: system
  pass_filenames: false

Update python-avd/pyavd/j2filters/generate_route_target.py
  python-avd/pyavd/j2filters/generate_route_target.py
Due: none

Refactor(plugins): Move jinja filter code for arista.avd.list_compress to PyAVD (#4099)
  ansible_collections/arista/avd/plugins/filter/list_compress.py
  ansible_collections/arista/avd/tests/unit/filters/test_list_compress.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/list_compress.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_list_compress.py
Due: docs-plugin-filter

issue-3270: updated the group name from small to capital in eos design negative test
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_POOLS_DUPLICATE.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_POOLS_MISSING.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_ODD_ID.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_SAME_SUBNET.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-uplink-type-p2p-vrfs-underlay-router-false.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-wan-role-overlay-routing-protocol.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mlag-peer.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/removed-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

issue-3270: fix the blank space issue
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_ODD_ID.yml
Due: none

Refactor(plugins): Move jinja filter code for arista.avd.generate_route_target to PyAVD (#4101)
  ansible_collections/arista/avd/plugins/filter/generate_route_target.py
  ansible_collections/arista/avd/tests/unit/filters/filter_utils.py
  ansible_collections/arista/avd/tests/unit/filters/test_esi_management.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/generate_route_target.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_generate_route_target.py
Due: docs-plugin-filter

Fix(cv_deploy): Improve SWG API handling for Zscaler internet exit (#4090)
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/configlet.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/inventory.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/studio.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/swg.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/tag.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/workspace.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils_zscaler.py
Due: none

Update python-avd/pyavd/j2filters/add_md_toc.py
  python-avd/pyavd/j2filters/add_md_toc.py
Due: none

issue-4041: updated the description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-neighbor.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_neighbors.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

issue-4041
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ipv6-neighbors.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ipv6-neighbors.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ipv6-neighbors.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-neighbor.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_neighbors.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-neighbors.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Update Makefile
  python-avd/Makefile
Due: none

Update ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/arp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/arp.schema.yml
Due: schemas

Apply suggestions from code review for space in doc
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-neighbors.j2
Due: none

Refactor(plugins): Move jinja filter code for arista.avd.add_md_toc to PyAVD (#4104)
  .github/.markdownlintignore
  ansible_collections/arista/avd/plugins/filter/add_md_toc.py
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  python-avd/Makefile
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/j2filters/add_md_toc.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_add_md_toc.py
  python-avd/tests/pyavd/j2filters/toc_files/expected_output_toc_at_bottom.md
  python-avd/tests/pyavd/j2filters/toc_files/expected_toc.md
  python-avd/tests/pyavd/j2filters/toc_files/invalid_file.md
  python-avd/tests/pyavd/j2filters/toc_files/markers_at_bottom.md
  python-avd/tests/pyavd/j2filters/toc_files/valid_file.md
Due: docs-plugin-filter

Refactor(plugins): Move jinja filter code for arista.avd.hide_passwords to PyAVD
  ansible_collections/arista/avd/plugins/filter/hide_passwords.py
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_hide_passwords.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/hide_passwords.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_hide_passwords.py
Due: docs-plugin-filter

Fixing the CI fail and some typos
  python-avd/pyavd/j2filters/hide_passwords.py
  python-avd/tests/pyavd/j2filters/test_hide_passwords.py
Due: none

doc: Add breaking change in release-notes
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
Due: none

Apply suggestions from code review
  python-avd/pyavd/j2filters/hide_passwords.py
Due: none

Test-case update
  python-avd/tests/pyavd/j2filters/test_hide_passwords.py
Due: none

fixes after rebase
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
Due: none

Refactor(eos_designs): Move eos_designs_facts to pyavd
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/mlag.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/utils.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/mlag.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/overlay.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/short_esi.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/wan.py
  python-avd/pyavd/get_avd_facts.py
Due: none

.
  .github/requirements-ci.txt
  .github/workflows/pull-request-management.yml
Due: none

Refactor(eos_designs): Move eos_designs_facts to pyavd
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
Due: none

I need more mana
  .github/workflows/pull-request-management.yml
Due: none

more logs
  .github/workflows/pull-request-management.yml
Due: none

juggling requirements
  .github/requirements-ci-anta.txt
  .github/requirements-ci.txt
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/roles/eos_validate_state/preview_requirements.txt
Due: none

juggling requirements
  .github/workflows/pull-request-management.yml
Due: none

fix doc
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
Due: none

Apply suggestion
  python-avd/pyavd/j2filters/hide_passwords.py
Due: none

juggling requirements
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
Due: none

Fix(eos_designs): Address ipv4_acl_in/out not working for WAN l3 subinterfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Due: none

Updates
  .github/workflows/pull-request-management.yml
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
Due: none

Refactor: Support custom-templates again
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/custom-templates.cfg
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/custom-templates.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/custom-templates.j2
  python-avd/pyavd/j2templates/eos-device-documentation.j2
  python-avd/pyavd/j2templates/eos-intended-config.j2
Due: none

Feat(eos_cli_config_gen): Adding option for arp cache persistent and arp persistent refresh-delay (#4109)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/arp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/arp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/arp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/arp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/arp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/arp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/arp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Fix(eos_designs): Sanitize interface names in ACLs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ipv4-acls.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ipv4-acls.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
Due: none

Feat(eos_cli_config_gen): Support of static IPv6 neighbor entries (#4075)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ipv6-neighbors.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ipv6-neighbors.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ipv6-neighbors.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-neighbor.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_neighbors.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-neighbors.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Fix: Adjust inventory group names in molecule tests to follow Ansible guidelines (#4097)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/DUPLICATE_IP_ADDRESS_ROUTER_BGP.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/DUPLICATE_VLANS_MLAG.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_POOLS_DUPLICATE.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_POOLS_MISSING.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_ODD_ID.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_SAME_SUBNET.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-uplink-type-p2p-vrfs-underlay-router-false.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-wan-role-overlay-routing-protocol.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mlag-peer.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/removed-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_CUSTOM_CONTROL_PLANE_POLICY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Refactor(plugins): Move jinja filter code for arista.avd.hide_passwords to PyAVD (#4112)
  ansible_collections/arista/avd/plugins/filter/hide_passwords.py
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_hide_passwords.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/hide_passwords.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_hide_passwords.py
Due: docs-plugin-filter

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: ansible_collections/arista/avd/roles/[a-z_]+/schemas
