Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Doc: Add porting guide entry
  docs/porting-guides/6.x.x.md
Due: none

Refactor: Address PR discussion
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_AND_IP_INBAND.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP_OOB.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_AND_IP_INBAND.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP_OOB.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_HOSTNAME_AND_IP_INBAND.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP_OOB.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_INBAND_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: schemas

Add unit tests
  python-avd/pyavd/api/_anta/avd_catalog_generation_settings.py
  python-avd/tests/pyavd/api/anta/test_avd_catalog_generation_settings.py
  python-avd/tests/pyavd/api/anta/test_avd_test_spec.py
Due: none

Fixed requested typo errors. And inprove some code in documentation
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-loop-protection.j2
Due: templates

Test: Moleculing the molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_INBAND.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_OOB.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_INBAND.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_OOB.yml
Due: none

new molecule files
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Change folder name
  python-avd/tests/pyavd/api/_anta/test_avd_catalog_generation_settings.py
  python-avd/tests/pyavd/api/_anta/test_avd_test_spec.py
Due: none

Change everything
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_switch_facts_default_dict.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
  python-avd/pyavd/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_errors/__init__.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/json_path_to_string.py
  python-avd/pyavd/api/schemas/__init__.py
  python-avd/pyavd/api/validation/__init__.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/load_design.py
  python-avd/pyavd/load_eos_config.py
  python-avd/pyavd/load_inputs.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validate_structured_config.py
  python-avd/pyavd/validation_result.py
  python-avd/tests/pyavd/molecule_scenarios/test_load_design.py
Due: schemas

ansible sanity is joy
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_switch_facts_default_dict.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/deprecated_dict.py
Due: none

Fix(eos_designs): Allow for Tacacs+ and Radius servers without groups defined by using default
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Refactor: Remove the default
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Update porting guide
  docs/porting-guides/6.x.x.md
Due: none

Bump: ANTA requirements to v1.7.0
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_filtered_report/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.md
  pyproject.toml
  python-avd/pyproject.toml
Due: none

fix pytest
  python-avd/pyavd/__init__.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/load_eos_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_doc.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_negative_eos_designs.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_structured_config.py
Due: none

Add porting guide entry
  docs/porting-guides/6.x.x.md
Due: none

update schema
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Refactor(eos_cli_config_gen)!: Changed the input data model for ip_telnet_client_source_interfaces to ip_telnet_client (#6231)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-telnet-client-source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_telnet_client.schema.yml
Due: schemas, templates

Refactor(eos_cli_config_gen): Changed the input data model from ip_tftp_client_source_interfaces to ip_tftp_client (#6237)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-tftp-client-source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tftp-client-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tftp-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_tftp_client.schema.yml
Due: schemas, templates

weird fix
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_config.py
Due: none

Bump: ANTA requirements to v1.7.0 (#6268)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_filtered_report/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.md
  docs/porting-guides/6.x.x.md
  pyproject.toml
  python-avd/pyproject.toml
Due: none

Refactor(eos_designs): Move kernel_ecmp_cli to node_type (#6256)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/devices.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/agents.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/kernel_settings.py
Due: schemas

updates from conversations
  docs/getting-started/cv-deploy-porting.md
Due: none

Fix(eos_designs): Allow for Tacacs+ and Radius servers without groups defined in aaa_settings (#6267)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas

Refactor(eos_designs)!: Rename wan_mode autovpn to legacy-autovpn (#6264)
  ansible_collections/arista/avd/examples/cv-pathfinder/README.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acl-in-missing-on-wan-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-default-policy-wan-control-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-control-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-policy-in-traffic-vrfs.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-router-vtep-ip-in-route-reflector-listen-range-prefixes.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-cv-interface-tags-test.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge-no-default-policy.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-empty-load-balance-policy.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/LEGACY_AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-route-servers.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_route_servers.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_path_selection.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_wan.py
Due: schemas

Add additional comments and simplify tests based on PR comments
  python-avd/tests/pyavd/cv/workflows/test_deploy_tags_to_cv.py
Due: none

added the test
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/errdisable.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
Due: templates

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
Due: templates

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-2.cfg
Due: none

fix (in)sanity
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
Due: none

Doc(cv_deploy): cv_deploy migration documentation update (#6117)
  docs/getting-started/cv-deploy-porting.md
Due: none

fix test
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
Due: none

.
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_cli_config_gen_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_doc.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_structured_config.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Due: none

Fix(eos_cli_config_gen): Fix the errdisable configuration error by adding default in j2 template (#6263)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/errdisable.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
Due: templates

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
Due: schemas
