Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

CI: Make pre-commit happy
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

add option return_structured_config
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_changed.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_no_change.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_eos_designs_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_false.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_true.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_without_dest.yml
  ansible_collections/arista/avd/tests/inventory/eos_designs_structured_config/expected_output/eos_designs_structured_config_ansible_facts.yml
  docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
Due: docs-plugin-modules

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
Due: templates

add schema for avd_eos_designs_return_structured_config
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_eos_designs_return_structured_config.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Addressed review comments: updated porting guide entry
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_adaptive_virtual_topology.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

moving the check for uplink_switch_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_TESTS_3.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
Due: none

Changing the model
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-link-flap-policy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-link-flap-policy.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-link-flap-policy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap-policy.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_link_flap_policy.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas, templates

moving description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-link-flap-policy.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_link_flap_policy.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

moving description and adding ignore_case to profiles
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-link-flap-policy.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap-policy.j2
Due: templates

Refactor(eos_cli_config_gen)!: Allow for multiple radius-server with the same host to render both TLS and non-TLS server (#6287)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-server.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas, templates

adding isdigit check
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
Due: none

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Apply suggestion from @gmuloc
  docs/porting-guides/6.x.x.md
Due: none

addressed review comments: updated exit in router-general
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-isis.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas, templates

fixing eos_designs_negative_unit_tests error
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_INTERFACES_TOO_SMALL.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_ID_UPLINK_SWITCH_INTERFACES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-cv-topology-uplink-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

qos-profiles
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/qos-profiles.j2
Due: templates

Doc: Update terminology for Arista AVD data models (#6202)
  ansible_collections/arista/avd/examples/campus-fabric/README.md
  ansible_collections/arista/avd/examples/l2ls-fabric/README.md
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-structured-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-zscaler-integration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/zscaler-endpoints.md
  docs/contribution/authoring_eos_cli_config_gen.md
  docs/contribution/input-variable-validation.md
  docs/data-models/README.md
  docs/howto/connected_endpoints/README.md
  docs/howto/node_types/README.md
  docs/input-variables/README.md
  docs/porting-guides/6.x.x.md
  docs/pyavd/pyavd.md
  mkdocs.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_structured_configuration_prefix.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_token.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_mgmt_method.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_her_flood_list_per_vni.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/queue_monitor_length.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/zscaler_endpoints.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Doc: review examples for 6.0 (#6311)
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_NETWORK_PORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/group_vars/DC1_SPINES/spines.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/DC1_SPINES/spines.yml
Due: none

Refactor(eos_designs): Add additional support for ISIS advertise passive only (#6378)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MLAG-ISIS-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MLAG-ISIS-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/core-6-isis-ldp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-ISIS-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-ISIS-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/core-6-isis-ldp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/isis-system-id-format-using-node-id.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/isis-system-id-format-using-underlay-loopback.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network_services_point_to_point.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_ISIS_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/core-6-isis-ldp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_isis.py
Due: none

CI: Fix formatting in pull-request-comment (#6392)
  .github/workflows/pull-request-comment.yml
Due: none

Feat(eos_designs): Added the support for router_id as ptp source_ip (#6361)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-ptp-source-ip-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-router-id-for-ptp-source-ip.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_SPINES.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Test: Make molecule eos_designs_unit_test work well with ansible 2.19
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
Due: none

CI: Make ruff happy
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
Due: none

Refactor(eos_designs): Add a method in AvdActionPlugin to handle exceptions
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
Due: none

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_DOWNLINK_INTERFACES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_TESTS_1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_TESTS_2.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
Due: none

Refactor: Clean up
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
Due: none

sorted the host in hosts.yml file
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

CI: Make ansible-sanity happy
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/run_molecule_wrapper.sh
Due: none

CI: MAke pre-commit happier
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
Due: none

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 8 (#6296)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interface-tx-queues.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interface-uc-tx-queues.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas, templates

Doc: Improve default interface usages
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf1a.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf1b.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf2a.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-leaf2b.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-spine1.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/devices/dc2-spine2.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_L2_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_L3_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2_L2_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2_L3_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC2_SPINES.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/FABRIC.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf1a.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf1b.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf2a.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-leaf2b.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-spine1.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/configs/dc2-spine2.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-spine1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-spine2.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/group_vars/DC1_L2_LEAVES/l2_leaves.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/group_vars/DC1_L3_LEAVES/l3_leaves.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/DC1_L2_LEAVES/l2_leaves.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/DC1_L3_LEAVES/l3_leaves.yml
Due: none

fix ip address in doc
  ansible_collections/arista/avd/examples/dual-dc-l3ls/README.md
Due: none

Duplicate local users based on PR feedback
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE1.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
Due: none

Update molecule facts
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/only-connected-endpoints.yml
Due: none
