Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Refactor(eos_designs): Added min_lenght for network_posts switches
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_ports.schema.yml
Due: schemas

addressing comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-to-ipvpn-gateway.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-to-ipvpn-gateway.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

updating porting guide
  docs/porting-guides/6.x.x.md
Due: none

Doc: Fall cleaning
  docs/_media/avd_roles_dark.svg
  docs/_media/avd_roles_light.svg
  docs/_media/eos_config_deploy_cvp_dark.svg
  docs/_media/eos_config_deploy_cvp_light.svg
  docs/_media/excalidraw/avd_roles.excalidraw
  docs/_media/excalidraw/eos_config_deploy_cvp.excalidraw
Due: none

Feat(eos_designs): Adding support for link-tracking downlinks on l3leaf to l2leaf
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Removing ip_addressing templates from eos_designs
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/custom_templates/ip_addressing/avd-v2-spine-p2p-uplinks-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/custom_templates/ip_addressing/avd-v2-spine-p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ibgp-peering-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ibgp-peering-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/p2p-uplinks-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/router-id-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/vtep-ip-mlag.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/vtep-ip.j2
  docs/porting-guides/6.x.x.md
Due: none

Refactor: Address PR comments
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  docs/porting-guides/6.x.x.md
Due: none

Refactor: Address PR comments
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
Due: none

Bump: Pre-release 6.0.0-dev1
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

Remove cv_ prefix from proxy-related vars
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
Due: docs-plugin-modules

Improve cv_deploy molecule logic when setting http proxy
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Hide proxy_password from cv_deploy outputs
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
Due: none

Address PR comments
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

Address PR comments
  python-avd/pyproject.toml
Due: none

Fix Sonar's hard-coded credential
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
Due: none

Address review comments
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/log_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/log_handlers.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

Address review comments
  python-avd/pyavd/_cv/client/models.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Update Self import
  python-avd/pyavd/_cv/client/models.py
Due: none

adding description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

adding asn at one more place
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-to-ipvpn-gateway.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-to-ipvpn-gateway.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

Refactor(eos_designs): Changed the default value of default_evpn_role and default_overlay_routing_protocol for wan_router and wan_rr node type
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
Due: schemas

Cut(eos_designs)Removed the deprecated keys from defs_p2p_links schema
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

removed to do comment
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
Due: schemas

updated molecule host vars
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
Due: none

Update description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Fix description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

CI: Fix new ruff liniting rules
  python-avd/tests/pyavd/schema/test_data_combining.py
Due: none

updated the porting guide
  docs/porting-guides/6.x.x.md
Due: none

fix the porting guide
  docs/porting-guides/6.x.x.md
Due: none

Refactor(eos_designs): Rewrite SNMP Location: snmp_settings.location using fstring
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

Feat(eos_designs, eos_cli_config_gen): Add Serial number if document in YMLs to Fabric-topology and fabric-p2ps CSV and eos_cli_config_gen documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/serial_number.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/serial_number.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: templates

addressed review comments: updated deprecated vars tests
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-p2p-links-more-than-2-nodes.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

addressed review comments: updated docs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
Due: templates

Updated porting guide
  docs/porting-guides/6.x.x.md
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
