Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Refactor evpn_soo method
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
Due: none

Adding outer if check for sand and fap
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
Due: templates

Updated description
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas

Fix CI
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-border1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-border2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-leaf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-leaf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-border1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-border2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site2-leaf1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site2-leaf2.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf2.yml
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Correct shared_utils property
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

updated the logic to use vrf_logging_config only for duplicate check
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interface-conflict-in-logging-vrf-config.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Modify the property
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

put back deprecated data model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

fix doc logic and depprecation warning
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

remove commented out variable
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
Due: none

Add negative tests
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dns-settings-missing-inband-mgmt.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dns-settings-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dns-settings-missing-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces.yml
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Test(eos_designs): Add pytest coverage for structured_config/base/utils.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/source-interfaces-no-mgmt-interface.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/source-interfaces-no-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces-no-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Removing conditions on WAN HA MTU
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: none

removing extra lines
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces-no-mgmt-interface.yml
Due: none

Use peer_interface var
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  pyproject.toml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

rename var
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Refactor(pyavd): Improve typing and type checking
  pyproject.toml
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_utils/default.py
  python-avd/pyavd/_utils/format_string.py
  python-avd/pyavd/_utils/get.py
  python-avd/pyavd/_utils/get_ip_from_pool.py
  python-avd/pyavd/_utils/load_python_class.py
  python-avd/pyavd/_utils/merge/__init__.py
  python-avd/pyavd/_utils/merge/mergeonschema.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/pyavd/_utils/password_utils/password_utils.py
  python-avd/pyavd/_utils/template.py
  python-avd/pyavd/_utils/template_var.py
Due: none

updated the j2 template to removed the applied on column
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/flow_tracking.schema.yml
Due: schemas, templates

exclude overloads from coverage
  python-avd/pyproject.toml
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF.yml
Due: none

Simplify code since we cannot produce a duplicate parent port-channel interface
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Due: none

Fix: Missing logic to properly generate fap
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
Due: templates

Move code to set_l3_port_channel and avoid use of internal data
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_schema/models/avd_base.py
Due: none

Rename var
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Correct comments
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
Due: none

Update ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Update python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

updated the schema descriptions
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_multicast.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_multicast.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_multicast_rps.schema.yml
Due: schemas

fixing headroom pool limit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/platform.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-headroom-pool.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas, templates

updated description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
Due: schemas

updated the code logic to remove the extra loop over static_peers
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/dns_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dns_settings.schema.yml
Due: schemas

Test: Add test for port-channel when te is enabled
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
Due: none

Test: Add test for port-channel when te is enabled
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

adding valid values to egress unicast/multicast threshold
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas

Adding doc table and key descriptions
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel.schema.yml
Due: schemas, templates

Updated doc table
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
Due: templates

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_numbering_node_id_pool_key.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_numbering_node_id_pool_key.schema.yml
Due: schemas

fix
  python-avd/pyavd/api/pool_manager/node_id_pools.py
Due: none

Refactor: Address PR comments
  python-avd/pyavd/_schema/models/avd_indexed_list.py
  python-avd/pyavd/_schema/models/avd_list.py
  python-avd/pyavd/_schema/models/avd_model.py
  python-avd/tests/pyavd/schema/test_data_combining.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
