Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

using arista.avd.default([]) instead of if condition
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

updating tests file with catalogs
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_anta_runner_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
  python-avd/tests/utils.py
Due: none

updated the comment
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Due: none

Addressing line too long error
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use_mgmt_interface_vrf.yml
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use_mgmt_interface_vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use_mgmt_interface_vrf.yml
Due: none

Update python-avd/pyavd/api/_anta/test_spec.py
  python-avd/pyavd/api/_anta/test_spec.py
Due: none

Address PR comments
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Address PR comemnts
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
Due: none

Use ACT's default creds for veos and cloudeos
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-RS2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-SUPER-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-RS2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-SUPER-SPINE2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
Due: schemas

ACT eAPI override initial commit
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD2-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD2-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD2-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD2-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD2-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD2-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

changing files name
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use-inband-mgmt-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use-mgmt-interface-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_proxy.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_proxy.schema.yml
Due: schemas

addressing comments on orders
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-proxy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-proxy.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas, templates

fixing .j2 for host
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

added the unit test function for anta
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
  python-avd/tests/utils.py
Due: none

Add IPv6 test
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/traffic-policies.yml
Due: none

Fix counter generation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
Due: templates

removed the comments
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Doc(eos_cli_config_gen): Create a table for radius av-pair in dot1x
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

updated the code logic
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Add support for lanes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

Add more tests
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
Due: none

FIx CI
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
Due: templates

Adding space
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
Due: templates

Avoid rendering fabric sub-interfaces for ACT topology connections
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD1-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/data/test-ids.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/hosts.yml
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Adjust ansible port
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD1-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/hosts.yml
Due: none

Creating separate table
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
Due: templates

Update ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

Fixing CI and addressing comments
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-proxy.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_proxy.schema.yml
Due: schemas, templates

added the filter logic
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none
