Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

fixing evpn_underlay_ebgp_overlay_ebgp
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/host_vars/DC1-BL1A.yml
Due: none

CI: Yes, please, run
  .github/workflows/pull-request-management.yml
Due: none

Update docs/pyavd/pyavd.md
  docs/pyavd/pyavd.md
Due: none

Refactor(anta_runner): Refactor input factories to use generators and eliminate duplicate logging (#6189)
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/_decorators.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/hardware.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/logging.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/system.py
  python-avd/pyavd/_anta/logs.py
Due: none

Update schemas after rebase
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Doc: Update PyAVD documentation (#6201)
  docs/pyavd/pyavd.md
Due: none

CI: Make tox happy again for now
  .github/workflows/pull-request-management.yml
  tox.ini
Due: none

add brainstorm
  docs/howto/brainstorm.md
  docs/howto/node_types.md
Due: none

Refactor
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-aaa-accounting-missing-radius-groups-or-syslog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-aaa-accounting-radius-groups-not-defined.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-aaa-authentication-missing-radius-groups.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-aaa-authentication-radius-groups-not-defined.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-aaa-authorization-dynamic-radius-groups-not-defined.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/LEAF1_DOT1X_EVPN_REDISTRIBUTION_ENABLED.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/LEAF1_DOT1X_EVPN_REDISTRIBUTION_ENABLED_VLAN_AWARE_BUNDLES.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/LEAF2_DOT1X_EVPN_REDISTRIBUTION_DISABLED.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/LEAF2_DOT1X_EVPN_REDISTRIBUTION_DISABLED_VLAN_AWARE_BUNDLES.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/LEAF1_DOT1X_EVPN_REDISTRIBUTION_ENABLED.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/LEAF1_DOT1X_EVPN_REDISTRIBUTION_ENABLED_VLAN_AWARE_BUNDLES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/LEAF2_DOT1X_EVPN_REDISTRIBUTION_DISABLED.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/LEAF2_DOT1X_EVPN_REDISTRIBUTION_DISABLED_VLAN_AWARE_BUNDLES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/LEAF1_DOT1X_EVPN_REDISTRIBUTION_ENABLED.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/LEAF1_DOT1X_EVPN_REDISTRIBUTION_ENABLED_VLAN_AWARE_BUNDLES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/LEAF2_DOT1X_EVPN_REDISTRIBUTION_DISABLED.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/LEAF2_DOT1X_EVPN_REDISTRIBUTION_DISABLED_VLAN_AWARE_BUNDLES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

Removed leftovers
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Update porting guide
  docs/porting-guides/6.x.x.md
Due: none

updated the schema descriptiom
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/errdisable.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas

updated the error message
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sflow-settings-missing-destinations.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Alexey first commit
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/inventory.py
  python-avd/pyavd/_cv/client/models.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/client/swg.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/verify_devices_on_cv.py
  python-avd/pyavd/_utils/guaranteed_not_none.py
  python-avd/tests/pyavd/cv/client/test_async_decorators.py
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.studio.v1.InputsService/GetAll/www.cv-prod-us-central1-c.arista.io/699d510822d4325c4d796d483a12a46655c2979c.json
  python-avd/tests/pyavd/cv/mockery.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
Due: none

Relax errors/warnings
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Refactor(eos_cli_config_gen): default-gateway is not supported for dhcp server ipv6 subnet
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_dhcp_servers_subnets.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_servers.schema.yml
Due: schemas, templates

porting guide
  docs/porting-guides/6.x.x.md
Due: none

Refactor(eos_cli_config_gen): EOS cli config order changes as per 4.35.0F part4
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-neighbors.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-prefix-lists.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-standard-acl.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/l2-protocol-forwarding.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-neighbors.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-prefix-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-unicast-routing-vrfs.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/l2-protocol-forwarding.j2
Due: templates

fix the error message in molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sflow-settings-missing-destinations.yml
Due: none

fix the CI failure
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/l2-protocol-forwarding.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
Due: none

doc fix
  docs/porting-guides/6.x.x.md
Due: none

Update python-avd/pyproject.toml
  python-avd/pyproject.toml
Due: none

updated code and schema description
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sflow-settings-missing-destinations.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-sflow-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/sflow_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: schemas

Refactor(pyavd): Improve typing for python-avd/pyavd/_schema_tools/generate_classes
  pyproject.toml
  python-avd/schema_tools/avdschemaresolver.py
  python-avd/schema_tools/build_schemas.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/generate_classes/src_generators.py
  python-avd/schema_tools/metaschema/meta_schema_model.py
Due: none

Feat(eos_cli_config_gen): Add support for monitor loop-protection
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-loop-protection.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-loop-protection.j2
Due: templates

schema files
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_loop_protection.yml
Due: schemas

molecule files
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-loop-protection.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-loop-protection.yml
Due: none

Update multicast description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
Due: schemas

Need to discuss this change fixing reportIncompatibleMethodOverride
  python-avd/schema_tools/generate_classes/class_src_gen.py
Due: none

Refactor(eos_cli_config_gen): EOS cli config order changes as per 4.35.0F part5
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/sflow.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/stun.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sflow.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/spanning-tree.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/stun.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/system.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas, templates

Refactor: Optimize template run for ip-nat
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-nat-part2.j2
Due: templates

Test: Do not set the same variable in two places for maintenance
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

CI: More clean up after moving rust out
  deny.toml
  sonar-project.properties
Due: none

CI: Add back pyavd-utils as req of pyavd
  python-avd/pyproject.toml
Due: none

CI: More clean up after moving rust out (#6222)
  deny.toml
  sonar-project.properties
Due: none

Apply suggestions from code review
  .github/workflows/pull-request-management.yml
Due: none
