Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

removing capitalize
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-ssh-client.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
Due: templates

Adding comments for tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
Due: none

fixing comments
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/static-routes.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas, templates

Fix loopback interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/loopback-interfaces.j2
Due: templates

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/logging_settings.cfg
Due: none

Refactor(eos_cli_config_gen): Rearrange eos cli
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/local-users.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/logging.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/local-users.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/local-users.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
Due: templates

updated the schema, unit tests and code
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/validation-profiles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/validation-profiles.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/devices.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/validation-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/utils.py
Due: schemas

Apply suggestions from code review
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
Due: none

Update ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-validation-parent-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-validation-parent-profile.yml
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-ssh-client.yml
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

Feat(eos_designs): Add support for ptp command 'no ptp free-running' under ptp_settings (#6285)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-ptp-profile.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-ptp-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-ptp-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ptp_settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ptp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

adding error msg for duplicate entry and a TC for the same
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-cloudvision-exporter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf4.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Refactor(eos_cli_config_gen): Fixing Cli order for policy_maps.qos (#6283)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/policy-maps.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/policy-maps-qos.j2
Due: templates

updated the code to use structure config instead of dict
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-structured-configuration.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-structured-configuration.yml
Due: none

Doc: Clarify error message for verify requirements
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
Due: none

added more files
  docs/plugins/Filter_plugins/add_md_toc.md
  docs/plugins/Filter_plugins/decrypt.md
  docs/plugins/Filter_plugins/default.md
  docs/plugins/Filter_plugins/encrypt.md
  docs/plugins/Filter_plugins/hide_passwords.md
  docs/plugins/Filter_plugins/is_in_filter.md
  docs/plugins/Filter_plugins/list_compress.md
  docs/plugins/Filter_plugins/natural_sort.md
  docs/plugins/Filter_plugins/range_expand.md
  docs/plugins/Filter_plugins/secure_hash.md
  docs/plugins/Filter_plugins/snmp_hash.md
  docs/plugins/Filter_plugins/status_render.md
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  docs/plugins/Modules_and_action_plugins/eos_cli_config_gen.md
  docs/plugins/Modules_and_action_plugins/eos_designs_documentation.md
  docs/plugins/Modules_and_action_plugins/eos_designs_facts.md
  docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
  docs/plugins/Modules_and_action_plugins/set_vars.md
  docs/plugins/Modules_and_action_plugins/verify_requirements.md
  docs/plugins/Test_plugins/contains.md
  docs/plugins/Test_plugins/defined.md
  docs/plugins/Vars_plugins/global_vars.md
  docs/support/support_overview.md
  docs/templates/plugin-docs.j2
Due: none

updated license for schema tool artifacts
  python-avd/tests/schema_tools/artifacts/eos_cli_config_gen.schema.yml
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
  python-avd/tests/schema_tools/artifacts/expected-network-services-multicast-settings.md
Due: none

CI: Fix wrongly changed dates
  docs/support/support_overview.md
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
Due: none

Refactor: Adjust templates
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site4-wan1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF3.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/ISIS-LEAF1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/ISIS-SPINE1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/L2ONLY-LEAF1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/L2ONLY-LEAF2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/OSPF-LEAF1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/OSPF-LEAF2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-L2LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-L2LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC2-POD1-L2LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC2-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-L2LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/static-routes.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/static-routes.j2
Due: templates

Doc: Clarify error message for verify requirements (#6297)
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
Due: none

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-cloudvision-exporter.yml
Due: none

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

removed the rt type None case
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Refactor: Add tests for namespace and fix issue in there...
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

Test: Add tests for uncovered part for Namespace
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

Apply suggestions from code review
  docs/porting-guides/6.x.x.md
Due: none

added required keys for rt type, address family and route targets
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas
