Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Delete python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/_schema/avddataconverter.py
Due: none

Feat(eos_cli_config_gen): Add ipv6_nd support to dps_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dps-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dps-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dps-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dps-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dps-interfaces.schema.yml
Due: schemas, templates

Refactor: Move to StructuredConfigUtils
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/fabric/L2LS-topology.csv
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-topology.csv
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/parent_interfaces/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Due: none

Fixing Ci for evpn_underlay_rfc5549_overlay_ebgp
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE6.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
Due: none

Fix(plugins): Make ansible global_vars work for ansible-core>=2.19
  ansible_collections/arista/avd/plugins/vars/global_vars.py
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/global_vars.yml
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/playbook.yml
Due: docs-plugin-vars

WIP
  ansible_collections/arista/avd/.ansible-lint
Due: none

Test: Moleculing the molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURE_SFLOW_SUBINTERFACE_1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/asdot-for-wan-ha-transit1A1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/asdot-for-wan-ha-transit1B1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/default_interface_mtu_platform.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/platform_settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
Due: none

Test: Fixing molecule after reordering of errors
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-parent-of-l3-port-channel-sub-interface.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Due: none

adjust documentation and molecule
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
Due: templates

Feat(eos_cli_config_gen): Add support for 'spanning-tree link-type' (#6574)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Test: Add more tests
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/global_vars.yml
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/playbook.yml
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/runme.sh
Due: none

add "minutes" to timeout value in documentation
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
Due: templates

Feat(eos_designs): Added the support of arp persistent, arp aging and ip icmp redirect under general settings (#6521)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/general-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/general-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/general-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Extra molecule fixes
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/VRF_OSPF_MISSING_PROCESS_ID.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/core-interfaces-p2p-links-as.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/isis-system-id-format-missing-node-id.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-data-plane_cpu-allocation-max.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-dc-name-for-overlay-her-flood-list-scope-dc.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

All molecule run
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site3-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site4-wan1.md
Due: none

Linter fix
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-cv-topology-uplink-interfaces.yml
Due: none

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
Due: none

Refactor(eos_designs): Inserting the dhcp accept default route when mgmt_ip us dhcp
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mgmt-interface-dhcp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt-interface-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_destination_networks.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_gateway.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Bug(eos_designs): L2 VLANs ignoring fast_leave set to false
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/evpn_l2_multicast_fast_leave.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-DISABLED.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-DISABLED.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: schemas

updated the description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

adding comment
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: none

Added TODo
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Add ipv6_nd support to port_channel_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/port-channel-interfaces-ipv6-nd.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

fixing cli order for ra disabled
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

Fix(eos_cli_config_gen): Fix typo in router multicast template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-multicast.j2
Due: templates

Bump: Release 6.0.1 (#6609)
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v6.0.1.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/6.x.x.md
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

bump to 6.1.0-dev0
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

updating comment, removing extra test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-DISABLED.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-DISABLED.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: none

Adding separate test for ipv6 sw forwarding
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router-multicast.yml
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Fix(eos_cli_config_gen): Fix typo in router multicast template (#6631)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router-multicast.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-multicast.j2
Due: templates

Fix(plugins): Make ansible global_vars work for ansible-core>=2.19 (#6619)
  ansible_collections/arista/avd/plugins/vars/global_vars.py
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/global_vars.yml
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/playbook.yml
  ansible_collections/arista/avd/tests/integration/targets/vars_global_vars/runme.sh
Due: docs-plugin-vars

Test(eos_designs): Update the eos_designs_unit_tests molecule scenario to fix deprecation warnings
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/only-connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
Due: none

use python3.xx-slim instead of python3.xx-slim-bullseye
  .github/workflows/container_build_template.yml
Due: none

molecule run eos_designs_deprecated_vars
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
Due: none

add base to manual build
  .github/workflows/container_build_fix.yml
Due: none

test
  .github/workflows/container_build_base.yml
Due: none

remove if
  .github/workflows/container_build_base.yml
Due: none

disable test
  .github/workflows/container_build_base.yml
Due: none
