Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Refactor: Better logic to handle this first empty line...
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

improved documentation and tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
Due: templates

ACT DT relax ip_addr: Address Carl's comments
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-cloudeos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-cloudeos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-cloudeos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital-twin-cloudeos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital-twin-cloudeos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital-twin-cloudeos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/host_vars/digital-twin-cloudeos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/hosts.yml
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Addressed review comments: updated future sechama description
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/stp-settings-3.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/qos.schema.yml
Due: schemas

Apply suggestions from code review
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
Due: templates

Rearrange, cleanup and freeze configuration classes
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/client/inventory.py
  python-avd/pyavd/_cv/client/models.py
  python-avd/pyavd/_cv/client/studio_topology.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_zscaler.py
  python-avd/tests/pyavd/cv/client/test_cv_client.py
  python-avd/tests/pyavd/cv/client/test_cv_client_proxy.py
  python-avd/tests/pyavd/cv/client/test_cv_client_tls.py
  python-avd/tests/pyavd/cv/client/test_cv_client_user_agent.py
  python-avd/tests/pyavd/cv/conftest.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_tags_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: docs-plugin-modules

Refactor(eos_designs): Inserting the dhcp accept default route when inband_mgmt_ip is dhcp
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-interface-dhcp-with-accept-default-route-false.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-ip-dhcp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-interface-dhcp-with-accept-default-route-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-ip-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-interface-dhcp-with-accept-default-route-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-ip-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-inband-management-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
Due: schemas

Address review comments
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: docs-plugin-modules

addressed review comments: updated table
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/stp-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/stp-settings-3.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l2-mlag-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/spanning-tree-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/spanning_tree_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

remove uv sources
  pyproject.toml
  python-avd/pyproject.toml
Due: none

Feat(eos_cli_config_gen): Add loop_protection support for port_channel_interfaces (#7117)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add support for 'qos random-detect ecn global-buffer' with unit thresholds (#7115)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/qos.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/qos.schema.yml
Due: schemas, templates

Refactor: Again, to simplify, accepting little changes no visually visible
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

fix typing
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/inventory.py
  python-avd/pyavd/_cv/client/models.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/client/swg.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/client/utils.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/verify_devices_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

generate topology with empty prefix
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/documentation/fabric/DIGITAL_TWIN_CONTAINERLAB-topology.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Refactor: Revert unneeded changed
  mkdocs.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Apply suggestion from @gmuloc
  mkdocs.yml
Due: none

Added schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospfv3.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospfv3.schema.yml
Due: schemas

fix pytest
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/inventory.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/tests/pyavd/cv/api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/03bc0c13169c828db5af9e22e2a4e3c846308664.json
  python-avd/tests/pyavd/cv/api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/f15490501279c38103d26149b21dd480e4b8c436.json
  python-avd/tests/pyavd/cv/client/test_workspace.py
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.configlet.v1.ConfigletAssignmentConfigService/Set/www.cv-prod-us-central1-c.arista.io/6e19eb41059a7089f3bec651134146d846f38850.json
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/39149ce35fa122134cbcdbd9fe51dc7ce6fd8e7d.json
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/8d182b0145bf7228602c21e877b5760d2e97fac5.json
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/9bdd288494784a36c7083dae9604aeff14ef5f40.json
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/5ec24e76acde8c418c50708edd2feb3188beb7da.json
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/8c9b7b9fbe7b400b3b0ee321fef808e91965b6f0.json
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/c366ca78dc6c3dc82984cf42d928f028825ac536.json
  python-avd/tests/pyavd/cv/workflows/test_create_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_configs_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
  python-avd/tests/pyavd/cv/workflows/test_verify_devices_on_cv.py
Due: none

fix typing on tests
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv_invalid_config.py
Due: none

fix the long line
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-ip-dhcp.yml
Due: none

CI: Make label creation more robust when you have more than 100 labels...
  .github/actions/rn-pr-labeler-action/action.yml
Due: none

CI: Fix BODY of comments after zizmor was merged
  .github/workflows/pull-request-comment.yml
Due: none

CI: Fix BODY of comments after zizmor was merged (#7137)
  .github/workflows/pull-request-comment.yml
Due: none

Refactor: Apply coderabbit suggestion
  .github/actions/rn-pr-labeler-action/action.yml
Due: none

Feat(eos_designs): ACT DT: Relax requirements for ip_addr node attribute for veos and cloudeos node types (#7097)
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-cloudeos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-veos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-cloudeos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-veos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-cloudeos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-veos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital-twin-cloudeos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital-twin-veos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital-twin-cloudeos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital-twin-veos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital-twin-cloudeos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital-twin-veos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/host_vars/digital-twin-cloudeos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/host_vars/digital-twin-veos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-ip-addr.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

CI: Make label creation more robust when you have more than 100 labels (#7136)
  .github/actions/rn-pr-labeler-action/action.yml
Due: none

WS rebase phase3: Small adjustments to help type checker
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

WS rebase phase3: Add test coverage to satisfy codecov requirements
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

WS rebase phase3: Refactor utils.py to overcome SonarCloud complexity issue (16 vs 15 allowed)
  python-avd/pyavd/_cv/workflows/utils.py
Due: none

WS rebase phase3: Initial commit
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: docs-plugin-modules

WS rebase phase3: Extra pytest coverage
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
Due: none

WS rebase phase3: Refactor deploy_to_cv.py to overcome SonarCloud complexity issue (25 vs 15 allowed)
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
Due: none

WS rebase phase3: Address coderabbitai comments
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

WS rebase phase3: Adjust docstrings
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
Due: none

rerun the molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-interface-dhcp-with-accept-default-route-false.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-interface-dhcp-with-accept-default-route-false.yml
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
Due: none
