Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update docs/porting-guides/6.x.x..md
  docs/porting-guides/6.x.x..md
Due: none

DRY
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

fix
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Cut(eos_cli_config_gen): Remove deprecated keys for router_path_selection
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-path-selection.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
Due: schemas, templates

fixing CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
Due: none

Cut(eos_cli_config_gen): Remove deprecated key from port channel interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

documentation options
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/community-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-community-lists.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/community_lists.schema.yml
Due: schemas

Cut(eos_cli_config_gen): Remove deprecated keys for management_ssh
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
Due: schemas, templates

Address review comments
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Added unit tests for models
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Revert commit fe097e2b4d1c31eae703dbc605acdeb233a25ba3.
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/proxy.py
Due: none

Added unit tests for deploy_static_config coroutine
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/09aff6f2e5a5a7eba9d95cae67f69fe99a3c0c3b.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/17ed063b654475bc48a3e926a336dd5b4aad8bbc.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/b10de2de9b71640a5e7b43c5bf7c359a8e6f7328.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/be5c4d78c73df0a8e08443fed8ec4fc230309abe.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/e7b0cc8fb242f044d2c6512c6e0871f4bab7e81a.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/88e68e73e472de6a667535e403077806ee2cc318.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/ad2fb53e0476cff45c25d0a4b821b6179108f8d0.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/c2e6f4226616b7ea2797bfe015b4fe44716501cf.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/4b1bf7cc028b3eb996db6d2a844e40ad30e7a7ee.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/683c9d81f94678755eaa43a754eab461c16c637a.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/cd2741b45369f89926626564d7e1788183941194.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/1d7ffad655708c5e7b7f38b3a119bfd85aee843a.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/259db87bea8e26ffab1c839e48cd1ea790585d07.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/956a58e54a1687e7ff66ee28c5d950b5c4eaf772.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/5bb13ecf22a30e029846746368d491390cf47bef.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/9d042cba6309f903df07871d8a1d669e5c55d8df.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/de9a784537b615c856f6e702b63a77514d6931e5.json
  python-avd/tests/pyavd/cv/client/test_cv_client.py
  python-avd/tests/pyavd/cv/conftest.py
  python-avd/tests/pyavd/cv/mockery.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Minor fixes
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/a3f7308fb2b9d15c0a88138f1e11c38d6d79ef99.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/2defab0de20f09632e88e886df8138226af9d732.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/6263a6fff4fd07e08143ef7200dee1300a0060ad.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/cd2741b45369f89926626564d7e1788183941194.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/f55462f014d46377eec06f27f7673253afef9775.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/4413c44fca47d63c809ea19c9088b5ac5eb53dd4.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/500b2ff3583061a28695e21fdf3d6a5e39cdcc5a.json
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

added quotes for deprecated keys
  docs/porting-guides/6.x.x.md
Due: none

Plain HTTP proxy without Auth
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/proxy.py
Due: none

+ ansible
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: docs-plugin-modules

pip dep
  python-avd/pyproject.toml
Due: none

Update python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Fix proxy_port type
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/proxy.py
  python-avd/pyavd/_cv/workflows/models.py
Due: docs-plugin-modules

porting guide
  docs/porting-guides/6.x.x.md
Due: none

async-timeout
  python-avd/pyproject.toml
Due: none

Cut(eos_cli_config_gen): Remove deprecated key lan_interfaces[].vrrp_ids[].ipv6.address
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas, templates

Cut(eos_cli_config_gen): Removed deprecated keys from router_bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host2/bgp_additional_paths.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

Doc(eos_designs): Remove incorrect model for evpn_vlan_bundle
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Address PR comments. Add Auth with basic creds
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/proxy.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyproject.toml
Due: docs-plugin-modules

Documentation update
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

Fix review comments + refactor unit tests
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/09aff6f2e5a5a7eba9d95cae67f69fe99a3c0c3b.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/a3f7308fb2b9d15c0a88138f1e11c38d6d79ef99.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/2defab0de20f09632e88e886df8138226af9d732.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/b10de2de9b71640a5e7b43c5bf7c359a8e6f7328.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletAssignmentService/GetAll/www.cv-prod-us-central1-c.arista.io/be5c4d78c73df0a8e08443fed8ec4fc230309abe.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/6263a6fff4fd07e08143ef7200dee1300a0060ad.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/88e68e73e472de6a667535e403077806ee2cc318.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletConfigService/SetSome/www.cv-prod-us-central1-c.arista.io/ad2fb53e0476cff45c25d0a4b821b6179108f8d0.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/4b1bf7cc028b3eb996db6d2a844e40ad30e7a7ee.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/cd2741b45369f89926626564d7e1788183941194.json
  python-avd/tests/pyavd/cv/api_recordings/arista.configlet.v1.ConfigletService/GetAll/www.cv-prod-us-central1-c.arista.io/f55462f014d46377eec06f27f7673253afef9775.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/1d7ffad655708c5e7b7f38b3a119bfd85aee843a.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/259db87bea8e26ffab1c839e48cd1ea790585d07.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsConfigService/Set/www.cv-prod-us-central1-c.arista.io/4413c44fca47d63c809ea19c9088b5ac5eb53dd4.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/500b2ff3583061a28695e21fdf3d6a5e39cdcc5a.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/5bb13ecf22a30e029846746368d491390cf47bef.json
  python-avd/tests/pyavd/cv/api_recordings/arista.studio.v1.InputsService/GetOne/www.cv-prod-us-central1-c.arista.io/de9a784537b615c856f6e702b63a77514d6931e5.json
  python-avd/tests/pyavd/cv/client/test_cv_client.py
  python-avd/tests/pyavd/cv/conftest.py
  python-avd/tests/pyavd/cv/workflows/__init__.py
  python-avd/tests/pyavd/cv/workflows/helpers.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Add another unit test for more coverage
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

remove deprecated keys
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
Due: schemas

Cut(eos_designs): Remove deprecated key design
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/design.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/design.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
Due: schemas

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

schema fix
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-path-selection.j2
Due: templates

solve todos
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

Fix CI
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3b.arista.com.yml
Due: none

Fix eos validate state
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3b.arista.com.yml
Due: none

Feat(eos_cli_config_gen): Added the support for macsec provider in management api model
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-models.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-models.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-models.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_models.schema.yml
Due: schemas, templates

fix type hints and simplify tests
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/mockery.py
  python-avd/tests/pyavd/cv/workflows/helpers.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Cut(eos_designs): Removed the deprecated keys from source_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: schemas

removing design.type from code
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-point-to-point-services-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_schema/utils.py
Due: schemas
