Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

minor fixes
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Doc(eos_designs): Remove duplicate mgmt interface-table (#6366)
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Doc(eos_designs): seperate platform settings tables (#6357)
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-speed-groups.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_speed_groups.schema.yml
Due: schemas

Removing documentation generation from how-tos
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/dc1-svc-leaf1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/FABRIC/fabric_variables.yml
Due: none

improving coverage
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-L2LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-L2LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
Due: none

updated the schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

Update CI artifacts for anta_runner
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.md
Due: none

fix
  python-avd/tests/schema_tools/artifacts/expected-network-services-multicast-settings.md
Due: none

fix
  ansible_collections/arista/avd/extensions/molecule/dhcp_provisioning/intended/configs/custom_avd4_node_types/dhcpd.conf
Due: none

better fix
  ansible_collections/arista/avd/extensions/molecule/dhcp_provisioning/intended/configs/custom_avd4_node_types/dhcpd.conf
Due: none

really good fix
  ansible_collections/arista/avd/extensions/molecule/dhcp_provisioning/intended/configs/default_node_types/dhcpd.conf
Due: none

rerun anta_runner molecule
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.md
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
Due: none

Simplify conditional for pod-specific loopback pools
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap-policy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap-policy.j2
Due: templates

Fix sort order
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-link-flap-policy.j2
Due: templates

Refactor(eos_designs)!: loopback_ip_pools will take precedence over loopback_ip_range or loopback_ipv6_range (#6317)
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-L2LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-L2LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.schema.yml
Due: schemas

re-run the pre-commit
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Refactor(pyavd): Refactor backend ANTA code of PyAVD (#6262)
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-spine2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/converge.yml
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_anta/constants.py
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/_decorators.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/mlag.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/input_factories/routing_ospf.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/vxlan.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyavd/_anta/utils.py
  python-avd/pyavd/api/_anta/__init__.py
  python-avd/pyavd/api/_anta/avd_catalog_generation_settings.py
  python-avd/pyavd/api/_anta/avd_test_spec.py
  python-avd/pyavd/api/_anta/test_spec.py
  python-avd/pyavd/get_device_test_catalog.py
  python-avd/tests/pyavd/_anta/test_utils.py
  python-avd/tests/pyavd/api/_anta/test_avd_catalog_generation_settings.py
  python-avd/tests/pyavd/api/_anta/test_avd_test_spec.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Refactor(eos_designs): Improve the handling for invalid ipv4 address in admin_subfield
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-admin-subfield.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF8.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF8.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/RD_RT_ADMIN_SUBFIELD_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF8.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
Due: none

Test: Clean the deprecated vars molecules (#6346)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/eos_cli_config_gen_keys.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
Due: none

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 12 (#6336)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1b.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vmtracer-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vrfs.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
Due: templates

fix the porting guide
  docs/porting-guides/6.x.x.md
Due: none

addressing comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-virtual-router-mac-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_RFC5549_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Update ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-admin-subfield.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-admin-subfield.yml
Due: none

Update python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

initial commit
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables-network-serivces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables-node-type.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  mkdocs.yml
Due: none

Update python-avd/pyavd/_eos_designs/avdfacts.py
  python-avd/pyavd/_eos_designs/avdfacts.py
Due: none

Test: Moleculing the molecule
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
Due: none

address comments
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/loopback_interfaces.py
Due: none

address comments
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

CI: Edit pull-request-comment workflow
  .github/workflows/pull-request-comment.yml
  docs/contribution/development-tooling.md
Due: none

connected endpoints and network services
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables-connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables-network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables-network-serivces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables-node-type.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  mkdocs.yml
Due: none

add to navigation
  mkdocs.yml
Due: none
