Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

updated the description for source_interface
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authenticatin_cleartext_key.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authenticatin_cleartext_key.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: none

Update description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/isis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authenticatin_cleartext_key.schema.yml
Due: schemas

Doc: Address PR comments and rollback some change
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_utils/password_utils/password.py
  python-avd/pyavd/_utils/password_utils/password.py
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

Refactor: Make pyright happy again
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: none

Feat(eos_designs): Added support for setting mlag interface speed via default_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-mlag-a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-mlag-b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-dualstack1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-dualstack2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-mlag-a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-mlag-b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-dualstack1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-dualstack2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-ipv6-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent-ipv6-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/INBAND_MGMT_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-interfaces.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: schemas

Feat(eos_cli_config_gen): Add support for radius proxy
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-proxy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-proxy.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_proxy.schema.yml
Due: schemas, templates

CI: Fix pyright issues for j2filters
  pyproject.toml
  python-avd/pyavd/j2filters/default.py
  python-avd/pyavd/j2filters/range_expand.py
  python-avd/pyavd/j2filters/snmp_hash.py
Due: none

moved the method into mlag shared utils
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
Due: none

Fix: Wrong interpretation of the code
  python-avd/pyavd/j2filters/range_expand.py
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-1.yml
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/tests/pyavd/j2filters/test_decrypt.py
Due: docs-plugin-filter

CI: Also clean j2test as there are no typing issues
  pyproject.toml
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_role_server_overlay_vxlan_ibgp.yml
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: none

Cleaned up tests and added comments
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER3.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE4-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE4-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_all_active_mh_gw.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_all_active_mh_gw_enabled_d_path_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_l2_evpn_role_server.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_l2_l3_disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_l2_multi_domain.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_overlay_mpls_route_reflectors2_ibgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_overlay_mpls_route_reflectors_ibgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_role_server_overlay_vxlan_ibgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_all_active_mh_gw.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_all_active_mh_gw_enabled_d_path_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_l2_evpn_role_server.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_l2_l3_disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_l2_multi_domain.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_overlay_mpls_route_reflectors2_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_overlay_mpls_route_reflectors_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_role_server_overlay_vxlan_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_IBGP_EVPN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_role_server_overlay_vxlan_ibgp.yml
Due: none

remove empty default dict
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
Due: schemas

Fixes
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE4-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_role_server_overlay_vxlan_ibgp.yml
Due: none

Update ansible_collections/arista/avd/plugins/filter/encrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
Due: docs-plugin-filter

improve documentation
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Update python-avd/pyavd/j2filters/snmp_hash.py
  python-avd/pyavd/j2filters/snmp_hash.py
Due: none

Bump: Release 5.5.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.5.0.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/5.x.x.md
  python-avd/pyavd/__init__.py
Due: none

Doc: Fix release notes
  docs/release-notes/5.x.x.md
Due: none

Address review comments and update auth for mlag vlan
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-ISIS-SPINE.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/isis-cleartext-keys-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/isis-cleartext-keys-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-ISIS-SPINE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/isis-cleartext-keys-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/isis-cleartext-keys-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/ISIS_CLEARTEXT_KEYS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_isis.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/isis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authenticatin_cleartext_key.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: schemas

Fix CI
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: none

revert changes to mlag-isis-spine
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-ISIS-SPINE.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-ISIS-SPINE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/MLAG-ISIS-SPINE.yml
Due: none

updated the schema and inputs for better understanding
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
Due: schemas

CI: Fix the pyright issues for router_internet_exit, router_bgp, prefix_lists and j2filters/decrypt
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_internet_exit.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/prefix_lists.py
  python-avd/pyavd/j2filters/decrypt.py
Due: none

CI: More (but not 100% good) correct type for kwargs
  python-avd/pyavd/j2filters/decrypt.py
Due: none

adding docs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

updated the description for source interface
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas

removed the cached properites method
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: none

adding to input-variables.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
Due: templates

Feat(eos_cli_config_gen): Deprecate the collector key for flow_tracking.sampled/hardware and add collectors key
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_flow_tracking.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/flow_tracking.schema.yml
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
