Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-test, docs-plugin-vars, schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: ansible_collections/arista/avd/roles/[a-z_]+/schemas

issue-3249: updated the description
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

issue-3249: fix the required key
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Fxing the config template and test-cases
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Addressing review comments
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Doc template updates
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
Due: none

fixing pre-commit
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

updating variable name
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Apply suggestion
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Fixing the template
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Fix(eos_cli_config_gen): Fix the documentation template for event-handlers
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
Due: none

some optimizations
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Fixing the template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
Due: none

Reverting the template logic for readability
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Due: none

Feat(containers): switch to pyavd and editable install for container build (#4087)
  .github/workflows/container_build_base.yml
  .github/workflows/container_build_dev.yml
  .github/workflows/container_build_template.yml
  .github/workflows/container_build_universal.yml
  containers/dev/.devcontainer/entrypoint.sh
  containers/universal/.devcontainer/Dockerfile
  containers/universal/.devcontainer/devcontainer.json
Due: none

rebasing and fixing issues
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/convert_dicts.py
  python-avd/pyavd/templater.py
Due: docs-plugin-filter

Update python-avd/pyavd/j2filters/convert_dicts.py
  python-avd/pyavd/j2filters/convert_dicts.py
Due: none

fixing CI
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/vlans.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/connected_endpoints_keys.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/filtered_tenants.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/node_type_keys.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/switch_data.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/j2filters/convert_dicts.py
Due: docs-plugin-filter

reverting import changes
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/vlans.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/connected_endpoints_keys.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/filtered_tenants.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/node_type_keys.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/switch_data.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/j2filters/convert_dicts.py
Due: none

fixing unit test
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Due: none

optimising test case
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Due: none

fixing CI
  python-avd/pyavd/templater.py
Due: none

adding unit test
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Due: none

Refactor(plugins): Move convert_dict filter code to PyAVD
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  python-avd/pyavd/j2filters/convert_dict.py
Due: docs-plugin-filter

adding import
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/vlans.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/connected_endpoints_keys.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/filtered_tenants.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/node_type_keys.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/switch_data.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Due: none

removing form templater
  python-avd/pyavd/templater.py
Due: none

fixing pre-commit and doc string
  python-avd/pyavd/j2filters/convert_dicts.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Due: none

fixing templater
  python-avd/pyavd/templater.py
Due: none

issue-3249: removed address_family_all key from schema
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

fixing comment
  python-avd/pyavd/j2filters/convert_dicts.py
Due: none

issue-3249: fix the bool
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
Due: none

issue-3249: fix the defined as true for include
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Due: none

Fixing comments
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dot1x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dot1x.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dot1x.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

issue-3249: added example of all includes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
Due: none

Refactor: Change the route-maps again
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
Due: none

Refactor(plugins): Move jinja filter code for arista.avd.convert_dicts to PyAVD (#4069)
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/tests/unit/filters/test_convert_dicts.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/convert_dicts.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Due: docs-plugin-filter

update cv_workflow
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/cv_workflow.md
Due: none

udpates based on review comments and feedback
  ansible_collections/arista/avd/docs/semantic-versioning.md
Due: none

add notes the right way
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/cv_workflow.md
  ansible_collections/arista/avd/docs/templates/plugin-docs.j2
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
Due: docs-plugin-modules

issue-3270: fix the group name warning for eos_designs_unit_tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-l2-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-l2-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-l2-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-l2-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_CUSTOM_CONTROL_PLANE_POLICY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FLOW_TRACKING_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SFLOW_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none
