Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

improving coverage
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv6-acls-missing-acl.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv6-acls-missing-interface-ip.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf1a.cfg
Due: none

Feat(eos_cli_config_gen): Support for traffic-policy per VRF interface (#6584)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas, templates

test for peers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces-bgp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces-bgp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces-bgp.yml
Due: none

Apply suggestion from @laxmikantchintakindi
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/mlag/ethernet-interfaces.j2
Due: none

Feat(eos_designs): Add support of default_mgmt_method_vrf input in ip_helpers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_SERVICES_IP_HELPERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-ip-helpers-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: schemas

Add negative tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/incorrect-source-interface-ip-helpers.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Fix EOL
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/incorrect-source-interface-ip-helpers.yml
Due: none

Moleculing
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l3leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l3leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l3leaf1b.yml
Due: none

Update descriptions
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_SERVICES_IP_HELPERS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Fix description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
Due: schemas

Minor correction
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/incorrect-source-interface-ip-helpers.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

using avd_design_future
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: schemas

Feat(eos_cli_config_gen): ISIS IPv6 Multi-topology (#6031)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-isis.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Due: schemas, templates

Update molecule
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
Due: none

init clab digital twin
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/converge.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/create.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/destroy.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/DIGITAL_TWIN_CONTAINERLAB.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/host_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/molecule.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/verify.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_fabric_documentation.py
Due: schemas

Feat(eos_cli_config_gen): Added the support of TLS for AAA server group RADIUS (#6827)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-server-groups.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-server-groups.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-radius.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_server_groups.schema.yml
Due: schemas, templates

Feat(anta_runner): Add warning or error when eAPI is not enabled (#6742)
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run_sorted_report/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc2-leaf2c.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc2-leaf2c.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Feat(eos_designs): Expose local interface name to Context for interface_descriptions templates (#6717)
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/loopbacks/router-id-loopback.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/loopbacks/vtep-loopback.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l2leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l2leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l3leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/l3-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l2leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l2leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l3leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/l3-edge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mlag-ospf-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mlag-ospf-l3leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mlag-ospf-l3leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mlag-ospf-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Address review comments: spelling, global_vars, inventory definition
  ansible_collections/arista/avd/extensions/molecule/howto/artifacts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/destroy.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO/default_interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO/fabric.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_L3_LEAFS/l3_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_SPINES/spines.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  docs/howto/inventory_organization/README.md
  docs/howto/inventory_organization/artifacts/htio-leaf1a-mlag.cfg
  docs/howto/inventory_organization/artifacts/htio-spine1-p2p.cfg
  mkdocs.yml
Due: none

Add molecule-backed XL topology examples
  ansible_collections/arista/avd/extensions/molecule/howto/artifacts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_DC1_LEAFS/l3_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_DC1_SPINES/spines.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_DC2_LEAFS/l3_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_DC2_SPINES/spines.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTIO_XL/fabric.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htio-dc1-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htio-dc1-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htio-dc2-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htio-dc2-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htio-dc1-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htio-dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htio-dc2-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htio-dc2-spine1.yml
  docs/howto/inventory_organization/README.md
  docs/howto/inventory_organization/artifacts/htio-dc1-spine1-bgp.cfg
  docs/howto/inventory_organization/artifacts/htio-dc2-spine1-bgp.cfg
Due: none

change clab filename
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/documentation/fabric/DIGITAL_TWIN_CONTAINERLAB-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/intended/structured_configs/containerlab-single-switch-fabric-1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/verify.yml
Due: none

Fix MD036 lint: remove bold emphasis used as heading
  docs/howto/inventory_organization/README.md
Due: none

semi working toggle
  docs/overrides/assets/javascripts/toggle.js
Due: none

updating button to follow local clicks
  docs/overrides/assets/javascripts/toggle.js
Due: none

Latest working state of toggle only on input variables
  docs/overrides/assets/javascripts/toggle.js
  docs/overrides/assets/stylesheets/toggle.css
  docs/overrides/partials/header.html
Due: none

removing extra conditional check
  docs/overrides/partials/header.html
Due: none

progressing on the toggle
  docs/overrides/assets/javascripts/toggle.js
  docs/overrides/partials/header.html
  mkdocs.yml
Due: none

updating toggle with loading animation and tracking center page location for table/yaml view
  docs/overrides/assets/javascripts/toggle.js
  docs/overrides/assets/stylesheets/toggle.css
  mkdocs.yml
Due: none

semi working toggle
  docs/overrides/assets/javascripts/toggle.js
  docs/overrides/assets/stylesheets/toggle.css
  docs/overrides/partials/header.html
  mkdocs.yml
Due: none

Address review comments on management settings how-to
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTMS/fabric.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTMS_L3_LEAFS/l3_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTMS_SPINES/spines.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htms-leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htms-leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htms-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htms-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htms-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htms-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htms-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htms-spine2.yml
  docs/howto/management_settings/README.md
Due: none

Doc(dot1x): Address review comments — minimal config, optional groups, best practices
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTDX/fabric.yml
  docs/howto/dot1x/README.md
Due: none

addressing comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Feat(eos_designs): Added fabric OSPF authentication to core and l3_edge interfaces (#6784)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/core-interfaces-p2p-ospf-auth-global-config-missing.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/l3-edge-p2p-ospf-auth-global-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/l3-edge-ospf-auth.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/l3-edge-ospf-auth.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/l3-edge-ospf-auth.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

updating avd_designs_future key name
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: schemas

add clab name
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/digital_twin/documentation/fabric/DIGITAL_TWIN_CONTAINERLAB-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin_containerlab/verify.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_fabric_documentation.py
Due: none

added test for monitor session on subinterface
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
Due: none
