Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema>=4.10.3
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Fix pre-commit
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
Due: none

Fix
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
Due: none

Refactor: Address PR comments
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-adapter-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-network-port-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ptp-profile-does-not-exist.yml
  python-avd/pyavd/_eos_designs/shared_utils/ptp.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Fix: Long live the tests
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

updated the description
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

updated the schema for vlan aware bundle
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

fix the j2 logic for include_leaked
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Update python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_l2_port_channel_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_l2_port_channel_description.schema.yml
Due: schemas

Test: Moleculing the molecule
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-ptp-profile.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-ptp-profile.yml
Due: none

yolo: My bad
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

yolo: Derp. Fix missing constant post rename
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-ptp-profile.cfg
Due: none

Remove key send_ecmp_limit
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-additional-paths.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-ipv4-labeled-unicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-path-selection.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_bgp_additional_paths.schema.yml
Due: schemas, templates

Feat(eos_validate_state): Add validation for BGP IPv4 peers in VRFs
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3a.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3b.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/NETWORK_SERVICES.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestrouting.py
Due: none

Test: Fix tests
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-grandparent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  python-avd/pyavd/_errors/__init__.py
  python-avd/pyavd/_utils/get_item.py
Due: none

Update molecule after rebase
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
Due: none

yolo: /sigh
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_PEER_WITHOUT_L3_INTERFACE.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_PEER_WITH_L3_INTERFACE.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_PEER_WITHOUT_L3_INTERFACE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_PEER_WITH_L3_INTERFACE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-2.yml
Due: none

Fix import
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
Due: none

fix incorrect variable
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

Update AVD_LAB to test reverting changes
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AVD_LAB.yml
Due: none

Update schema descriptions
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

updates after rebase
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-additional-paths.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-additional-paths.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp-empty-filter/cv_server_configlets.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server_configlets.yml
Due: none

Refactor(eos_cli_config_gen): Improve schema for redistributes_routes under address_family_ipv4_multicast, address_family_ipv6 and vrfs for router_bgp (#4359)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-rtc.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

Refactor(eos_designs): Move debug vars dump to action plugin instead of it's own task.
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Due: none

Remove debug vars template
  ansible_collections/arista/avd/roles/eos_designs/templates/debug/generate-debug-vars.j2
Due: none

Refactor: Better error messages for missing keys
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-port-profile-does-not-exist-in-facts.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Feat(eos_designs): Configure l3 interfaces BGP peers even when underlay_bgp is False
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces-bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none

Fix doc template.
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Test: Moleculing the molecule
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
Due: none

Test: Moleculing the molecule
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces-bgp.yml
Due: none

Refactor: Address some PR comments
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-wrong-profile-lacp-fallback.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-port-profile-does-not-exist-in-facts.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-port-profile-does-not-exist.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_errors/__init__.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
