Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Doc(eos_designs): How-to guide and porting guide updates for description templates (#4558)
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-connected-endpoints-description.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-network-ports-description.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  mkdocs.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_connected_endpoints_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_connected_endpoints_port_channel_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_network_ports_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_network_ports_port_channel_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_underlay_p2p_ethernet_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_underlay_p2p_port_channel_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_vrf_diag_loopback_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_bgp_peer_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_bgp_peer_group_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_member_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_svi_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_vlan_name.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_vrf_svi_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_vrf_vlan_name.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_svi_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_vlan_name.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_port_channel_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_ports.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_bgp_peer_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_l2_ethernet_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_l2_port_channel_description.schema.yml
  python-avd/pyavd/_utils/format_string.py
Due: schemas

Refactor(eos_cli_config_gen): Rearrange the eos-cli config for tap-aggregation to match with EOS (#4585)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tap-aggregation.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tap-aggregation.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tap-aggregation.j2
Due: templates

Bump: Pre-release 5.0.0-rc1
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

update requirements
  ansible_collections/arista/avd/requirements.txt
Due: none

Bump: Pre-release 5.0.0-rc1 (#4587)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

minor edits
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

Doc: Porting guide review
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

saving minor edits
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

Saving latest edits
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

Address review comment
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-connected-endpoint-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-network-port-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-sessions.j2
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Due: templates

Fix.
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Due: none

Fix CI.
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Due: none

Final fix.
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Due: none

Test: Remove meta/runtime.yml from sanity ignore files
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.16.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.17.txt
Due: none

Fixing tap.identity
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Fixing order
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

Feat(eos_cli_config_gen): Add support for OSPF graceful restart
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospf.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospf.schema.yml
Due: schemas, templates

Refactor: Move context messages around
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-connected-endpoint-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-network-port-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-adapter-ptp-profile-does-not-exist.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Refactor: Remove redundant adapter word in message
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-connected-endpoint-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-network-port-acl.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Due: none

Test: Fix updated message
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-wrong-profile-lacp-fallback.yml
Due: none

Refactor: Missing context in one cas
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

Remove redundant code.
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Due: none

Fix CI.
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p4.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p4.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_isis.cfg
Due: none

Run molecule eos_desings-mpls-isis-sr-ldp
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-RR1.cfg
Due: none

Refactor: Address Sonar issue
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

Fixing CI
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
Due: none

ci: Clean up dependabot.yml
  .github/dependabot.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
Due: templates

Address review comments
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospf.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospf.schema.yml
Due: schemas, templates

Fix CI.
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p4.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p4.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_isis.cfg
Due: none

fix order
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
Due: templates

Fix new_key paths for router_bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

Migrating large tables under expandable field
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

Correcting minor spelling issues
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Due: none

Refactor: Fix schema ordering + molecule test
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

Refactor: Moar reordering
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

Test: Remove deprecation warnings from eos_cli_config_gen scenario
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/generate-default-config.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-rtc.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies-3.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/generate-default-config.yml
Due: none
