Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

CI: Move test under ansible_collectipon because codecov split the flags
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_deprecated_dict.py
Due: none

Move to pyavd
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_deprecated_dict.py
  python-avd/pyavd/_utils/deprecated_dict.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

move test to pyavd
  python-avd/tests/pyavd/utils/test_deprecated_dict.py
Due: none

Add more unit tests
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

improve test
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

fix corner cases for empty display names
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Fix molecule
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
Due: none

Test: Added the test file for validate_inputs plugin action (#6988)
  ansible_collections/arista/avd/tests/unit/action/conftest.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
  ansible_collections/arista/avd/tests/unit/action/test_validate_inputs.py
Due: none

Feat(cv_deploy): Add support for preserve_existing_sub_containers (#7040)
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: docs-plugin-modules

WS rebase phase2: Introduce get_result methods to avoid leaking avd_ fields into result object
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cc_requested_state.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_hostvars.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_use_manifest_hybrid.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_id.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_pending.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_requested_state.yml
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

WS rebase phase2: Clean up remaining references to avd_ in molecule scenarios
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/extensions/molecule/cv_workflow/converge.yml
Due: none

WS rebase phase2: Reword final state to current state
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Implemented device_profiling.lldp
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-device-profiling-accounting-stop-only.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

addressing comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-device-profiling-dhcp-on-vtep.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-device-profiling-dhcp-with-ip-locking.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

removing .dhcp from err msg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-device-profiling-dhcp-accounting-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-device-profiling-dhcp-accounting-stop-only.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: none

adding false TCs for all recovery_cause keys
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/errdisable.yml
Due: none

Reverting some changes after changing my mind...
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/workflows/create_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_studio_inputs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/pyavd/_cv/workflows/verify_devices_on_cv.py
  python-avd/pyavd/_cv/workflows/verify_inputs.py
  python-avd/tests/pyavd/cv/workflows/test_create_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_tags_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv_invalid_config.py
  python-avd/tests/pyavd/workflows/test_verify_inputs.py
Due: none

fix
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
Due: none

updating doc.j2 and schema description
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/maintenance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/maintenance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/maintenance.schema.yml
Due: schemas, templates

Added more tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-device-profiling-accounting-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
Due: none

Adding more tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
Due: none

updating TC
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
Due: none

adding ignore_case
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/maintenance.j2
Due: templates

Fix(eos_cli_config_gen): dot1x documentation checks wrong path for DHCP hostname auth-only
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/dot1x.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Updated docsctring and removed unnecessary test
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
Due: none

Fix(eos_cli_config_gen): dot1x documentation checks wrong path for DHCP hostname auth-only (#7059)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/dot1x.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Remove strip_null_from_data
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-l2leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-l2leaf1b.yml
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Remove unused import
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
Due: templates

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
Due: none

Issue 6955: Swap default for omit
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
Due: none

removing required:true for enabled and updating checks
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/errdisable.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/errdisable.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas, templates

fixing ci
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/errdisable.j2
Due: templates

updating loop
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: none

Refactor: Update regex post comments
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

Refactor: Do not render region without any content
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/cvx.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cvx.j2
Due: templates

Apply suggestion from @laxmikantchintakindi
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cvx.schema.yml
Due: schemas

addressing comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas
