Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update description
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_software_forwarding.schema.yml
  schemas/eos_config/docs/tables/ip-software-forwarding.md
Due: schemas

Test(plugins): Close remaining verify_requirements unit coverage gaps
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

Doc(eos_cli_config_gen): Add EOS 4.33.10M SNMP support
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
  schemas/eos_config/docs/tables/snmp-server.md
Due: schemas

Fixing things
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Feat(eos_cli_config_gen): Added the support for SNMP user Auth and Priv passphrase type (#7423)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/snmp-server.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
  schemas/eos_config/docs/tables/snmp-server.md
Due: schemas, templates

Remove tests from DC1-servers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
Due: none

Add new line character
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/igmp_snooping.yml
Due: none

Fix CI
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_routing_protocol_address_family.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_routing_protocol_address_family.schema.yml
Due: schemas

schemas run
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  schemas/avd_design/docs/tables/overlay-settings.md
Due: schemas

Test: Augment coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ip-software-forwarding.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/ip-software-forwarding.yml
Due: none

fixing existing TC changes
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

Refactor: Address quick findings
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/system.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-unsupported-field/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-unsupported-field.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/system.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  schemas/eos_config/docs/tables/system.md
Due: schemas

added deprecated test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/errors/EOS_DESIGNS_DEPRECATED_VARS/host1/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/address_family_neutral_peer_group.yml
Due: none

Update authentication_anti_replay description, remove required
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vrrp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vrrp.schema.yml
  schemas/eos_config/docs/tables/vrrp.md
Due: schemas, templates

Feat(cv_deploy): Only react on a known terminal ResponseStatus enums (#7484)
  python-avd/pyavd/_cv/api/arista/alert/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/asset_manager/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/changecontrol/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/configstatus/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/imagestatus/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/license/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/logging/__init__.py
  python-avd/pyavd/_cv/api/arista/logging/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/studio/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/studio_topology/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/syslog/v1/__init__.py
  python-avd/pyavd/_cv/api/arista/tag/v2/__init__.py
  python-avd/pyavd/_cv/api/arista/workspace/v1/__init__.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/tests/pyavd/cv/client/test_workspace.py
Due: none

Feat(eos_cli_config_gen): Add support for ip software forwarding mtu exceed action drop configs (#7473)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-software-forwarding.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ip-software-forwarding.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/ip-software-forwarding.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-software-forwarding.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-software-forwarding.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_software_forwarding.schema.yml
  schemas/eos_config/docs/tables/ip-software-forwarding.md
Due: schemas, templates

Fix CI
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_errors/__init__.py
Due: none

Test(eos_cli_config_gen): Isolate lowercase conversion fixture
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host-convert-to-lower-case.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host-convert-to-lower-case.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host-convert-to-lower-case/system.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/system.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/hosts.yml
Due: none

Apply suggestion from @alexeygorbunov
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
Due: schemas

addressed review comments
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  schemas/avd_design/docs/tables/network-services-vrfs-svis-settings.md
  schemas/avd_design/docs/tables/svi-profiles.md
Due: schemas

Update ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/SVI_PROFILE_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/SVI_PROFILE_TESTS.yml
Due: none

Test(eos_designs): align SSH client fixtures
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-duplicate-default-vrf/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-duplicate-default-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-vrfs-missing-mgmt-ip.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-vrfs-missing-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/source-interfaces-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/source-interfaces-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-3.yml
Due: none

Apply suggestion from @gmuloc
  .pre-commit-config.yaml
Due: none

Feat(pyavd): Compile and load archived schema stores (#7429)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyavd/_schema/schemas.rkyv
  python-avd/pyavd/_schema/store.py
  python-avd/pyavd/constants.py
  python-avd/pyproject.toml
  python-avd/schema_tools/build_schemas.py
  python-avd/schema_tools/constants.py
Due: schemas

CI(schema-explorer): address PR review on workflow, uv lock, and JS
  .github/workflows/schema-explorer-check.yml
  .gitignore
  Makefile
  tools/schema-explorer/AGENTS.md
  tools/schema-explorer/SECURITY.md
  tools/schema-explorer/mkdocs_hook.py
  tools/schema-explorer/static/index.html
  tools/schema-explorer/static/js/app.js
  tools/schema-explorer/static/js/sanitize.js
  tools/schema-explorer/tests/test_sanitize.mjs
  uv.lock
Due: none

Doc(eos_designs): Improve description of overlay_routing_protocol_address_family (#7478)
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_routing_protocol_address_family.schema.yml
  python-avd/pyavd/_schema/schemas.rkyv
  schemas/avd_design/docs/tables/overlay-settings.md
Due: schemas

CI: skip uv.lock in codespell after tracking root lockfile
  .codespellrc
Due: none

Fix issue with platform filtered network ports
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/filter.only-vlans-in-use.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
Due: none

fix(cv): resubscribe workspace response wait on staging streams
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/tests/pyavd/cv/client/test_workspace.py
Due: none

Doc(adr): simplify retrospective decision records
  adr/README.md
  adr/schema/schema-0001-use-constrained-avd-schema-dialect.md
  adr/schema/schema-0002-separate-schema-domains.md
  adr/schema/schema-0003-author-fragments-and-generate-artifacts.md
  adr/schema/schema-0005-separate-boundary-validation-from-models.md
  adr/schema/schema-0006-reuse-schema-definitions-with-refs.md
  adr/schema/schema-0007-close-nested-mappings-and-open-integration-roots.md
  adr/schema/schema-0008-restrict-data-dependent-schema-features.md
  adr/schema/schema-0009-require-primary-keys-for-mergeable-lists.md
  adr/schema/schema-0011-model-unset-default-empty-and-null.md
  adr/schema/schema-0012-evolve-schemas-additively-with-deprecation.md
  adr/template-retrospective.md
  adr/template.md
  adr/versioning/versioning-0001-co-version-pyavd-and-arista-avd.md
  adr/versioning/versioning-0002-classify-stable-public-inputs-and-apis.md
  adr/versioning/versioning-0003-classify-generated-output-stability.md
  adr/versioning/versioning-0004-deprecate-before-major-removal.md
  adr/versioning/versioning-0005-stage-breaking-behavior-with-future-flags.md
  adr/versioning/versioning-0006-document-correctness-and-non-semantic-exceptions.md
Due: none

fix(schema): stop tracking generated schema archive
  .gitignore
  python-avd/pyavd/_schema/schemas.rkyv
Due: schemas

CI: stop tracking generated schema archive (#7499)
  .gitignore
  python-avd/pyavd/_schema/schemas.rkyv
Due: schemas

Fix(eos_designs_structured_config): Support avd_design schema list merging
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyavd/_utils/merge/mergeonschema.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/utils/merge/test_merge.py
Due: none

CI: Resolve conflicts
  python-avd/pyavd/_schema/schemas.rkyv
Due: schemas

1st commit - added data model
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ip_software_forwarding.schema.yml
  schemas/avd_design/docs/tables/system-settings.md
Due: schemas

addressed review comments: updated error type
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-ospfv3-ipv6-not-enabled/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-svi-ospfv3/structured_config_error.txt
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Feat(eos_designs): Added the support of IP ssh client source interface under ssh_settings (#7438)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/errors/EOS_DESIGNS_DEPRECATED_VARS/host1/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/ssh_client_source_interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/source-interfaces-ssh-client-missing-inband-mgmt-interface/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/source-interfaces-ssh-client-missing-mgmt-ip/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-duplicate-default-vrf/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-duplicate-non-default-vrf/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-duplicate-non-default-vrf/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-vrfs-and-source-interfaces-ssh-client/input_validation_deprecations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-vrfs-and-source-interfaces-ssh-client/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-vrfs-missing-mgmt-ip/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/ssh-settings-client-vrfs-missing-source-interface/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-duplicate-default-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-duplicate-non-default-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-vrfs-and-source-interfaces-ssh-client.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-vrfs-missing-mgmt-ip.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ssh-settings-client-vrfs-missing-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/source-interfaces-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/source-interfaces-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-3.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  schemas/avd_design/docs/tables/management-source-interfaces-settings.md
  schemas/avd_design/docs/tables/ssh-settings.md
Due: schemas

Refactor(eos_designs): Flatten dot1x BPDU bypass capability
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-6.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
  schemas/avd_design/docs/tables/custom-platform-settings.md
  schemas/avd_design/docs/tables/platform-settings.md
Due: schemas

Refactor(eos_designs): Document dot1x platform default transition
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
