Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

added deprecation for the ntp server vrf
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ntp.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ntp.schema.yml
Due: schemas

addressed review comments: updated doc j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
Due: templates

Apply suggestion from @ClausHolbechArista
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

remove host1 from deprecated tests
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/.gitkeep
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/is_deployed.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
Due: none

changing the order
  docs/porting-guides/6.x.x.md
Due: none

Fix: A man should not blindly approve suggestions in github
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Fix: A man REALLY should not blindly approve suggestions in github
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

consistant titles
  docs/howto/eos_designs/network_services.md
  docs/howto/eos_designs/tags.md
Due: none

remove cloudvision in the inventory and reword the description on deploy playbooks
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy-cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/inventory_without_ip.yml
Due: none

updated the porting guide the unit tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_multicast.yml
  docs/porting-guides/6.x.x.md
Due: none

change the description for playbooks in single-dc
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/build.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/deploy-cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/deploy.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/build.yml
Due: none

remove cvp from host description
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
Due: none

Cut(eos_designs): Remove the default templates from ansible_collections/arista/avd/roles/eos_designs/templates
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/loopback_interfaces/overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/loopback_interfaces/vtep-loopback.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/underlay/port-channel-interfaces.j2
  docs/porting-guides/6.x.x.md
Due: none

Change to upercase
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
Due: none

Fix descriptions and improve test with multiple regexes.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/is_deployed.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/is_deployed.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
Due: schemas

Update input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

refactor(pyavd): Add support for NamedTuple input models in CVClient tag methods
  python-avd/pyavd/_cv/client/models.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

addressed review comment: updated descriptions
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-pim-sparse-mode.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Due: schemas

Fixing description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/inband_ztp_bootstrap_file.schema.yml
Due: schemas

Cut(eos_designs): Remove deprecated key local_users
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/local-users.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/local_users.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

removing ref
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/local_users.schema.yml
Due: schemas

porting-guide entry changing to table
  docs/porting-guides/6.x.x.md
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Fix: Schema messed up by myself
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

doc
  docs/getting-started/intro-to-ansible-and-avd.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/serial_number.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/serial_number.schema.yml
Due: schemas

adding porting guide entry and walrus
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

isis ldp ipvpn
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p4.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/p4.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/p1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/p2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/p3.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/p4.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe3.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr2.yml
Due: none

Update 6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none
