Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update 6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

CI: Adding compiled templates back to coverage
  pyproject.toml
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Refactor(eos_designs): loopback_ip_pools will take precedence over loopback_ip_range and loopback_ipv6_range
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
Due: schemas

CI: Adding compiled templates back to coverage (#6316)
  pyproject.toml
Due: none

Refactor(eos_cli_config_gen): Rearrange eos_cli_config_gen config order as per EOS 4.35.0F part 11
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/peer-filters.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/patch-panel.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/peer-filters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-sfe-interface.j2
Due: templates

Refactoring code
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/lldp.j2
Due: templates

Update platform settings for 7358 Update porting guide
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Refactor: Rollback helper to avoid type checking nightmare and bad duplication check
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-cloudvision-exporter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-flow-tracking-hardware-cloudvision-exporter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-flow-tracking-sampled-cloudvision-exporter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

management security
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
Due: schemas, templates

Refactor: Better error message
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-flow-tracking-hardware-cloudvision-exporter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-flow-tracking-sampled-cloudvision-exporter.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Refactor(eos_designs)!: Use combine to merge OSPF process between underlay and network services
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/conflict-underlay-ospf-with-network-services.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

update porting-guide
  docs/porting-guides/6.x.x.md
Due: none

Test: Tests should not depend of other hosts
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-flow-tracking-hardware-cloudvision-exporter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-flow-tracking-sampled-cloudvision-exporter.yml
Due: none

Fix management-ssh template
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-ssh.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ssh.j2
Due: templates

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_link_flap.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_link_flap.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-link-flap.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-link-flap.j2
Due: templates

Fix alignment of tables
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

Schema updates for max flaps
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-link-flap.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-link-flap.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-link-flap.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-link-flap.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_link_flap.schema.yml
Due: schemas, templates

Reordering prefix-lists and priority-flow-control
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/prefix-lists.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/priority-flow-control.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network_services_point_to_point.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/prefix-lists.j2
Due: templates

Fix extra space
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-link-flap.j2
Due: templates

Refactor: Edit documentation template
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
Due: templates

Test: Moleculing some molecule
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
Due: none

Fix: Template erroring out when no ethernet interface is defined
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ethernet-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
Due: templates

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
