Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update CI artifacts
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
Due: none

Added group vars for evpn gateway tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_all_active_mh_gw.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_all_active_mh_gw_enabled_d_path_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_l2_evpn_role_server.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_l2_l3_disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_l2_multi_domain.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_all_active_mh_gw.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_all_active_mh_gw_enabled_d_path_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_l2_evpn_role_server.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_l2_l3_disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_l2_multi_domain.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_gateway_all_active_mh_gw.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_gateway_all_active_mh_gw_enabled_d_path_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_gateway_l2_evpn_role_server.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_gateway_l2_l3_disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Added group_vars for ibgp tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_overlay_mpls_route_reflectors2_ibgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_overlay_mpls_route_reflectors_ibgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_role_server_overlay_vxlan_ibgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_overlay_mpls_route_reflectors2_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_overlay_mpls_route_reflectors_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_role_server_overlay_vxlan_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_IBGP_EVPN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_overlay_mpls_route_reflectors2_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_overlay_mpls_route_reflectors_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_role_server_overlay_vxlan_ibgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Feat(plugins): Add support for encryption and decryption of tacacs passwords
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  docs/plugins/Filter_plugins/decrypt.md
  docs/plugins/Filter_plugins/encrypt.md
  python-avd/pyavd/_utils/password_utils/__init__.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/tests/pyavd/utils/password/test_password.py
Due: docs-plugin-filter

Refactor
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: none

various fixes
  ansible_collections/arista/avd/examples/media/documentation/devices/amber-leaf1.md
  ansible_collections/arista/avd/examples/media/documentation/devices/amber-leaf2.md
  ansible_collections/arista/avd/examples/media/documentation/devices/amber-spine1.md
  ansible_collections/arista/avd/examples/media/documentation/devices/blue-leaf1.md
  ansible_collections/arista/avd/examples/media/documentation/devices/blue-leaf2.md
  ansible_collections/arista/avd/examples/media/documentation/devices/blue-leaf3.md
  ansible_collections/arista/avd/examples/media/documentation/devices/blue-leaf4.md
  ansible_collections/arista/avd/examples/media/documentation/devices/blue-spine1.md
  ansible_collections/arista/avd/examples/media/documentation/devices/media-PTP-1.md
  ansible_collections/arista/avd/examples/media/documentation/devices/media-PTP-2.md
  ansible_collections/arista/avd/examples/media/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/examples/media/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/media/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/examples/media/documentation/fabric/MEDIA_FABRIC-documentation.md
  ansible_collections/arista/avd/examples/media/documentation/fabric/MEDIA_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/media/documentation/fabric/MEDIA_FABRIC-topology.csv
  ansible_collections/arista/avd/examples/media/group_vars/CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/examples/media/intended/configs/amber-leaf1.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/amber-leaf2.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/amber-spine1.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/blue-leaf1.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/blue-leaf2.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/blue-spine1.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/media-PTP-1.cfg
  ansible_collections/arista/avd/examples/media/intended/configs/media-PTP-2.cfg
  ansible_collections/arista/avd/examples/media/intended/structured_configs/amber-leaf1.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/amber-leaf2.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/amber-spine1.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/blue-leaf1.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/blue-leaf2.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/blue-spine1.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/media-PTP-1.yml
  ansible_collections/arista/avd/examples/media/intended/structured_configs/media-PTP-2.yml
  ansible_collections/arista/avd/examples/media/playbook.yml
  ansible_collections/arista/avd/molecule/example-media/molecule.yml
Due: none

Bump: Pre-release 5.5.0-dev1
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

Removed unneeded None type in return hint
  python-avd/pyavd/api/ip_addressing/utils.py
Due: none

Removed unneeded logic from ipv6 peergroup
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

Removed template from router_id as wel was the extra logic and return statement
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

Fixed sequence generation for ipv6_prefix_lists
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf1a.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf1b.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IPV6_NUMBERED_LEAF1a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IPV6_NUMBERED_LEAF1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IPV6_NUMBERED_LEAF2a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_NUMBERED_LEAF1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_NUMBERED_LEAF1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_NUMBERED_LEAF2a.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/prefix_lists.py
Due: none

pre-commit fixes
  python-avd/pyavd/_eos_designs/structured_config/underlay/prefix_lists.py
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

Feat(anta_runner): Added new specific AVT path and router path tests
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-wan1.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-wan2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-wan1.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-wan2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-wan1.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-wan2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/roles/anta_runner/README.md
  python-avd/pyavd/_anta/constants.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
  python-avd/pyavd/_anta/logs.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_utils/password_utils/password.py
Due: none

Feat(eos_designs): Add interface traffic-engineering to l3_edge/core_interfaces
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

removed the additional description and kept only pure ref
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

added convert type as int for mac_address key
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/mac-address-table.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_address_table.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Add support for software forwarding hardware offload MTU under router general
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-general.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-general.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_general.schema.yml
Due: schemas, templates

removing no config
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
Due: templates

Fixing doc template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-general.j2
Due: templates

Add check to ensure vvtep is not set with ipv6 numbered
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/loopback_interfaces.py
Due: none

Update underlay_ipv6_numbered description
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ipv6.schema.yml
Due: schemas

Added more resctrictions to inputs.underlay_ipv6_numbered
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ipv6.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: schemas

Further simplified MLAG peer groups, more compatability checks, fixed negative unit test.
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-router-id-pool.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
Due: schemas

Remove redundant check since it is covered by the schema
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Due: none

remove commented out junk
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

Update connected_endpoints.yml comment
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
Due: none

Add more tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network_services_point_to_point.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network_services_point_to_point.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network_services_point_to_point.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Due: none

Test(eos_designs): Improve pytest coverage for network_services/port_channel_interfaces.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network_services_point_to_point.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network_services_point_to_point.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network_services_point_to_point.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Due: none

Add static routes at different levels
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Refactor tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
Due: none

Rename vrfs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
Due: none

Remove comment
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
Due: none

Update error msg and add tests for vrf_vni and vrf_id
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-evpn-underlay-l3-multicast-group-ipv4-pool.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle_svi_l2vlan.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_vlan_bundle_svi_l2vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_vlan_bundle_svi_l2vlan.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: none

Feat(eos_designs): Added support of Spanning Tree Port ID Allocation
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/spanning-tree-mode-rapid-pvst.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-evpn-underlay-l3-multicast-group-ipv4-pool.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Due: none

Fixing dox template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-general.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-general.j2
Due: templates

updated the description and documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-address-table.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-address-table.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_address_table.schema.yml
Due: schemas, templates
