Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Refactor(pyavd-utils): Improve packaging of pyavd-utils (#6121)
  .github/workflows/pull-request-management.yml
  .github/workflows/sonar.yml
  pyavd-utils/README.md
  pyavd-utils/pyavd_utils/LICENSE
  pyavd-utils/pyavd_utils/__init__.py
  pyavd-utils/pyavd_utils/__init__.pyi
  pyavd-utils/pyproject.toml
  pyavd-utils/tests/validation/conftest.py
  pyavd-utils/tox.ini
  pylintrc
  pyproject.toml
  python-avd/pyproject.toml
  python-avd/tests/schema_tools/generate_classes/test_class_src_gen.py
  tox.ini
Due: none

CI: Test
  .github/workflows/pull-request-management.yml
  .github/workflows/release.yml
Due: none

CI: Fix python verison
  .github/workflows/pull-request-management.yml
Due: none

WIP
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dot1x.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

Add logs
  python-avd/pyavd/_cv/client/proxy.py
  python-avd/tests/pyavd/cv/client/test_cv_client_proxy.py
Due: none

Still WIP
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dot1x.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

Documentation update
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

Doc update
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

CI(pyavd-utils): Fix pyright warnings
  .github/workflows/pull-request-management.yml
Due: none

error on missing imports in pyright
  pyproject.toml
Due: none

updates
  pyproject.toml
Due: none

CI(pyavd-utils): Fix pyright warnings (#6130)
  .github/workflows/pull-request-management.yml
  pyproject.toml
Due: none

Pytest coverage improvement
  python-avd/pyavd/_cv/client/proxy.py
  python-avd/tests/pyavd/cv/client/test_cv_client.py
  python-avd/tests/pyavd/cv/client/test_cv_client_proxy.py
Due: none

pytest
  python-avd/tests/pyavd/cv/client/test_cv_client_proxy.py
Due: none

Clean-up comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_VTEP_LOOPBACK0_LEAFS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_VTEP_LOOPBACK0_SPINES.yml
Due: none

Combine files
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_VTEP_LOOPBACK0.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_VTEP_LOOPBACK0_SPINES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Fix template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dynamic-prefix-lists.j2
Due: templates

Fix template again
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dynamic-prefix-lists.j2
Due: templates

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_VTEP_LOOPBACK0.yml
Due: none

added the default in node_type_key_data
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: schemas

Refactor(pyavd-utils): Various Rust updates and api simplifications
  pyavd-utils/Makefile
  pyavd-utils/pyavd_utils/validation.pyi
  pyavd-utils/rust/pyvalidation/Cargo.toml
  pyavd-utils/rust/pyvalidation/src/lib.rs
  pyavd-utils/tests/validation/test_get_validated_data.py
  pyavd-utils/tests/validation/test_validate_json.py
  pyavd-utils/uv.lock
  rust/avdschema/src/inherit.rs
  rust/avdschema/src/resolve/errors.rs
  rust/avdschema/src/resolve/walker.rs
  rust/avdschema/src/store.rs
  rust/validation/Cargo.toml
  rust/validation/build.rs
  rust/validation/src/coercion.rs
  rust/validation/src/feedback.rs
  rust/validation/src/validation/dict.rs
  rust/validation/src/validation/int.rs
  rust/validation/src/validation/list.rs
  rust/validation/src/validation/store.rs
  rust/validation/src/validation/valid_values.rs
  rust/validation/src/validation_result.rs
Due: none

Delete pyavd-utils/uv.lock
  pyavd-utils/uv.lock
Due: none

Feat(eos_designs): Add support for TLS in aaa_settings.radius.servers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Remove commented code
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

CI: Fix sonar coverage after moving .coverage to root.
  sonar-project.properties
Due: none

CI: Fix sonar coverage after moving .coverage to root (#6136)
  sonar-project.properties
Due: none

update-1
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

molecule update
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

cleanup templates to only support ipv4 disablement
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

update molecule
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

Fix(eos_cli_config_gen): Fixing 'dict object' has no attribute 'exec' error when rendering aaa_accounting model
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/aaa-accounting.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
Due: templates

Refactor(eos_cli_config_gen): Moved validate_state and validate_lldp key into metadata for ethernet and port-channel interfaces
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: schemas

fixing for system and dot1x as well
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/aaa-accounting.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
Due: templates

Update aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas

Fix config order
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

Feat(anta_runner): Add input factory to VerifyLoggingErrors to support a configured period (#6098)
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-spine1.yml
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/logging.py
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
