Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

addressed review comments: updated docstring and log msgs
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/logs.py
Due: none

CI fix
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-gateway-l2-evpn-role-server.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-gateway-l2-evpn-role-server.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-gateway-l2-l3-rd-rt-rewrite.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-gateway-l3-rd-rt-rewrite.yml
Due: none

Fixing pre-commit issue
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Feat(eos_designs): Added the support of vpws under network_serivces
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Update python-avd/pyavd/_eos_designs/shared_utils/static_routes.py
  python-avd/pyavd/_eos_designs/shared_utils/static_routes.py
Due: none

updated schema and code
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc2-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc2-leaf1c.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc2-leaf2c.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/validation-profiles.md
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

removing if condition
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/access-lists.j2
Due: templates

Refactor(eos_cli_config_gen): Deprecate old model access_lists (#6514)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/access-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/access-lists.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/access_lists.schema.yml
Due: schemas

addressed review comments: updated default check
  python-avd/pyavd/_anta/input_factories/connectivity.py
Due: none

fixing ! for traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas

fixing merge conflict
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
Due: none

moved the shared utils method to structure_config_utils
  python-avd/pyavd/_eos_designs/shared_utils/static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Feat(eos_designs): Add support of management console and banners
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/management-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/management-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/management-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management_settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Refactor(eos_designs): Adding structured_config property to StructuredConfigUtils class
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Refactor StructuredConfigUtils class definition
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Improve constructor docstring in StructuredConfigUtils
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Refactor: Add inputs and shared_utils access
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Refactor(eos_designs): Adding structured_config property to StructuredConfigUtils class (#6729)
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

CI: Remove scripts and compiled templates from Codecov ignore list
  .codecov.yml
Due: none

feat: Include schema_tools in CodeCov coverage reporting
  .codecov.yml
Due: none

fix: Upload coverage files separately with individual flags
  .codecov.yml
  .github/workflows/codecov.yml
Due: none

feat: Download compiled templates for CodeCov coverage processing
  .github/workflows/codecov.yml
Due: none

fix precommit
  .codecov.yml
Due: none

inital commit
  .codecov.yml
  .github/workflows/codecov.yml
Due: none

feat: Add CodeCov integration with OIDC authentication
  .github/workflows/codecov.yml
  .github/workflows/pull-request-management.yml
Due: none

CI: Add coverage.xml inspection to debug output
  .github/workflows/codecov.yml
Due: none

CI: Remove debug output from Codecov workflow
  .github/workflows/codecov.yml
Due: none

CI: Consolidate Codecov uploads and add missing exclusions
  .github/workflows/codecov.yml
Due: none

CI: Simplify Codecov coverage paths to match Sonar sources
  .codecov.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/compiled_templates/.gitkeep
Due: templates

CI: Make compiled templates download required for Codecov
  .github/workflows/codecov.yml
Due: none

CI: Add missing exclusions to Codecov config to match Sonar
  .codecov.yml
Due: none

CI: Add debug logging to Codecov workflow
  .github/workflows/codecov.yml
Due: none

Fix typo in codecov.yml artifact name (underscore → hyphen)
  .github/workflows/codecov.yml
Due: none

remove gitkeep and comment out section in codecov.yml
  .github/workflows/codecov.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/compiled_templates/.gitkeep
Due: templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
