Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-test, docs-plugin-vars, schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: ansible_collections/arista/avd/roles/[a-z_]+/schemas

ci: Test for py39
  python-avd/tox.ini
Due: none

CI: Import the correct dep
  python-avd/tox.ini
Due: none

Fix
  python-avd/pyavd/_schema/constants.py
Due: none

clean up and adjust constants
  python-avd/pyavd/_schema/constants.py
  python-avd/pyavd/_schema/store.py
  python-avd/tests/pyavd/schema/test_avdschema.py
Due: none

Refactor(plugins): Move jinja test code for arista.avd.contains to PyAVD
  ansible_collections/arista/avd/docs/plugins/Test_plugins/contains.md
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/test/contains.py
  python-avd/Makefile
  python-avd/pyavd/j2tests/contains.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2tests/test_contains.py
Due: docs-plugin-test

fix ci
  .github/workflows/pull-request-management.yml
Due: none

fix ci
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/host_vars/cv_server.yml
Due: none

fix mergeonschema
  ansible_collections/arista/avd/plugins/plugin_utils/merge/mergeonschema.py
Due: none

try to avoid moving errors in this pr
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
Due: none

Fix doc links
  ansible_collections/arista/avd/docs/contribution/input-variable-validation.md
Due: none

fix pylint
  python-avd/schema_tools/avdschemaresolver.py
  python-avd/tests/pyavd/schema/test_avdschema.py
Due: none

adjust imports
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/get_device_structured_config.py
Due: none

adjust imports
  .pre-commit-config.yaml
Due: none

CI: Make python3.9 happy again
  python-avd/pyproject.toml
  python-avd/schema_tools/generate_docs/mdtabsgen.py
  python-avd/schema_tools/metaschema/meta_schema_model.py
  python-avd/tox.ini
Due: none

Update ansible_collections/arista/avd/docs/plugins/Test_plugins/contains.md
  ansible_collections/arista/avd/docs/plugins/Test_plugins/contains.md
Due: none

Update ansible_collections/arista/avd/plugins/test/contains.py
  ansible_collections/arista/avd/plugins/test/contains.py
Due: docs-plugin-test

CI: Fix coverage run for tox on its own
  python-avd/tox.ini
Due: none

Move merge
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/interface_descriptions.py
  python-avd/pyavd/_eos_designs/shared_utils/ip_addressing.py
  python-avd/pyavd/_eos_designs/shared_utils/l3_interfaces.py
  python-avd/pyavd/_eos_designs/shared_utils/switch_data.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_schema/avdschemaresolver.py
  python-avd/pyavd/_utils/merge/__init__.py
  python-avd/pyavd/_utils/merge/mergeonschema.py
  python-avd/schema_tools/avdschemaresolver.py
  python-avd/tests/pyavd/utils/merge/access_lists.schema.yml
  python-avd/tests/pyavd/utils/merge/acl1.yml
  python-avd/tests/pyavd/utils/merge/acl2.yml
  python-avd/tests/pyavd/utils/merge/acl_merged.yml
  python-avd/tests/pyavd/utils/merge/test_merge.py
Due: none

Refactor(plugins): Move jinja test code for arista.avd.contains to PyAVD (#4131)
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/test/contains.py
  python-avd/Makefile
  python-avd/pyavd/j2tests/contains.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2tests/test_contains.py
Due: docs-plugin-test

Move merge
  ansible_collections/arista/avd/plugins/plugin_utils/merge/__init__.py
Due: none

update skip_tests documentation
  ansible_collections/arista/avd/roles/eos_validate_state/anta_integration.md
Due: none

Only import when used
  python-avd/pyavd/templater.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validate_structured_config.py
Due: none

CI: Parallelize tox runs in Github Actions (#4129)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/host_vars/cv_server.yml
  python-avd/pyproject.toml
  python-avd/schema_tools/generate_docs/mdtabsgen.py
  python-avd/schema_tools/metaschema/meta_schema_model.py
  python-avd/tox.ini
Due: none

Feat(eos_cli_config_gen): Add support for permit response traffic nat under ip acls
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/acl.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/acl.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/access-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/access_lists.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/access-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

addressing review comments
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/access-lists.j2
Due: none

fixing CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/access-lists.j2
Due: none

Update ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/access_lists.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/access_lists.schema.yml
Due: schemas

Refactor(plugins): Move jinja filter code for arista.avd.is_in_filter to PyAVD
  ansible_collections/arista/avd/plugins/filter/is_in_filter.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/is_in_filter.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_is_in_filter.py
Due: docs-plugin-filter

Update ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/MOVED_TO_PYAVD.txt
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/MOVED_TO_PYAVD.txt
Due: none

Moved encrypt/decrypt filter to pyavd
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/Makefile
  python-avd/pyavd/_utils/password_utils/__init__.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/pyavd/_utils/password_utils/password_utils.py
  python-avd/pyavd/j2filters/decrypt.py
  python-avd/pyavd/j2filters/encrypt.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/_utils/test_password.py
  python-avd/tests/pyavd/j2filters/test_decrypt.py
  python-avd/tests/pyavd/j2filters/test_encrypt.py
Due: docs-plugin-filter

Refactor(plugins): Move jinja filter code for arista.avd.is_in_filter to PyAVD (#4133)
  ansible_collections/arista/avd/plugins/filter/is_in_filter.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/is_in_filter.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_is_in_filter.py
Due: docs-plugin-filter

move the URLs under Overview and svc account token creation steps to heading2
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

Update ansible_collections/arista/avd/roles/eos_validate_state/anta_integration.md
  ansible_collections/arista/avd/roles/eos_validate_state/anta_integration.md
Due: none

Doc: Minor grammar edits. (#3362)
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
Due: none

update per Claus' feedback
  ansible_collections/arista/avd/docs/semantic-versioning.md
Due: none

moved test_password_utils unit test to pyavd
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_password.py
  python-avd/tests/pyavd/j2filters/_utils/test_password_utils.py
Due: none

Update hardware tests to follow documentation
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/roles/eos_validate_state/anta_integration.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtesthardware.py
Due: none
