Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

fixing issues with docs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
Due: templates

fixing exclamation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
Due: templates

fixing table
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
Due: templates

Feat(eos_designs): Added support for logging_settings
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/logging_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/logging_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/logging_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

updated the description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Adding support for port-channel load-balance trident headers
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel.schema.yml
Due: schemas, templates

Adding doc template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
Due: templates

Update max args
  pyproject.toml
  python-avd/pyproject.toml
Due: none

Add comments
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
Due: none

Apply suggestions from code review
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/logs.py
Due: none

PR review comments
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin_mode.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: schemas

digital_twin_file default value
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
Due: none

New pre-commit yaml requirement
  .pre-commit-config.yaml
Due: none

Fix molecule runner git issue for cv_deploy
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
Due: none

updated the schema description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Add support to set interval for each recovery cause in errdisable
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/errdisable.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/errdisable.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas, templates

Update ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
Due: none

Update ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
Due: none

fixing order
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
Due: templates

fix more srlg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

remove space
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
Due: templates

Feat(eos_designs): Added support for logging_settings
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/logging_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/logging_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/logging_settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Fix of schema tools when $ref on simple fields
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/schema_tools/metaschema/resolvemodel.py
Due: schemas

modifying testcases and adding comment
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-DISABLED.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-DISABLED.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
Due: schemas

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
Due: none

Fix: Wrong Github indent
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints-keys.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
Due: schemas

updated the schema and j2 template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas, templates

CI: Make pre-commit happy again
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
Due: none

fix the pre-commit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas

updated the exporter format key with valid values
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/flow-tracking.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/flow_tracking.schema.yml
Due: schemas, templates

removed the ipv4 address log for router path selection
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/logs.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
Due: templates

Revert "Fix molecule runner git issue for cv_deploy"
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
Due: none

Add dynamically-generated molecule files to .gitignore
  .gitignore
Due: none

Feat(anta_runner): Honor validate_state for port-channel interfaces test
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/CONNECTED_ENDPOINTS.yml
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
Due: none

updated the code logic and added negative tests
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interface-conflict-in-logging-vrf-config.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/logging_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/logging_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/logging_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Created a shared_util to allow MTU
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
