Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Refactor(eos_cli_config_gen): Preserve the 'edge' keyword 'spanning-tree portfast edge' (#7175)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host6.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host6.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/eos-config-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas, templates

Addressed review comments: updated document j2 logic
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospfv3.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospfv3.schema.yml
Due: schemas, templates

Added self.result[changed] = False
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
Due: none

Updated doc logic to not render empty table
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
Due: templates

fix pipeline
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
Due: templates

updating no schedule config prepend-hostname-logfile cmd
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/schedule.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/schedule.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/schedule.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/schedule.schema.yml
Due: schemas, templates

fix(schema-explorer): add development notice
  tools/schema-explorer/static/css/style.css
  tools/schema-explorer/static/js/app.js
Due: none

fix(schema-explorer): align dark theme colors
  tools/schema-explorer/static/css/style.css
Due: none

fix(schema-explorer): improve dark type badge contrast
  tools/schema-explorer/static/css/style.css
Due: none

Feat(eos_cli_config_gen, eos_designs): Add flowdns to daemon_terminattr and plumb cvtargetconfigs/flowdns through cv_settings (#7169)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/daemon-terminattr.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-settings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
Due: schemas, templates

Apply suggestion from @laxmikantchintakindi
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Doc: Update release notes with findings on Python 3.14
  docs/release-notes/5.x.x.md
Due: none

update title
  docs/release-notes/5.x.x.md
Due: none

update installation notes
  ansible_collections/arista/avd/README.md
  docs/installation/collection-installation.md
Due: none

CI: Make it rain, Make it pass
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.22.txt
Due: none

Refactor: Address the rabbit comment
  development/coverage_plugins/coverage_plugins/jinja/compiled_parser.py
  development/coverage_plugins/tests/test_jinja.py
Due: none

improving coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/schedule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/schedule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/schedule.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
Due: templates

CI: Disable release Rust checks and pin ANTA
  .github/requirements-ci-molecule.txt
  .github/workflows/pull-request-management.yml
Due: none

ignore sonar for http proxy
  python-avd/pyavd/_cv/workflows/models.py
Due: none

fix link
  ansible_collections/arista/avd/README.md
Due: none

Update ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Fix call to AristaAvdError in _anta
  python-avd/pyavd/_anta/models.py
Due: none

Ruff fix for python-avd/pyavd/_anta/models.py
  python-avd/pyavd/_anta/models.py
Due: none

fix(schema-explorer): refine reference defaults
  docs/schema-explorer.md
  mkdocs.yml
  tools/schema-explorer/static/css/style.css
  tools/schema-explorer/static/index.html
  tools/schema-explorer/static/js/app.js
Due: none

Updated code for j2 template and schema changes
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-ldap.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ldap.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ldap.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ldap.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ldap.schema.yml
Due: schemas, templates

Apply suggestion from @laxmikantchintakindi
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ldap.schema.yml
Due: schemas

Refactor(eos_designs): Deprecate snmp_settings.communities[].access_list_ipv4 and add new key ipv4_standard_acl
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp_settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-access-list-ipv4-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-standard-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_standard_acls.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
Due: schemas

remove extra space
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-access-list-ipv4-in-catalog.yml
Due: none

remove extra space
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ipv4-standard-acl-in-catalog.yml
Due: none

added test for timeout
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-ldap.yml
Due: none

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp_settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-access-list-ipv4-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
Due: none

Update data models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Remove boolean value
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

Feat(eos_cli_config_gen, eos_designs): Add custom_cv_options escape hatch for arbitrary TerminAttr CLI flags
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/daemon-terminattr.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-settings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
Due: schemas, templates

ci: Add missing coverage for IPv6 tunnels
  .gitignore
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
Due: templates

Add captive portal acl
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
Due: none

CI: Bumping ANTA to version 1.7.0 for CI and dev to pass CI
  .github/requirements-ci-molecule.txt
  ansible_collections/arista/avd/requirements-dev.txt
Due: none

Fix CI
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

Add EOS
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
