Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

fix
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

created the utils under metadata
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/utils.py
Due: none

fixing porting guide
  docs/porting-guides/6.x.x.md
Due: none

Feat(eos_designs): Add the possibility to configure VRF rt in one direction only
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

added testcase to disable rt import/export
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/vrfs-rt-import-and-export.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/vrfs-rt-import-and-export.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/vrfs-rt-import-and-export.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Fix(eos_cli_config_gen): Render both TLS and key for radius server #
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
Due: schemas, templates

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

adressing comments
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
Due: templates

Refactor(eos_cli_config_gen): Fix j2 template for mac_access_list.entries
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/mac-access-lists.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-access-lists.j2
Due: templates

updated the unit tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/vrfs-rt-import-and-export.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/vrfs-rt-import-and-export.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/vrfs-rt-import-and-export.yml
Due: none

Implemented sorting on prefix
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/static-routes.j2
Due: templates

refactor snmp-server vrfs logic
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
Due: templates

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
Due: none

Redo the model based on vrfs
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-server.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas, templates

update doc template
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-server.j2
Due: templates

updated eos_designs code for radius_server
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-3.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Feat(eos_designs): Add support for mac-acls in network_ports/connected_endpoints
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/mac-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-access-lists.j2
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mac_acls.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/mac_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas, templates

Feat(eos_designs): Adding IPv6 ACL support on l3_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ipv6-acls.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv6-acls.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ipv6-acls.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv6-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-port-channels-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_acls.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Due: schemas

Add more tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: none

adding coverage
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ipv6-acls-name.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas, templates

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-server.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

fixing eos_Designs logic
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Adding porting-guide entry
  docs/porting-guides/6.x.x.md
Due: none

Fix sorting
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/static-routes.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas, templates

Doc(eos_designs): Fix incorrect variable name in custom interface description example
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/custom_modules/custom_interface_descriptions_with_data.py
Due: none

Minor change
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/mac_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Update negative test case
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/mac-acls.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Update error msg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/mac-acls.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

updating description in ipv6_acls schema
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv6-acls.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_acls.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Fix mac acl
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Fix Ci
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: none

updated the code to handle Nonetype
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Doc(eos_designs): Fix incorrect variable name for mlag description in custom interface description example (#6293)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/custom_modules/custom_interface_descriptions_with_data.py
Due: none

Refactor(eos_cli_config_gen): Fix j2 template for mac_access_list.entries (#6289)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/mac-access-lists.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-access-lists.j2
Due: templates

Test(eos_cli_config_gen): Add a test for node_sid_loopbacks in eos_cli_config_gen scenario (#6282)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/loopbacks-interfaces.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_loop_protection.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_loop_protection.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
Due: templates

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 8
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
Due: templates
