Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Doc template fix
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-gnmi.j2
Due: templates

Mac security
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_security.schema.yml
Due: schemas, templates

Doc: Fix documentation - Github UI is sad
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_prevent_readvertise_to_server_mode.schema.yml
Due: schemas

add negative tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-devices-parent-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-devices-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-devices-type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/device_config.py
Due: none

rename to get_vliadated_data
  pyavd-utils/pyavd_utils/validation.pyi
  pyavd-utils/rust/pyvalidation/src/lib.rs
  pyavd-utils/tests/validation/test_get_validated_data.py
Due: none

add negative test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-devices-mlag-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Add unit tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/devices-l2leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/devices-leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/devices-leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/devices-l2leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/devices-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/devices-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DEVICES_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/devices-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

revert changes to example
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_L2_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_L3_LEAFS.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_RACK1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_RACK2.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/inventory.yml
Due: none

update unreachable raise
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
Due: none

Feat(eos_cli_config_gen): Add support for type 8a ospf keys (#6081)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  pyavd-utils/tests/validation/test_validate_json.py
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas, templates

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Due: schemas, templates

Refactor: Minor perf improvement post review
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

check and raise if device is defined in both new and old
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Update schemas and doc
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Update logic
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/logs.py
Due: none

Update a few things
  ansible_collections/arista/avd/plugins/modules/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/api/_anta/avd_fabric_data.py
Due: docs-plugin-modules

Refactor(eos_cli_config_gen): Add restrictions in schema part 3
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/maintenance.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-http.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-models.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-cvx.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-server-radius.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/match-list-input.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-server-radius.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/maintenance.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_models.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_cvx.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_server_radius.schema.yml
Due: schemas, templates

Doc: Reference port-channels instead of ethernet interfaces when they belong to a port channel
  ansible_collections/arista/avd/examples/l2ls-fabric/documentation/fabric/DC1-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_ospf.py
Due: none

Feat(eos_cli_config_gen): Add traffic_policy under vlan_interfaces (#6051)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas, templates

add negative tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-devices-and-node-key-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-devices-and-node-key-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Refactor: More type checking fixes
  .pre-commit-config.yaml
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/models.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/verify_devices_on_cv.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/guaranteed_not_none.py
Due: none

Fix: Doh
  python-avd/pyavd/_utils/guaranteed_not_none.py
Due: none

CI: Remove reviewers file and option in dependabot
  .github/dependabot.yml
  .github/reviewers.yml
Due: none

CI: Fix pre-commit
  python-avd/pyavd/_cv/client/tag.py
Due: none

Feat(eos_designs): Add hostname as a property to pyavd.api.interface_descriptions InterfaceDescriptionData
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Refactor: Fix some type hints
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/tests/pyavd/cv/client/test_async_decorators.py
Due: none

Update python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Feat(eos_designs)!: Ignore eos_cli_config_gen keys found in inputs in structured_configuration
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_schema/models/constants.py
  python-avd/pyavd/_schema/models/eos_designs_root_model.py
Due: none

added unit tests
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf2c.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-leaf2c.yml
  python-avd/pyavd/_anta/input_factories/interfaces.py
Due: none

Added molecule
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/converge.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-leaf1a.yml
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/api/_anta/avd_fabric_data.py
Due: none

Test: Adding data violation test
  pyavd-utils/rust/pyvalidation/src/lib.rs
  pyavd-utils/tests/validation/test_get_validated_data.py
Due: none

update test
  pyavd-utils/rust/pyvalidation/src/lib.rs
Due: none

Test: Fix negative python test
  pyavd-utils/tests/validation/test_get_validated_data.py
Due: none

Test: Update tests expected after updating new devel
  pyavd-utils/rust/pyvalidation/src/lib.rs
  pyavd-utils/tests/validation/test_get_validated_data.py
Due: none

Update documentation
  ansible_collections/arista/avd/plugins/modules/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
Due: docs-plugin-modules

updated the code coverage
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-svc-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-leaf2c.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-svc-leaf1b.yml
  python-avd/pyavd/_anta/input_factories/interfaces.py
Due: none
