Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Minor edit on readme, removing non required sections
  docs/howto/connected_endpoints/README.md
Due: none

updating references
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/FABRIC/custom_node_types.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/FABRIC/default_node_types.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/FABRIC/fabric_variables.yml
  docs/howto/node_types/README.md
Due: none

removing action: drop
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1/connected_endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1/port_profiles.yml
Due: none

saving latest working state
  ansible_collections/arista/avd/extensions/molecule/howto/doc_artifacts/ce_artifact.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/doc_artifacts/leaf1b_artifact.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/dc1-leaf1a.cfg
  ansible_collections/arista/avd/extensions/scripts/processor.py
Due: none

fixing pre-commit errors
  docs/howto/node_types/README.md
Due: none

updating table reference and code block naming, more generic
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/node-type-variables.md
  docs/howto/node_types/README.md
Due: none

refactor
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1/connected_endpoints.yml
  docs/howto/connected_endpoints/README.md
Due: none

updating notes
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/CONNECTED_ENDPOINTS/ce.yml
  docs/howto/connected_endpoints/README.md
Due: none

some fixes
  docs/howto/connected_endpoints/README.md
Due: none

remove blank line service_leaf
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_SERVICE_LEAVES/service_leaves.yml
Due: none

fix on file reference
  docs/howto/connected_endpoints/README.md
Due: none

reference update
  docs/howto/node_types/README.md
Due: none

add new line to side effect script
  ansible_collections/arista/avd/extensions/scripts/processor.py
Due: none

some fixes
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/CONNECTED_ENDPOINTS/ce.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/dc1-svc-leaf1.yml
  docs/howto/connected_endpoints/README.md
Due: none

pyavd: optimize lookups and add caching
  python-avd/pyavd/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/get_item.py
  python-avd/pyavd/get_device_structured_config.py
Due: none

Initial commit
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

update pyavd eos_cli_config_gen documentation filters section to include ip_large_community_lists
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/filters.j2
Due: templates

Regenerate artifacts (+ validate_hardware in metadata)
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-single-switch-fabric-1.yml
Due: none

attempt to leverage natural_sort for ip_large_community_lists similar to ip-extcommunity-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

correct ip_large_community_lists entry
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

attempt 2 to leverage natural_sort for ip_large_community_lists similar to ip-extcommunity-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

attempt 3 to leverage natural_sort for ip_large_community_lists similar to ip-extcommunity-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

adjust documentation
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-large-community-lists.j2
Due: templates

Revert "adjust documentation"
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-large-community-lists.j2
Due: templates

Revert "attempt 3 to leverage natural_sort for ip_large_community_lists similar to ip-extcommunity-lists.j2"
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

Revert "attempt 2 to leverage natural_sort for ip_large_community_lists similar to ip-extcommunity-lists.j2"
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

Revert "correct ip_large_community_lists entry"
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

Revert "attempt to leverage natural_sort for ip_large_community_lists similar to ip-extcommunity-lists.j2"
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-large-community-lists.j2
Due: templates

updated unit tests and porting guide
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IPV6_NUMBERED_SPINES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Apply suggestions from code review
  docs/porting-guides/6.x.x.md
Due: none

Adding port to the table
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-server.j2
Due: templates

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

Update docs/howto/eos_designs/network_services.md
  docs/howto/eos_designs/network_services.md
Due: none

moving TypeVar
  python-avd/schema_tools/generate_classes/class_src_gen.py
Due: none

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 12
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1b.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vmtracer-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vrfs.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
Due: templates

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Change location in porting guide
  docs/porting-guides/6.x.x.md
Due: none

Refactor(eos_designs): Raise error when cv servers are defined but ntp server is missing
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-dns-settings-when-cv-server-set-as-dns-name.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-ntp-settings-when-cv-server-is-set.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
Due: none

Update docs/howto/connected_endpoints/README.md
  docs/howto/connected_endpoints/README.md
Due: none
