Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Test: Remove test following discussion
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
Due: none

Feat(eos_cli_config_gen): Added the support of dhcp client accept default-route under management interface (#6558)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
Due: schemas, templates

Feat(eos_designs): Add support for interface_defaults.ethernet.shutdown (#6560)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Fixing vitual_source_nat_vrfs
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/virtual_source_nat_vrfs.py
Due: none

Bump: Release 6.0.1 (#6609)
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v6.0.1.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/6.x.x.md
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Fix(eos_designs): Fix missing source interface for sflow_settings.export_to_cloudvision
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-settings.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

molecule run after merge
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Chore: Cleanup dead validation code
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/_schema/avdschema.py
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/tests/pyavd/schema/test_avddataconverter.py
  python-avd/tests/pyavd/schema/test_avdschema.py
  python-avd/tests/pyavd/schema/test_avdschema_bool.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_int.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Due: none

Fix(eos_designs): Fix missing source interface for sflow_settings.export_to_cloudvision (#6610)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-settings.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-settings.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Refactor: Move back to erroring for missing port-channel parents
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/net-srv-l3-po-sub-interface-without-main-po.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  python-avd/pyavd/_eos_designs/structured_config/parent_interfaces/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Due: none

fix the changes
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
Due: templates

Refactor: Move back to l3_interface type
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  python-avd/pyavd/_eos_designs/structured_config/parent_interfaces/__init__.py
Due: none

correct errors
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
Due: schemas, templates

correct errors
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
Due: schemas, templates

Test: Sort the hosts by name in all molecule (#6561)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/hosts.yml
  development/sort_hosts_yml.py
Due: none

correct logic in j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
Due: templates

make documentation consistent
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
Due: templates

fixes to molecule and schema. Adjust J2
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
Due: schemas, templates

management api http session timeout update
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-api-http.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
Due: schemas, templates

Mangement api http session timeout final test
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-http.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas, templates

fix cli syntax
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-http.j2
Due: templates

molecule
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

fix data model min value
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-http.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
Due: schemas

Initial commit
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

CI: Cleanup unused validation code (#6612)
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/_schema/avdschema.py
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/tests/pyavd/schema/test_avddataconverter.py
  python-avd/tests/pyavd/schema/test_avdschema.py
  python-avd/tests/pyavd/schema/test_avdschema_bool.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_int.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Due: none

updated schema and unit tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

updated the inputs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
Due: none

updated the isis condition
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

Address all comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mac-acl-name-from-mac-acls-entries.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mac_acls.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas

Fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mac-acl-name-from-mac-acls-entries.yml
Due: none

Fix CI
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mac_acls.schema.yml
Due: schemas

change var name
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Fix negative test, improve error
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mac-acl-name-from-mac-acls-entries.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Minor change in comment
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/mac_access_lists.py
Due: none

Feat(eos_cli_config_gen): Add ipv6_nd support to ethernet_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interface-ipv6-nd.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Support RCF function with BGP network statement (#6599)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

fixing extra space
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

fixing CI
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine2.md
Due: none

Delete python-avd/tests/pyavd/schema/test_avddataconverter.py
  python-avd/tests/pyavd/schema/test_avddataconverter.py
Due: none
