Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Remove extra variable
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/__init__.py
Due: none

changing the model to list
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-combined-settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/monitor-connectivity-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/monitor_connectivity.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

updating eos_designs negative tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-host-local-interfaces-not-in-interface-sets.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-local-interfaces-not-in-interface-sets.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-vrf-host-local-interfaces-not-in-interface-sets.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/monitor-connectivity-vrf-local-interfaces-not-in-interface-sets.yml
Due: none

Feat(eos_designs): Support for IP locking using port profiles (#6875)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas

schemas run
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

CI: Add ansible-core 2.16 to ansible-test sanity
  .github/workflows/pull-request-management.yml
Due: none

Test: Add coverage for refactored PTP
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-id-for-ptp-priority2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

Apply suggestions from code review
  .github/workflows/pull-request-management.yml
Due: none

Move comment to line 428
  .github/workflows/pull-request-management.yml
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-id-for-ptp-priority2.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ptp.py
Due: none

Refactor(eos_designs): Split code from base/__init__.py into smaller files (#6947)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-id-for-ptp-priority2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/aaa_settings.py
  python-avd/pyavd/_eos_designs/structured_config/base/dns_settings.py
  python-avd/pyavd/_eos_designs/structured_config/base/logging.py
  python-avd/pyavd/_eos_designs/structured_config/base/monitor_connectivity.py
  python-avd/pyavd/_eos_designs/structured_config/base/ptp.py
  python-avd/pyavd/_eos_designs/structured_config/base/router_bgp.py
Due: none

specify Python versions
  .github/workflows/pull-request-management.yml
Due: none

Add unit tests
  python-avd/pyavd/_cv/workflows/static_configuration_studio/deploy.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Add warning log
  python-avd/pyavd/_cv/workflows/static_configuration_studio/deploy.py
  python-avd/pyavd/_cv/workflows/static_configuration_studio/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Rename fields
  python-avd/pyavd/_cv/workflows/static_configuration_studio/deploy.py
  python-avd/pyavd/_cv/workflows/static_configuration_studio/models.py
Due: none

Bump: Pre-release 6.2.0-dev3
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Bump: Pre-release 6.2.0-dev3 (#6953)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

simplify workflow
  .github/workflows/pull-request-management.yml
Due: none

WS rebase phase1 : Address PR comments
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/tests/pyavd/cv/client/test_workspace.py
  python-avd/tests/pyavd/cv/constants.py
Due: none

WS rebase phase1: Add todo to update min_ver once CVP supports rebasing as Beta
  python-avd/pyavd/_cv/client/workspace.py
Due: none

gRPC keepalives: Remove CVDeployFuture. Change default for enabled to False
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Add negative test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-bgp-peer-filter.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Due: none

updating description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
Due: templates

Added future knob
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/eos-config-future.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls-rsvp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas, templates

Reomoved empty table rendering
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-rsvp.j2
Due: templates

Test(eos_designs): Add extra coverage for ipvpn gateway
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
Due: none

Adding dual-stack bgp peering tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces-bgp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces-bgp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces-bgp.yml
Due: none

Doc(eos_designs): Address review comments on underlay_ipv6_numbered
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ipv6_numbered.schema.yml
Due: schemas

remove l3leaf
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_SERVICES_IP_HELPERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Doc(eos_designs): Rebuild schemas after underlay_ipv6_numbered description update
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Remove files
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-l2leaf.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-l2leaf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-leaf3.yml
Due: none

adress PR comments
  .github/workflows/pull-request-management.yml
Due: none

CI: Add ansible-core 2.16 to ansible-test sanity (#6948)
  .github/workflows/pull-request-management.yml
Due: none

Feat(eos_designs): Added the support of mgmt_interface_settings (#6922)
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mgmt-interface-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mgmt-interface-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt-interface-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt-interface-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-description.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-dhcp-with-accept-default-route-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-dualstack.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-fabric.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-host.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-ipv6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-platform.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-autogen-engineid-hostname-ip-oob.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ssh-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_interface.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_interface_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_interface_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_interface_vrf.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mgmt_vrf_routing.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/mgmt.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_interface.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: schemas

Bring back the configs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-l2leaf.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ip-helpers-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-l2leaf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ip-helpers-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_SERVICES_IP_HELPERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-ip-helpers-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

udpate description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/mac-acls.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mac_acls.schema.yml
Due: schemas
