Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

CI: So type me maybe?
  .github/workflows/pull-request-management.yml
Due: none

Bump: Pre-release 6.0.0-dev4
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Bump: Pre-release 6.0.0-dev4 (#6229)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

CI: Second attemp
  .github/workflows/pull-request-management.yml
  pyproject.toml
Due: none

Refactor(eos_cli_config_gen): Changed the input data model for ip_telnet_client_source_interfaces to ip_telnet_client
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-telnet-client-source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client-source-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_telnet_client_source_interfaces.schema.yml
Due: schemas, templates

fixing duplication testcase
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-http-client-duplicate-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-ssh-client-duplicate-vrf.yml
Due: none

Feat(eos_designs): Add mgmt interface for local interface in flow tracking exporters (#6184)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-spine2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/FLOW_TRACKING_TESTS_SPINES_2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: schemas

Refactor: Address PR comments
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/secure_hash.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host_inline_jinja/local-users.yml
  ansible_collections/arista/avd/plugins/filter/secure_hash.py
  docs/plugins/Filter_plugins/secure_hash.md
  pyproject.toml
  python-avd/pyavd/j2filters/secure_hash.py
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: docs-plugin-filter

Refactor: Address PR comments
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  python-avd/pyavd/j2filters/secure_hash.py
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: none

Feat(eos_cli_config_gen): Enhance transceiver data model for 400G (#6207)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

adding min_length to lists
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_servers.schema.yml
Due: schemas

Molecule files some fixes
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-loop-protection.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-loop-protection.yml
Due: none

fixed Copiright in *.j2 files add update docomentation template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-loop-protection.j2
Due: templates

Doc: Add new restirction in porting guide
  docs/porting-guides/6.x.x.md
Due: none

Refactor(eos_cli_config_gen): Remove default-gateway key for dhcp server IPv6 subnet (#6217)
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-spine1-ztp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-spine2-ztp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-ztp-without-ntp-spine.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_dhcp_servers_subnets.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_servers.schema.yml
Due: schemas, templates

removing ip_name_servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-name-servers.j2
Due: templates

New molucule files
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
Due: none

add space befor disabled intefase table
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-loop-protection.j2
Due: templates

Doc: Reference port-channels instead of ethernet interfaces when they belong to a port channel (#6105)
  ansible_collections/arista/avd/examples/l2ls-fabric/documentation/fabric/DC1-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
Due: none

CI: Add setuptools to pyproject.toml dev group
  .github/workflows/pull-request-management.yml
  pyproject.toml
Due: none

Refactor: Remove some more python code
  python-avd/pyavd/j2filters/secure_hash.py
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: none

Refactor: Better exception catching
  python-avd/pyavd/j2filters/secure_hash.py
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: none

Refactor: Clean up all jinja2 extensions stuff
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/examples/campus-fabric/ansible.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/ansible.cfg
  ansible_collections/arista/avd/examples/dual-dc-l3ls/ansible.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/ansible.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/ansible.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/ansible.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/ansible.cfg
  docs/installation/collection-installation.md
Due: none

doc: Add porting-guide entry for Jinja2 extensions
  docs/porting-guides/6.x.x.md
Due: none

Updates and fixes
  .pre-commit-config.yaml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
  pylintrc
  python-avd/pyavd/_schema/schema_store.json.gz
  python-avd/pyavd/_schema/store.py
  python-avd/pyavd/constants.py
  python-avd/pyavd/load_inputs.py
  python-avd/schema_tools/build_schemas.py
  python-avd/schema_tools/constants.py
Due: schemas

Review comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf1-dot1x-evpn-redistribution-enabled.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf2-dot1x-evpn-redistribution-disabled.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DOT1X_EVPN_REDISTRIBUTION_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Feat(eos_designs): Schema for platform_skus and platform_families
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-families.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-skus.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_families.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_skus.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_families.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_skus.schema.yml
Due: schemas

updated the schema with new file
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ftp-client.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ftp_client.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ftp_client_source_interfaces.schema.yml
Due: schemas

updated the schema with new file
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ip_client.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_telnet_client.schema.yml
Due: schemas

use the defs for schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ftp-client.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ip_client.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ftp_client.schema.yml
Due: schemas

added porting guide
  docs/porting-guides/6.x.x.md
Due: none

updated porting guide
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-telnet-client-source-interfaces.yml
  docs/porting-guides/6.x.x.md
Due: none

rerun the molecule
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Adding porting guide entry
  docs/porting-guides/6.x.x.md
Due: none

updating porting guide
  docs/porting-guides/6.x.x.md
Due: none

Remove validation mode
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/modules/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-input-validation.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-input-validation.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
  docs/contribution/eos_designs_internal_notes.md
  docs/contribution/input-variable-validation.md
  docs/plugins/Modules_and_action_plugins/eos_cli_config_gen.md
  docs/plugins/Modules_and_action_plugins/eos_designs_facts.md
  docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_data_validation_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_data_validation_mode.schema.yml
  python-avd/pyavd/_schema/models/constants.py
  python-avd/pyavd/_schema/schema_store.json.gz
Due: docs-plugin-modules, schemas

Cut: Remove avd_data_validation_mode
  .pre-commit-config.yaml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/modules/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-input-validation.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-input-validation.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
  docs/contribution/eos_designs_internal_notes.md
  docs/contribution/input-variable-validation.md
  docs/plugins/Modules_and_action_plugins/eos_cli_config_gen.md
  docs/plugins/Modules_and_action_plugins/eos_designs_facts.md
  docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_data_validation_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_data_validation_mode.schema.yml
  python-avd/pyavd/_schema/models/constants.py
Due: docs-plugin-modules, schemas

Update ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-telnet-client-source-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-telnet-client-source-interfaces.yml
Due: none

Update python-avd/pyavd/j2filters/secure_hash.py
  python-avd/pyavd/j2filters/secure_hash.py
Due: none

Refactor: Address PR comments
  python-avd/pyavd/j2filters/secure_hash.py
Due: none
