Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

CI: Some fixes
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/tests/integration/requirements.txt
  ansible_collections/arista/avd/tests/unit/requirements.txt
  execution-environment.yml
  pyproject.toml
  python-avd/pyproject.toml
Due: none

CI: Clean up old tox file that was forgotten
  pyavd-utils/tox.ini
Due: none

CI: Remove black and isort config from pyproject (unused tools) (#6178)
  pyproject.toml
Due: none

moved code into shared utils
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/sflow-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Doc(anta_runner): Update VerifyReachability and VerifyLLDPNeighbors configuration source for inputs (#6074)
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

removed extra files
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/sflow-settings-3.cfg
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

updated the fail message
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sflow-settings-missing-inband-mgmt-interface.yml
Due: none

CI: Merge is hard
  .github/workflows/container_build_base.yml
  pyproject.toml
Due: none

updated 2 more negative test fail message
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-sflow-setting-destination-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sflow-settings-missing-mgmt-ip.yml
Due: none

CI: Yes Mister Github
  .github/workflows/build-pyavd-wheels.yml
Due: none

CI: Boobooboo
  .github/workflows/pull-request-management.yml
Due: none

CI: No version
  .github/workflows/build-pyavd-wheels.yml
Due: none

CI: WorkflowSSSS
  .github/workflows/pull-request-management.yml
Due: none

CI: Name clash?
  .github/workflows/build-pyavd-wheels.yml
Due: none

Update schema and docstring
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_anta/input_factories/hardware.py
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
Due: schemas

Refactor(eos_cli_config_gen)!: Split dhcp subnets between IPv4 and IPv6 (#6151)
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dhcp-servers.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-spine1-ztp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-spine2-ztp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/inband-ztp-without-ntp-spine.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_dhcp_servers_subnets.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_servers.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/dhcp_servers.py
Due: schemas, templates

Feat(eos_cli_config_gen): Add support to disable EAP logoff on VLAN change in dot1x (#6144)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dot1x.schema.yml
Due: schemas, templates

Fix(eos_designs): Removing local_users from address_locking_settings (#6142)
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/address-locking-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/address_locking_settings.yml
Due: schemas

Refactor(pyavd-utils): Various Rust updates and api simplifications (#6134)
  pyavd-utils/Makefile
  pyavd-utils/pyavd_utils/validation.pyi
  pyavd-utils/rust/pyvalidation/Cargo.toml
  pyavd-utils/rust/pyvalidation/src/lib.rs
  pyavd-utils/tests/validation/test_get_validated_data.py
  pyavd-utils/tests/validation/test_validate_json.py
  rust/avdschema/src/inherit.rs
  rust/avdschema/src/resolve/errors.rs
  rust/avdschema/src/resolve/walker.rs
  rust/avdschema/src/store.rs
  rust/validation/Cargo.toml
  rust/validation/build.rs
  rust/validation/src/coercion.rs
  rust/validation/src/feedback.rs
  rust/validation/src/validation/dict.rs
  rust/validation/src/validation/int.rs
  rust/validation/src/validation/list.rs
  rust/validation/src/validation/store.rs
  rust/validation/src/validation/valid_values.rs
  rust/validation/src/validation_result.rs
Due: none

Feat(eos_designs): Adding support for link-tracking downlinks on l3leaf to l2leaf (#5918)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-invalid-access-vlan-ethernet.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/incorrect-downlink-link-tracking-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Refactor(eos_cli_config_gen)!: Moved validate_state and validate_lldp key into metadata for ethernet and port-channel interfaces (#6141)
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Due: schemas

Refactor(pyavd-utils): simplify invalid schema error (#6113)
  rust/validation/src/validation/store.rs
Due: none

Refactor(eos_designs): Remove null values from schema (#6146)
  pyproject.toml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_schema/avd_meta_schema.json
Due: schemas

Feat(eos_designs): Added support for TLS in aaa_settings.radius.servers (#6135)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Refactor(eos_cli_config_gen): Add required: true in schemas part2 (#6080)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/lacp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-access-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/lacp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/link-tracking-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-prefix-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/lacp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/link-tracking-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/lacp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_access_lists.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_security.schema.yml
Due: schemas, templates

Refactor(eos_designs)!: Use re.fullmatch instead of re.match for schema pattern-based validation (#6089)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_VEOS_LAB.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURE_SFLOW_SUBINTERFACE_1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_VEOS_LAB.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURE_SFLOW_SUBINTERFACE_1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/application-traffic-recognition.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/arp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-neighbor.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-address-table.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/priority-flow-control.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos-profiles.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/application-classification.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/application_traffic_recognition.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/arp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ipv6_neighbors.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_address_table.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/priority_flow_control.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/qos_profiles.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_adaptive_virtual_topology.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
  python-avd/tests/schema_tools/artifacts/eos_cli_config_gen.schema.yml
  rust/avdschema/src/utils/test_utils.rs
Due: schemas

Feat(eos_cli_config_gen): Added support to call an RCF function with aggregate-addresses (#6148)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas, templates

Fix(plugins): Ensure colored logs are always displayed in `verify_requirements` (#6118)
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/log_handlers.py
Due: none

Address review comments
  python-avd/pyavd/api/_anta/avd_fabric_data.py
Due: none

CI: Move molecule requirements to pyproject.toml (#6173)
  .github/requirements-ci-molecule.txt
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
  pyproject.toml
Due: none

Feat(eos_designs, eos_cli_config_gen): Added the support to enable or disable bgp peer validation in vrf (#6071)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-11.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-12.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-21.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-22.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-31.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-32.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-41.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-11.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-12.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-21.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-22.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-31.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-32.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES_GROUP4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Refactor: Reduce number of list iterations
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/arp.j2
Due: templates

Refactor(eos_cli_config_gen)!: EOS cli config order changes as per 4.35.0F part1 (#6161)
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/configs/LEAF1.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/configs/LEAF2.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/configs/LEAF3.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/configs/LEAF4.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/configs/SPINE1.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/configs/SPINE2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-authorization.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-authorization.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/agents.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-authentication-policy-nopassword.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-authorization-default-role.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-authorization.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/agents-environment.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/agents.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/application-traffic-recognition.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/arp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/as-path.j2
Due: templates

Feat(anta_runner): Add VTEP routing table tests (#6043)
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf2b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/converge.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/modules/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/main.yml
  ansible_collections/arista/avd/roles/anta_runner/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
  python-avd/pyavd/_anta/logs.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyavd/api/_anta/avd_catalog_generation_settings.py
  python-avd/pyavd/api/_anta/avd_fabric_data.py
  python-avd/pyavd/get_device_test_catalog.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: docs-plugin-modules

Feat(eos_designs, eos_cli_config_gen): Added the support of exclude_as_extra_fabric_validation_target (#6120)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/exclude-as-extra-fabric-validation-target.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/exclude-as-extra-fabric-validation-target.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/exclude-as-extra-fabric-validation-target.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
