Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Preserve legacy network port VLAN filtering
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/tests/pyavd/test_get_avd_facts_get_device_structured_config.py
Due: none

Run input consolidation serially
  tools/e2e-test-avd.py
Due: none

Fix issue with platform filtered network ports
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/filter.only-vlans-in-use.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
Due: none

Avoid mutating AVDDesign during consolidation
  python-avd/pyavd/_eos_designs/consolidate/connected_endpoints.py
  python-avd/pyavd/_eos_designs/consolidate/consolidator.py
  python-avd/pyavd/_eos_designs/consolidate/model.py
  python-avd/pyavd/_eos_designs/consolidate/network_services.py
  python-avd/pyavd/_eos_designs/consolidate/node.py
  python-avd/tests/pyavd/test_get_avd_facts_get_device_structured_config.py
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

Test: Ignore utils_zscaler.py from codecov (#7528)
  .codecov.yml
Due: none

Preserve raw inputs alongside consolidated data
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_DEVICE_PROFILE_RECURSIVE_INHERITANCE/device-profile-recursive-inheritance/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_DEVICE_PROFILE/fabric-invalid-parent-device-profile/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_PORT_PROFILE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_PORT_PROFILE/fabric-invalid-parent-port-profile/consolidation_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_PORT_PROFILE_CIRCULAR_INHERITANCE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_PORT_PROFILE_CIRCULAR_INHERITANCE/port-profiles-circular-reference/consolidation_error.txt
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/lazy_json_file_mapping.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_facts.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_structured_config.py
  ansible_collections/arista/avd/tests/unit/action/test_validate_inputs.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_lazy_json_file_mapping.py
  python-avd/pyavd/_eos_designs/avdfacts.py
  python-avd/pyavd/_eos_designs/consolidate/connected_endpoints.py
  python-avd/pyavd/_eos_designs/consolidate/consolidator.py
  python-avd/pyavd/_eos_designs/consolidate/model.py
  python-avd/pyavd/_eos_designs/consolidate/models.py
  python-avd/pyavd/_eos_designs/consolidate/network_services.py
  python-avd/pyavd/_eos_designs/consolidate/node.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/generator.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/_schema/models/avd_model.py
  python-avd/pyavd/api/schemas/__init__.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/tests/models.py
  python-avd/tests/pyavd/api/test_avdpoolmanager.py
  python-avd/tests/pyavd/test_get_avd_facts_get_device_structured_config.py
  tools/e2e-test-avd.py
Due: schemas

Move the error msg to facts
  python-avd/pyavd/_eos_designs/eos_designs_facts/generator.py
  python-avd/pyavd/_eos_designs/shared_utils/ip_addressing.py
  python-avd/pyavd/api/ip_addressing/utils.py
Due: none

Fixing code rabbit findings
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Due: none

Fix empty VRRP section rendering
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vrrp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vrrp.schema.yml
  schemas/eos_config/docs/tables/vrrp.md
Due: schemas, templates

update the doc
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

add test for template with loopback_ipv4_address
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-ipv6-numbered-l3leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/custom-templates-ipv6-numbered-spine.cfg
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-ipv6-numbered-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/structured_configs/custom-templates-ipv6-numbered-spine.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_IPV6_NUMBERED_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/hosts.yml
Due: none

Fix ci
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_MISSING_LOOPBACK_IPV4_POOL/avd_facts_error.txt
Due: none

Add error message in router_id api
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

updated nodes logic
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-svi-ospfv3/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-ospf-v3.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospfv3.py
  schemas/avd_design/docs/tables/network-services-vrfs-ospfv3-settings.md
Due: schemas

Addressed review comments: updated enabled as required
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
  schemas/avd_design/docs/tables/system-settings.md
Due: schemas

Add error message
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

guarded enabled key
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  schemas/avd_design/docs/tables/network-services-vrfs-ospfv3-settings.md
Due: schemas

Refactor(eos_designs): Move system MAC utilities and consolidate negative tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/system.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_zscaler.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/system.py
Due: none

Apply suggestion from @laxmikantchintakindi
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/ip_addressing/router-id.j2
Due: none

Keep cv_workflow disabled in check mode.
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
Due: none

Fix(eos_designs): Improve error for missing mlag_peer_l3_ipv6_pool with underlay_ipv6_numbered
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_MISSING_MLAG_PEER_L3_IPV6_POOL/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_MLAG_PEER_L3_IPV6_POOL.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/api/ip_addressing/__init__.py
  schemas/avd_design/docs/tables/node-type-l2-mlag-configuration.md
Due: schemas

Refactor(eos_designs): Load validated hostvars lazily
  ansible_collections/arista/avd/collection-files.txt
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/lazy_json_file_mapping.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_facts.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_structured_config.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_lazy_json_file_mapping.py
  python-avd/pyavd/_utils/template.py
  python-avd/tests/pyavd/utils/test_template.py
Due: none

Update ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/ip_addressing/router-id.j2
Due: none

Feat(eos_designs): Add support to validate the source address of dhcp replies
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dhcp-relay-vtep.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dhcp-relay-vtep.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dhcp-relay-vtep.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  schemas/avd_design/docs/tables/system-settings.md
Due: schemas

Fix(plugins): Preserve Python warnings from forked workers
  ansible_collections/arista/avd/collection-files.txt
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/multiprocessing_logging.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

Refactor(eos_designs): Move system MAC utilities and consolidate negative tests (#7540)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/system.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_zscaler.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/system.py
Due: none

Apply suggetion from @clausholbech
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  schemas/avd_design/docs/tables/node-type-loopback-vtep-configuration.md
Due: schemas

Doc(anta_runner): Clarify public logging verbosity categories
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/release-notes/6.x.x.md
Due: none

Test(anta_runner): Cover forked worker log failure policy
  ansible_collections/arista/avd/tests/unit/action/test_anta_workflow.py
Due: none

Update description for router_id_pool
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  schemas/avd_design/docs/tables/node-type-loopback-vtep-configuration.md
Due: schemas

CI: Report coverage by area and retain the complete-report gate
  .codecov.yml
  .github/workflows/codecov.yml
  .github/workflows/pull-request-management.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/general_settings.schema.yml
Due: schemas

Updated description
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_relay.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  schemas/avd_design/docs/tables/system-settings.md
  schemas/eos_config/docs/tables/dhcp-relay.md
Due: schemas

Test(eos_designs): Run negative design cases only in E2E
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/extensions/molecule/README.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/create.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/destroy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/molecule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/tasks/run_negative_eos_designs_case.yml
  docs/contribution/development-tooling.md
  docs/contribution/e2e-test/using-the-tool.md
  docs/contribution/overview.md
Due: none

fix(cv_deploy): keep admin nopassword in molecule intended configs
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine2.cfg
Due: none

Fix(ci): Align coverage producer triggers and require the report
  .github/workflows/pull-request-management.yml
Due: none

fix(cv_deploy): use secret arista so workspace apply matches lab eAPI
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine2.cfg
Due: none

fix(cv_deploy): replace type-0 secrets with sha512 from the lab
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine2.cfg
Due: none

Fix(ci): Require the Ansible collection build to pass
  .github/workflows/pull-request-management.yml
Due: none
