Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Fix(eos_designs): Disable endpoint state validation in digital twin
  python-avd/pyavd/_eos_designs/connected_endpoints/context.py
Due: none

Docs(eos_designs): Clarify endpoint state validation
  python-avd/pyavd/_eos_designs/connected_endpoints/context.py
Due: none

custom_system_mac_address: Initial commit
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/system.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-multicast/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-no-device-id/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-multicast.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-no-device-id.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-hostname.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-static.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-with-snmp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-autogen-engineid-rfc3411-type3-custom-system-mac.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-hostname.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-static.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-with-snmp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-autogen-engineid-rfc3411-type3-custom-system-mac.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-system-mac-address-hostname.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-system-mac-address-static.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-system-mac-address-with-snmp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-system-mac-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-autogen-engineid-rfc3411-type3-custom-system-mac.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/system.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/system-mac-address.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/system.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_system_mac_address.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/system.py
  schemas/avd_design/docs/tables/system-settings.md
  schemas/eos_config/docs/tables/system.md
Due: schemas, templates

Refactor: Address review comments
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/custom_template1.yml.j2
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_structured_config.py
  python-avd/pyavd/_utils/merge/mergeonschema.py
  python-avd/tests/pyavd/utils/merge/test_merge.py
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_utils/merge/mergeonschema.py
Due: none

Fix pre-commit issue
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
Due: none

Refactor(eos_designs): Restore connected endpoints generator protocol
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/mac_access_lists.py
Due: none

Use a common method for recursive profiles
  python-avd/pyavd/_eos_designs/shared_utils/device_config.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Refactor(eos_designs): Move MAC ACL generation to structured config utils
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/mac_access_lists.py
Due: none

Feat(eos_cli_config_gen): Added the support of validate the source address of dhcp replies
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dhcp-relay.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/dhcp-relay.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-relay.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-relay.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_relay.schema.yml
  schemas/eos_config/docs/tables/dhcp-relay.md
Due: schemas, templates

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_DEVICE_PROFILE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_PORT_PROFILE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_PORT_PROFILE_CIRCULAR_INHERITANCE/avd_facts_error.txt
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Fix CI
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

added missing files
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE.yml
Due: none

Fix error message
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DEVICE_PROFILE_INFINITE_INHERITANCE.yml
Due: none

Final
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-l2vlan-parent-profile-does-not-exist-multilevel/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/invalid-profile-in-infinite-svi-profile-inheritance/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_DEVICE_PROFILE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_INVALID_PARENT_PORT_PROFILE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_PARENT_DEVICE_PROFILE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_PARENT_PORT_PROFILE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_PORT_PROFILE_CIRCULAR_INHERITANCE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-parent-profile-does-not-exist-multilevel.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-profile-in-infinite-svi-profile-inheritance.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Addressed review comments: updated new ospfv3 model
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-ospfv3-address-family/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-ospfv3-ipv6-not-enabled/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-svi-ospfv3/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ospfv3-address-family.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ospfv3-ipv6-not-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ipv6-router-ospf-default-vrf.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-ospf-v3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv6-router-ospf-default-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-ospf-v3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ipv6-router-ospf-default-vrf.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-ospf-v3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospfv3-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospfv3.py
Due: schemas

Doc(adr): Address architecture decision record review
  AGENTS.md
  adr/README.md
  adr/ansible-collection/README.md
  adr/data-modeling/README.md
  adr/schema/0004-preserve-cross-consumer-semantics.md
  adr/schema/0010-use-canonical-types-and-explicit-conversion.md
  adr/schema/README.md
  adr/schema/schema-0001-use-constrained-avd-schema-dialect.md
  adr/schema/schema-0002-separate-schema-domains.md
  adr/schema/schema-0003-author-fragments-and-generate-artifacts.md
  adr/schema/schema-0004-define-schema-feature-semantics-per-consumer.md
  adr/schema/schema-0005-separate-boundary-validation-from-models.md
  adr/schema/schema-0006-reuse-schema-definitions-with-refs.md
  adr/schema/schema-0007-close-nested-mappings-and-open-integration-roots.md
  adr/schema/schema-0008-restrict-data-dependent-schema-features.md
  adr/schema/schema-0009-require-primary-keys-for-mergeable-lists.md
  adr/schema/schema-0010-use-canonical-types-with-centralized-coercion.md
  adr/schema/schema-0011-model-unset-default-empty-and-null.md
  adr/schema/schema-0012-evolve-schemas-additively-with-deprecation.md
  adr/template.md
  adr/versioning/README.md
  adr/versioning/versioning-0001-co-version-pyavd-and-arista-avd.md
  adr/versioning/versioning-0002-classify-stable-public-inputs-and-apis.md
  adr/versioning/versioning-0003-classify-generated-output-stability.md
  adr/versioning/versioning-0004-deprecate-before-major-removal.md
  adr/versioning/versioning-0005-stage-breaking-behavior-with-future-flags.md
  adr/versioning/versioning-0006-document-correctness-and-non-semantic-exceptions.md
  docs/contribution/architecture-decisions.md
  mkdocs.yml
Due: none

Test: Fix schema merge CI coverage
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/custom_template1.yml.j2
  python-avd/tests/pyavd/utils/merge/test_merge.py
Due: none

Add doc for IPV4 LU
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

custom_system_mac_address: Restore incorrectly removed line
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Bump(requirements): Update pyavd-utils to 0.0.10
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyproject.toml
Due: none

custom_system_mac_address: Drop term template from err messages. Fix coverage gaps
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-invalid-format/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-multicast/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-invalid-format.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-multicast.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Add a configurable software-forwarding MTU size.
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-software-forwarding.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-software-forwarding.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-software-forwarding.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_software_forwarding.schema.yml
  schemas/eos_config/docs/tables/ip-software-forwarding.md
Due: schemas, templates

Refactor(ci): Reuse e2e framework for benchmarks
  .github/workflows/benchmarks.yml
  .github/workflows/pull-request-management.yml
  benchmarks/README.md
  benchmarks/conftest.py
  benchmarks/test_molecule_scenarios.py
  docs/contribution/e2e-test/tool-flow.md
  tools/e2e-test-avd.py
  tools/e2e_test_avd.py
Due: none

Refactor: Better typing for central helper and missed renames
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/invalid-profile-in-recursive-svi-profile-inheritance/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/FABRIC_DEVICE_PROFILE_RECURSIVE_INHERITANCE/avd_facts_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DEVICE_PROFILE_RECURSIVE_INHERITANCE.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-parent-profile-in-circular-svi-profile-inheritance.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-profile-in-recursive-svi-profile-inheritance.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/l2vlan-profiles-with-recursive-inheritance.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/l2vlan-profiles-with-recursive-inheritance.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/l2vlan-profiles-with-recursive-inheritance.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/device_config.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

custom_system_mac_address: Attempt to address comments from Claus
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-invalid-format/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/custom-system-mac-address-multicast/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-invalid-format.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/custom-system-mac-address-multicast.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-colon.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-dash.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-colon.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-dash.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-system-mac-address-colon.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-system-mac-address-dash.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/system.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_system_mac_address.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/system.py
  schemas/avd_design/docs/tables/system-settings.md
  schemas/eos_config/docs/tables/system.md
Due: schemas

custom_system_mac_address: Provide format suggestion
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_system_mac_address.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  schemas/avd_design/docs/tables/system-settings.md
Due: schemas

custom_system_mac_address: Enforce format normalization
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-dash.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-hostname.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-static.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address-with-snmp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-system-mac-address.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-autogen-engineid-rfc3411-type3-custom-system-mac.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-dash.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-hostname.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-static.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address-with-snmp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-system-mac-address.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-autogen-engineid-rfc3411-type3-custom-system-mac.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_system_mac_address.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/system.py
  schemas/avd_design/docs/tables/system-settings.md
Due: schemas

custom_system_mac_address: Minor adjustments
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/system.py
Due: none

Apply batched suggestions from code review
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-relay.j2
Due: templates

custom_system_mac_address: Drop support for 0000.0000.0000
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Add vpnv6 tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-bgp.yml
Due: none

Apply suggestion from @laxmikantchintakindi
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

ci: This is was we need to delete now
  ansible_collections/arista/avd/.ansible-lint-ignore
Due: none

Doc: Update schema description
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/svi_profiles.schema.yml
  schemas/avd_design/docs/tables/network-services-multicast-settings.md
  schemas/avd_design/docs/tables/network-services-vrfs-ospf-settings.md
  schemas/avd_design/docs/tables/svi-profiles.md
Due: schemas

Feat(eos_cli_config_gen): Add support to set `next-hop resolution disabled` (#7414)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-bgp.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  schemas/eos_config/docs/tables/router-bgp.md
Due: schemas, templates

Doc(eos_designs): Improve description of overlay_routing_protocol_address_family
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_routing_protocol_address_family.schema.yml
  schemas/avd_design/docs/tables/overlay-settings.md
Due: schemas

Create a table to render MTU size and exceed action
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-software-forwarding.j2
Due: templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
