Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Feat(eos_cli_config_gen): Support for cv_loss_timeout flag (#6654)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
Due: schemas, templates

Fix VLAN 3099 to only appear on dc1-svc3a/b configs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1.l2leaf6a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1.l2leaf6b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1.l2leaf7a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
Due: none

Add wait_for_new_workspace_readiness
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/create_workspace_on_cv.py
  python-avd/tests/pyavd/cv/mocked_api_recordings/arista.workspace.v1.WorkspaceService/Subscribe/www.cv-prod-us-central1-c.arista.io/1560c66d73da2be39448d710f15853fb124b2548.json
  python-avd/tests/pyavd/cv/workflows/test_create_workspace_on_cv.py
Due: none

Use standard 600s timeout for get_tags and delete_tags calls
  python-avd/pyavd/_cv/client/tag.py
Due: none

Feat(cv_deploy): Add cv_deploy schema
  .gitignore
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/docs/tables/cv_deploy.md
  ansible_collections/arista/avd/roles/cv_deploy/docs/tables/metadata.md
  pylintrc
  python-avd/pyavd/_schema/constants.py
  python-avd/schema_tools/build_schemas.py
  python-avd/schema_tools/constants.py
  python-avd/schema_tools/generate_classes/src_generators.py
  schemas/cv_deploy/__init__.py
  schemas/cv_deploy/cv_deploy.schema.yml
  schemas/cv_deploy/schema_fragments/_defaults.schema.yml
  schemas/cv_deploy/schema_fragments/main.schema.yml
  schemas/cv_deploy/schema_fragments/metadata.schema.yml
Due: none

keeping previous TCs and adding new onces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-access-lists.yml
Due: none

Feat(eos_cli_config_gen): Add ipv6_nd support to tunnel_interfaces
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
Due: schemas, templates

Use AristaAvdMissingVariable error
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mac-acl-name-from-mac-acls-entries.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Feat(eos_cli_config_gen): Add ipv6_nd support to vlan_interfaces
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas, templates

fixing TCs inputs
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
Due: none

Refactor(eos_cli_config_gen): Fix the deprecation warning for IP RADIUS and TACACS source interface data model
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/eos-config-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ip-radius-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ip-tacacs-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-radius-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-tacacs-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas, templates

updated the example molecule and data model documentation
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas

Fix(cv_deploy): Use standard 600s timeout for get_tags and delete_tags calls (#6678)
  python-avd/pyavd/_cv/client/tag.py
Due: none

fix the exclamation mark
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-radius-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-tacacs-source-interfaces.j2
Due: templates

Feat(eos_cli_config_gen): Add ipv6_nd support to ethernet_interfaces (#6617)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interface-ipv6-nd.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

Use default DEFAULT_API_TIMEOUT
  python-avd/pyavd/_cv/client/workspace.py
Due: none

Fix schema paths
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/docs/tables/metadata.md
  pylintrc
  python-avd/pyavd/_cv/schema/__init__.py
  python-avd/pyavd/_schema/constants.py
  python-avd/schema_tools/constants.py
  python-avd/schema_tools/generate_classes/src_generators.py
  schemas/cv_deploy/cv_deploy.schema.yml
  schemas/cv_deploy/schema_fragments/metadata.schema.yml
Due: schemas

Update packaging
  python-avd/pyproject.toml
Due: none

Update Sonar config
  sonar-project.properties
Due: none

Added schema class to API
  python-avd/pyavd/api/schemas/__init__.py
Due: schemas

Rollback changes that were handled in other PRs
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/create_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
Due: none

added the know in eos_designs host vars
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-3.yml
Due: none

Change method of assertion for deployed_static_config_containers
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
Due: none

Doc: Move the fabric_ip_addressing.loopback.ipv6_prefix_length to Fabric IP Addressing table
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-ip-addressing.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_ip_addressing.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Add support for latest style of description in monitor_connectivity.hosts
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas, templates

Improve descriptions in vrfs and vrf.hosts
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas, templates

Fix doc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
Due: templates

Fix tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
Due: templates

update description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

Update desc
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

Descriptions again
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

Change key name to single_line_description
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas, templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas

CI: Updated the j2 compilation method to use the generic name for compiled files (#6480)
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/utils/test_templater.py
Due: none

updated the unit tests and j2 documentation template
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/ip-tacacs-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-radius-source-interfaces.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
Due: templates

Doc: Move the fabric_ip_addressing.loopback.ipv6_prefix_length to Fabric IP Addressing table (#6685)
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-ip-addressing.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_ip_addressing.schema.yml
Due: schemas

applying suggestions
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
Due: templates

Addressed review comments: added evpn all rd support
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates
