Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Address review comments
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_logging/config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_logging/decorator.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_logging/handlers.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_logging_decorator.py
Due: none

Added unit tests
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_logging_decorator.py
Due: none

Update unit test
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

updated the code with suggestions
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_designs_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_structured_config.py
Due: none

fix the CI failure
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Feat(eos_designs): Add monitor sessions support for l3 interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_monitor_sessions.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_connected_endpoints.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_network_ports.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas

fix the uncovered code
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

updated the schema and documentation j2 template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
Due: schemas, templates

Adding condition before rendering config in doc template
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Added descriotion and updated doc template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/load-balance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load_balance.schema.yml
Due: schemas, templates

Fixing indentation
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
Due: templates

Feat(eos_cli_config_gen): Add support for redirect actions to traffic-policies
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
  python-avd/tox.ini
Due: schemas, templates

Update python-avd/tests/models.py
  python-avd/tests/models.py
Due: none

improving coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
Due: none

removing tox
  python-avd/tox.ini
Due: none

Apply suggestions from code review
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Feat(eos_cli_config_gen): Support for Low Latency tx-queue Scheduler Profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/platform.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interface-tx-queues.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/qos.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/qos.schema.yml
Due: schemas, templates

moving test example
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l2vlan-private-vlan.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l2vlan-svi-address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l2vlan-private-vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l2vlan-svi-address-locking.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l2vlan-private-vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l2vlan-svi-address-locking.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

PR comments
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Updating copyright year
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas

Updated doc table for QOS
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos.j2
Due: templates

fix doc
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
Due: none

Refactor(eos_designs): Fix the duplicate tacacs/radius server configuration
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-radius-server.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tacacs-server.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

fix the pre-commit
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-radius-server.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tacacs-server.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
Due: templates

adding description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas

addressing comments on min_length and adding ipv6 tc
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas

Feat(eos_designs): Deprecate the collector key for flow_tracking and add new key collectors
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/TENANTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/flow_tracking_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-custom-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FLOW_TRACKING_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FLOW_TRACKING_TESTS_SPINES_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-custom-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_flow_tracking.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
Due: schemas

combine two files
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/connected_endpoints.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_network_ports.py
Due: none

move match regexes
  python-avd/pyavd/_eos_designs/shared_utils/connected_endpoints.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Doc: Adding ANTA tests table index
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/pyavd/pyavd.md
Due: none

Improve error handling and visibility for cv_deploy molecule scenario
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Always run cleanup against all devices
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load_balance.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load_balance.schema.yml
Due: schemas

fixing test
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FLOW_TRACKING_TESTS_SPINES_1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
Due: schemas

CI: Added the support to check the missing tables
  .pre-commit-config.yaml
  python-avd/scripts/find_missing_tables.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

molecule eos_validate_state output
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
Due: none

Feat(eos_cli_config_gen): Add support for router rip configuration
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-rip.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-rip.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-rip.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-rip.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/routing.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-rip.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_rip.schema.yml
Due: schemas, templates
