Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

using def
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/pf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/pf2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-wan1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-wan2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-wan2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site3-wan1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site4-wan1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-no-ipsec-for-wan-path-group.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-undeployed-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-undeployed-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-services-l2-only-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-access-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-access-lists.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/def_access_list_entry.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_access_lists.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ipv6_access_lists.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas

Fix(cv_deploy): Properly clean-up unused AVD-managed container assignments (#6650)
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_http.schema.yml
Due: schemas

Refactor(eos_designs): Use avd_design_future key
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_7_behaviours.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

adding testcases for mandatory filter
  python-avd/tests/pyavd/j2filters/test_mandatory.py
Due: none

Refactor: Add AVDTemplar to avoid accessing private Ansible Templar attributes and triggering deprecation
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_templar.py
  ansible_collections/arista/avd/plugins/vars/global_vars.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/avd_templar.py
  python-avd/pyavd/_utils/template.py
  python-avd/pyavd/_utils/template_var.py
  python-avd/tests/pyavd/utils/test_template.py
  python-avd/tests/pyavd/utils/test_template_var.py
Due: docs-plugin-vars

trixie to bookworm
  .github/workflows/container_build_template.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_7_behaviours.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_7_behaviours.schema.yml
Due: schemas

Remove deprecation
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

REmove old file
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_7_behaviours.schema.yml
Due: schemas

CI(containers): trixie to bookworm (#6657)
  .github/workflows/container_build_template.yml
Due: none

Refactor: Fix ansible-test sanity issue with circular import
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_templar.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_prevent_readvertise_to_server_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_prevent_readvertise_to_server_mode.schema.yml
Due: schemas

Fix: Old ansible should keep using old ansible functions .. :)
  python-avd/pyavd/_utils/template.py
Due: none

obtain to append_new
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

Feat(eos_cli_config_gen): Support for BGP Auto-RD (#6518)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-bgp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

Fix(eos_designs): Address template values being None for custom template for ansible-core >= 2.19
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/empty.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_SPINES.yml
Due: none

Fix: Do not try to load None
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
Due: none

Fix issues with Workspaces not ready
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_manifest_only.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/cv_deploy_with_manifest.yml
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/create_workspace_on_cv.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ipv6_nd.schema.yml
Due: schemas, templates

Apply suggestion from @carl-baillargeon
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ipv6_nd.schema.yml
Due: schemas

improving coverage to 97%
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-access-lists.j2
Due: templates

updated the j2 template and schema description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-tacacs-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-tacacs-source-interfaces.j2
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas, templates

used AvdDeprecationWarning and updated code logic
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/set-both-all-active-multihoming-and-d-path-keys.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

suggestion applied on schemas
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Raise if creation of configlets failed
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
Due: none

Refactor(eos_designs): Use `avd_design_future` key instead of `avd_7_behaviors` (#6655)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/leaf2-dot1x-evpn-redistribution-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Update ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/empty.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/empty.j2
Due: none

Updated comments
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: schemas

Apply suggestion from @Shivani-gslab
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/loopback_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dps-interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dps-interfaces.schema.yml
Due: schemas

updated comment
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dps-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

Update python-avd/pyavd/_utils/avd_templar.py
  python-avd/pyavd/_utils/avd_templar.py
Due: none

Fix(eos_designs): Address template values being None for custom template for ansible-core >= 2.19 (#6663)
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/empty.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_SPINES.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
Due: none

Addressed review commments: updated description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
Due: schemas

Refactor: Address PR comments
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/constants.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/action_plugin_vars.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_templar.py
  ansible_collections/arista/avd/plugins/vars/global_vars.py
  python-avd/pyavd/_utils/template.py
Due: docs-plugin-vars

adding description and modifying table name
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ipv6_nd.schema.yml
Due: schemas, templates
