Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

renamed the template name
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/false_output.yml.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_custom_template_edge_cases.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_empty_custom_template_output.yml
Due: none

Add remove_in_version
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ntp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ntp.schema.yml
Due: schemas

Fix(eos_designs): Fix new_key in snmp_settings and add remove_in_version in ntp (#7342)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ntp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ntp.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
Due: schemas

Updated key name to allow_ipv4_standard_access_list
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-dot1x-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas

updated the description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
Due: schemas

CI: Added integration tests for eos_designs_documentation plugin action (#7344)
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_facts_file.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_with_existing_structured_cfg_json.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_with_existing_structured_cfg_yml_all_outputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_without_fabric_documentation_output.yml
Due: none

EVPN RS reverse peering to GWs: Address password inconsistency
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/evpn-gateway-core-password-missing/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/intended/structured_configs/evpn-gateway-core-password-missing-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/evpn-gateway-core-password-missing-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/evpn-gateway-core-password-missing.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-ibgp-vxlan-client.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-ibgp-vxlan-server.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-spine3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-spine4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-role-server-overlay-vxlan-ibgp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-ibgp-vxlan-client.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-ibgp-vxlan-server.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-spine3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-spine4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_IBGP_EVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

Update description and use set_ipv4_acl from structured_config_utils
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-access-lists.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_access_lists.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

Add dynamic_authorization: true in negative test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-web-authentication-acl-in-ipv4-acls.yml
Due: none

Keep ACL and prefix boundaries in separate fixtures.
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

Feat(eos_designs): Add IPv6 ACL support on l3_interfaces for network services
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-interfaces.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Due: schemas

Feat(eos_designs): Improve handling of OOB route-reflectors
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-peer-groups-4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

CI: Added integration tests for eos_designs_facts plugin action
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/aliases
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/defaults/main.yaml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_invalid_fabric_name.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_missing_validated_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_facts/tests/test_with_template_output_true.yml
Due: none

updated the full error msg
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_facts_file.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_missing_eos_designs_facts.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_missing_validated_inputs.yml
Due: none

Fix ci
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe3.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr2.yml
Due: none

Added unit test for multiple boundries
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

Raising error for default VRF
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-graceful-restart-in-vrf-default/input_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-graceful-restart-in-vrf-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/bgp-from-network-services-31/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/bgp-from-network-services-32/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/bgp-from-network-services-41/structured_config_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-31.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-32.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-41.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-31.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-32.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-loopbacks-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

fixed default vrf condition
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-graceful-restart-in-vrf-default/input_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/failure-graceful-restart-in-vrf-default/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-graceful-restart-in-vrf-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/bgp-from-network-services-31/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/bgp-from-network-services-32/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/errors/EOS_DESIGNS_UNIT_TESTS/bgp-from-network-services-41/structured_config_validation_violations.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-31.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-32.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-41.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-31.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-32.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES_GROUP4.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Device decomm phase 3: Address coderabbitai comment
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/device_decommission.yml
Due: none

Manage CC in cv_deploy: Initial commit
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  ansible_collections/arista/avd/tests/unit/action/test_cv_workflow.py
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/conftest.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: docs-plugin-modules

Manage CC in cv_deploy: De-scope CC deletion and few other extra things for now
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/tests/unit/action/test_cv_workflow.py
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/conftest.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: docs-plugin-modules

Manage CC in cv_deploy: Minor logical changes
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

Manage CC in cv_deploy: Extra changes
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

Manage CC in cv_deploy: Another change
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/tests/unit/action/test_cv_workflow.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

Manage CC in cv_deploy: Separate module for CC-only mode
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/manage_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

Manage CC in cv_deploy: cleanup
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/manage_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_manage_change_control_on_cv.py
Due: none

Manage CC in cv_deploy: Updates
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/tests/unit/action/test_cv_workflow.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/manage_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_manage_change_control_on_cv.py
Due: none

moving error raise after bgp enabled check
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Supporting only ext acl for dot1x
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/missing-dot1x-access-list-in-catalogs/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/errors/EOS_DESIGNS_FAILURES/missing-dot1x-ipv4-standard-acl-in-catalog/structured_config_error.txt
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-dot1x-access-list-in-catalogs.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-dot1x-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: schemas

fixing the false condition
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-41.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

fixing CI failure
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

e2e run after applying suggestion
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-41.yml
Due: none

Utilze existing port channel to add multicast scenarios
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

fixed yamllint issue
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
Due: none

CI: Added integration tests for eos_designs_structured_config plugin action (#7335)
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_facts_file.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/false_output.yml.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/list_result.yml.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/null_only.yml.j2
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_custom_template_edge_cases.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_empty_custom_template_output.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_missing_eos_designs_facts.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_missing_validated_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_structured_config_false.yml
Due: none

Update the new keys
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
