Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Updates
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/l3_edge.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/l3_edge.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_rfc5549.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_rfc5549.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none

Refactor code
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Add default vrf test
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/tenant-default-vrf-settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/tenant-default-vrf-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/tenant-default-vrf-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Fix CI
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/add-subnets-to-redistribution-in-default-vrf-with-sequence30.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
Due: none

remove the tags from l2vlan_profiles
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-grandparent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l2vlan_profiles.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l2vlan_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l2vlan_profiles.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_l2vlans.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/l2vlan_profiles.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: schemas

updated the table headings
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cfm.j2
Due: templates

Refactor(eos_cli_config_gen): Remove deprecated keys for ethernet_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

minor change
  python-avd/pyavd/_eos_designs/shared_utils/platform_mixin.py
Due: none

Fix doc template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

removing deprecated_vars tests
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
Due: none

Test(pyavd): Add more tests of schema tooling
  python-avd/pyavd/_schema/avdschema.py
  python-avd/tests/pyavd/schema/test_avddataconverter.py
  python-avd/tests/pyavd/schema/test_avdschema.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Due: none

Initial commit
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/schemas.py
  python-avd/pyavd/_cv/workflows/sync_config_hierarchy_to_cv.py
Due: none

update eos_cli_config_gen__negative_unit_tests
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
Due: none

Update ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
Due: none

Cut(eos_cli_config_gen, eos_designs): Remove the deprecated keys for aaa_accounting
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host2/aaa-accounting.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_accounting.schema.yml
Due: schemas, templates

Update description and regex to bgp peer groups
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

updated the arista.avd.defined in doc template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cfm.j2
Due: templates

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-parent-profile-does-not-exist.yml
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-profile-does-not-exist.yml
Due: none

Update python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Feat(eos_cli_config_gen): Added support to apply EAP-TLS profile to interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

updated the logic to reduce the looping twice on l2vlans
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Updated documentation on devices
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
Due: none

Cut(eos_cli_config_gen, eos_designs): Remove deprecated keys
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/community-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/flow-tracking.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/TENANTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/flow_tracking_settings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/community-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/community-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/filters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/community-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/community_lists.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_flow_tracking.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
Due: schemas, templates

Fix CI
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
Due: templates

Updating eos_validate_state and anta_runner
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3a.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
Due: none

added removed: true tot the keys
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas

updated artifacts
  python-avd/tests/schema_tools/artifacts/ethernet-interfaces.json
Due: none

Update schema
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
Due: schemas

Update code
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

Update tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
Due: none

refactor for more reuse and to include individual vlans on uplinks etc.
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-missing-profile-lacp-fallback.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Due: none

fixing whitespace
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

update description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: schemas

use match_nodes
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Use match_nodes
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Doc: Move eos_cli_config_gen var in cv-pathfinder example
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/host_vars/inet-cloud.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
