Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS4.35.0F part16 (#6461)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-telemetry-influx.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-telemetry-influx.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-telemetry-influx.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Due: schemas, templates

required key for sflow egress interface keys
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sflow.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
Due: schemas

Update documentation
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

Initialize vault_id and secret once
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_file_handler.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_vault_handler.py
Due: none

Change load to read in docstrings
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
Due: none

Forgot to update two docstrings
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
Due: none

Feat: Encrypt temporary files when vault is enabled (#6463)
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_file_handler.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_vault_handler.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/filter_password/aliases
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/.vault_dev
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/.vault_password
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/.vault_prod
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/aliases
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/ansible.cfg
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/ansible_multi_vault.cfg
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/hosts.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/runme.sh
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/tasks/verify_vault_encryption.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_multi_vault_default.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_multi_vault_with_id.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_with_vault.yml
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs_vault/test_without_vault.yml
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_vault_id.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_vault_id.schema.yml
Due: docs-plugin-modules, schemas

added comment for ip address sorting
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Added test file for coverage
  python-avd/tests/pyavd/utils/test_templater.py
Due: none

fix the CI failure for pre-commit
  python-avd/tests/pyavd/utils/test_templater.py
Due: none

Feat(eos_cli_config_gen): Add support for logging local-interface command
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Due: schemas, templates

Update doc
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Due: schemas

Rebase
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/logging.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
Due: templates

CI: Add Python 3.14 to PyAVD test matrix (#6485)
  .github/workflows/pull-request-management.yml
Due: none

normalize the path and raise error for same module
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/utils/test_templater.py
Due: none

fix the CI failure for pyavd test
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/utils/test_templater.py
Due: none

Bump: Pre-release 6.0.0-dev8
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Bump: Pre-release 6.0.0-dev8 (#6489)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Apply suggestion from @gmuloc
  docs/porting-guides/6.x.x.md
Due: none

Test: Moleculing the molecule
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF1B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3B.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3C.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3D.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF3E.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF1A.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF1B.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF3A.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF3B.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF3C.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF3D.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF3E.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
Due: none

Test: Moleculing the molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf1-dot1x-evpn-redistribution-enabled.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/leaf2-dot1x-evpn-redistribution-disabled.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf1-dot1x-evpn-redistribution-enabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled-vlan-aware-bundles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/leaf2-dot1x-evpn-redistribution-disabled.yml
Due: none

update based on conversation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sflow.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
Due: schemas, templates

Updating link and adding filter option reference
  docs/howto/network_services/README.md
Due: none

initial work on network services
  ansible_collections/arista/avd/extensions/molecule/howto/artifacts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/howto-l3-leaf1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/howto-l3-leaf2.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_L3_LEAVES/filter.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES/l3_interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES/services.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES/svi_profiles.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES/topology.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/howto-l3-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/howto-l3-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/howto-l3-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/howto-l3-leaf2.yml
  docs/howto/network_services/README.md
  docs/howto/network_services/artifacts/howto-l3-leaf1-services.cfg
  mkdocs.yml
Due: none

Migrating from leaves to leafs as is the way
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTNS_L2_LEAFS/all.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTNS_L3_LEAFS/l3leaf.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  docs/howto/network_services/README.md
Due: none

migrating to a more scalable layout
  ansible_collections/arista/avd/extensions/molecule/howto/artifacts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES_L2_LEAVES/all.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES_L3_LEAVES/l3leaf.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/how-to-network-services-l2-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/how-to-network-services-l3-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/how-to-network-services-l3-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/how-to-network-services-l2-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/how-to-network-services-l3-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/how-to-network-services-l3-leaf2.yml
  docs/howto/network_services/README.md
  docs/howto/network_services/artifacts/how-to-network-services-l3-leaf1-services.cfg
  docs/howto/network_services/artifacts/how-to-network-services-l3-leaf2-services.cfg
Due: none

Moving SVI profiles under basic network services
  docs/howto/network_services/README.md
Due: none

Minor edit to show filtering on leaf1 vs leaf2
  docs/howto/network_services/README.md
Due: none

updating artifacts
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/howto-l3-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/howto-l3-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/howto-l3-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/howto-l3-leaf2.yml
Due: none

Updating readme and artifacts
  ansible_collections/arista/avd/extensions/molecule/howto/artifacts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_L3_LEAVES/filter.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES/l3_interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HOW_TO_NETWORK_SERVICES/topology.yml
  ansible_collections/arista/avd/extensions/scripts/processor.py
  ansible_collections/arista/avd/tests/unit/extensions/scripts/test_processor.py
  docs/howto/network_services/README.md
  docs/howto/network_services/artifacts/howto-l3-leaf1-services.cfg
  docs/howto/network_services/artifacts/howto-l3-leaf2-services.cfg
Due: none

updating to use acronym for cleaner names
  ansible_collections/arista/avd/extensions/molecule/howto/artifacts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTNS/services.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTNS/svi_profiles.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTNS_L2_LEAVES/all.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/HTNS_L3_LEAVES/l3leaf.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htns-l2-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htns-l3-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/htns-l3-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htns-l2-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htns-l3-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/htns-l3-leaf2.yml
  docs/howto/network_services/README.md
  docs/howto/network_services/artifacts/htns-l3-leaf1-services.cfg
  docs/howto/network_services/artifacts/htns-l3-leaf2-services.cfg
Due: none

Removing artifacts
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/howto-l3-leaf1.md
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/documentation/devices/howto-l3-leaf2.md
Due: none

Updating artifacts
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/howto-l3-leaf1.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/configs/howto-l3-leaf2.cfg
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/howto-l3-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/intended/structured_configs/howto-l3-leaf2.yml
Due: none

Doc(how-to): Rename from leaves to leafs
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_L3_LEAFS/l3_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/group_vars/DC1_SERVICE_LEAFS/service_leafs.yml
  ansible_collections/arista/avd/extensions/molecule/howto/inventory/hosts.yml
  docs/howto/node_types/README.md
Due: none

Add avd_debug
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_debug.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_debug.yml
Due: schemas

Added vault stuff
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_debug.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_tmp_dir.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_tmp_dir.schema.yml
Due: schemas

Change wording around vault
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_debug.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_tmp_dir.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas

molecule test
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

Doc(eos_snapshot): Updating diagrams
  docs/_media/eos_snapshot_dark.svg
  docs/_media/eos_snapshot_light.svg
  docs/_media/excalidraw/eos_snapshot.excalidraw
Due: none
