Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Issue 6955: Refactor pytests
  python-avd/tests/pyavd/cv/client/test_cv_client_tls.py
Due: none

updated the tests
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_facts.py
Due: none

Added lifetime config support
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ipv6_nd.schema.yml
Due: schemas, templates

Refactor(cv_deploy): Improve manifest sync code
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
Due: none

Fix(eos_designs): Only configure RM-CONN-2-BGP-VRFS when required
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-31.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-31.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES_GROUP4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Removed unneccesary tests
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
Due: none

Fix pre-commit
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
Due: none

Test: Added the test file for eos_designs_structured_config plugin action (#6983)
  ansible_collections/arista/avd/tests/unit/action/conftest.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_structured_config.py
Due: none

Added support for restart-time and stalepath-time with no graceful-restart
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Add unit tests
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Add more unit tests
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-32.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-32.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Rename the templates
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces-1.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces-deprecated.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces-1.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces-deprecated.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/host_vars/custom-templates-l2leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/host_vars/custom-templates-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/host_vars/l3-edge.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/host_vars/node-type-l3-interfaces-portchannels-custom-template.yml
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
Due: none

Fix(eos_designs): Ensure consistent uplink vlans when parents have inconsistent vlans (#7018)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2-child-asymmetric-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2-child-asymmetric-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2-parent-a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2-parent-b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2-child-asymmetric-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2-child-asymmetric-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2-parent-a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2-parent-b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_L2LEAF9.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dc1-l2-child-asymmetric-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: schemas

Issue 6955: Clarify docstrings
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/tests/pyavd/cv/client/test_cv_client_tls.py
Due: none

Address Carl's review comments
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
Due: schemas

molecule run
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/validation-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Addressed review comments: updated description and removed test
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_filtered_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/default_run_sorted_report/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/validation-profiles.md
  docs/howto/migrate-to-anta-runner.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
Due: schemas

Add default false
  ansible_collections/arista/avd/plugins/plugin_utils/utils/deprecated_dict.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

Delete ansible_collections/arista/avd/plugins/plugin_utils/utils/deprecated_dict.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/deprecated_dict.py
Due: none

Refactor(eos_designs): Include TLS on radius server group members
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/aaa_settings.py
Due: schemas

Fix tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
Due: none

Adding new schema to eos_designs with mutually exclusivity
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

Updtaed tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: none

schema fix
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
Due: schemas

Fix(eos_cli_config_gen): Adding no logging transceiver to monitor layer1 default value
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-layer1.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-layer1.j2
Due: templates

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-layer1-minimal.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-layer1.j2
Due: templates

Added vrf id after conflicts
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services.schema.yml
Due: schemas

rename key and fix the code
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES_GROUP4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Combine ifs
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Doc: add a note to include "Not Present" in the list of VerifyTransceiversManufacturers test (#7016)
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/validation-profiles.md
  docs/howto/migrate-to-anta-runner.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
Due: schemas

Update ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
Due: none

relax orphan check
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none
