Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Addressed review comments: updated doc j2
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/spanning-tree.j2
Due: templates

Feat(eos_cli_config_gen): Add cvtargetconfigs to daemon_terminattr
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
Due: schemas, templates

Refactor(eos_designs): Move structured_config_utils.py logic to structured_config_utils folder (#6937)
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/mlag.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/sflow.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
Due: none

Feat(eos_cli_config_gen): Add support for 'spanning-tree guard loop default' on global spanning tree config (#6997)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/spanning-tree.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/spanning-tree.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/spanning-tree.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/spanning-tree.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/spanning_tree.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add cvtargetconfigs to daemon_terminattr (#6986)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
Due: schemas, templates

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Added error msg and negative test
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-port-profile-network-port.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Fix(cv_deploy): Fix workspace build error when updating manifest containers manually reassigned (#6990)
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Fix(cv_deploy): Raise when configlets are scheduled for deletion but still assigned
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Update ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/README.md
Due: none

Fix(cv_deploy): Fix workspace build error when deleting manifest configlets still assigned (#7001)
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  python-avd/pyavd/_cv/workflows/deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
Due: none

Fix(cv_deploy): Fix workspace build error when deleting manifest configlets still assigned (#7001)
  python-avd/scripts/custom_build_backend.py
Due: none

Fix(cv_deploy): Fix workspace build error when deleting manifest configlets still assigned (#7001)
  python-avd/pyavd/_cv/client/change_control.py
Due: none

Doc: Update eos_cli_config_gen contribution guide to add rule for empty dictionary input
  docs/contribution/authoring_eos_cli_config_gen.md
Due: none

Test: Added the test file for eos_designs_facts plugin action
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_facts.py
Due: none

used ref in schema
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
Due: schemas

updating TCs
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-4.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: none

Addressed review comments: Updated _get to default
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/spanning-tree.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/spanning_tree.py
Due: none

Added todo
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-port-profile-network-port.yml
Due: none

Moved the action module into conftest
  ansible_collections/arista/avd/tests/unit/action/conftest.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_structured_config.py
Due: none

Added required key
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/errdisable.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas

Feat(eos_designs): Add dot1x_settings.radius_av_pairs.lldp
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

moving action_module
  ansible_collections/arista/avd/tests/unit/action/conftest.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
  ansible_collections/arista/avd/tests/unit/action/test_validate_inputs.py
Due: none

Fixing CI
  ansible_collections/arista/avd/tests/unit/action/conftest.py
Due: none

making action_module similar to other PRs
  ansible_collections/arista/avd/tests/unit/action/conftest.py
Due: none

Addressed review comments: Updated data model
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ipv6_nd.schema.yml
Due: schemas, templates

Test: Add unit test for set_vars.py action module
  ansible_collections/arista/avd/tests/unit/action/test_set_vars.py
Due: none

Remove action assignment
  ansible_collections/arista/avd/tests/unit/action/test_set_vars.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
Due: schemas

CI: Bump pyright 3.0.2
  .github/workflows/pull-request-management.yml
Due: none

Remove pylint comment, add docstring
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/mac_access_lists.py
Due: none

rename acls
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/connected-endpoints.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
Due: none

fix ci
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/mac_access_lists.py
Due: none

Bump: Add support for ansible-core 2.21
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/meta/runtime.yml
  docs/release-notes/6.x.x.md
  docs/requirements.txt
  pyproject.toml
  python-avd/pyproject.toml
Due: none

Update release-notes
  docs/release-notes/6.x.x.md
Due: none

Update collection readme
  ansible_collections/arista/avd/README.md
Due: none
