Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas, templates

Apply suggestion from @MaheshGSLAB
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
Due: templates

Feat(eos_cli_config_gen): Add 'rd' key support in vrf instance definition (#7143)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vrf-instances.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vrfs.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vrfs.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vrfs.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add support for 'snmp-server extension' CLI command (#7142)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/snmp-server.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/snmp-server.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Due: schemas, templates

fix the minor changes on code
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

Refactor: Make everyone happy
  development/coverage_plugins/coverage_plugins/jinja/source_template.py
  development/coverage_plugins/tests/test_jinja.py
  development/coverage_plugins/tests/test_jinja_report.py
Due: none

Update development/coverage_plugins/tests/test_jinja_report.py
  development/coverage_plugins/tests/test_jinja_report.py
Due: none

Bump: Release 6.3.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v6.3.0.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  docs/release-notes/6.x.x.md
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

fix the copy pasta!
  ansible_collections/arista/avd/changelogs/README.md
Due: none

remove refactors from RN
  docs/release-notes/6.x.x.md
Due: none

Bump: Release 6.3.0 (#7214)
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v6.3.0.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  docs/release-notes/6.x.x.md
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Bump: Pre-release 6.4.0-dev0
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

refactor(schema-explorer): remove category classifier
  docs/data-models/README.md
  tools/schema-explorer/README.md
  tools/schema-explorer/categories.py
  tools/schema-explorer/generate.py
  tools/schema-explorer/mkdocs_hook.py
  tools/schema-explorer/static/css/style.css
  tools/schema-explorer/static/js/app.js
Due: none

fix(schema-explorer): clean up schema browser rendering
  Makefile
  tools/schema-explorer/README.md
  tools/schema-explorer/generate.py
  tools/schema-explorer/mkdocs_hook.py
  tools/schema-explorer/static/css/style.css
  tools/schema-explorer/static/js/app.js
  tools/schema_explorer_markdown.py
Due: none

Fix schema explorer review feedback
  tools/schema-explorer/generate.py
  tools/schema-explorer/static/css/style.css
  tools/schema-explorer/static/js/app.js
Due: none

Bump: Pre-release 6.4.0-dev0 (#7215)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Added coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host6.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host6.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router_ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/router_ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router_ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/router_ospfv3.yml
Due: none

Added static include leak test
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router_ospfv3.yml
Due: none

Added test for doc
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/router_ospfv3.yml
Due: none

added test for doc coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
Due: templates

tried diff approach for j2
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/router_ospfv3.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
Due: templates

moved the if condition
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Added more unit tests for vrfs
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/router_ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router_ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/router_ospfv3.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
Due: templates

Feat(eos_designs): Made NTP first server preferred as optional
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Reverted changes for neighbor.vrf
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router-bgp.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Feat(eos_designs): Add ipv4_standard_acls catalog (#7054)
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-standard-acls.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_standard_acls.schema.yml
Due: schemas

removing setup_module_logging tests
  ansible_collections/arista/avd/tests/unit/action/test_cv_workflow.py
Due: none

Refactor: Use Chainmap
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/test_get_device_render_options.py
Due: none

fix(schema-explorer): capture YAML scroll target
  tools/schema-explorer/static/js/app.js
Due: none

Fix CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/connected-endpoints.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/connected-endpoints.yml
Due: none

Refactor: Listen to the rabbit and cleanup some lines
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
Due: none

Test: Address the rabbit nitpick
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

ci: This is was we need to delete now
  ansible_collections/arista/avd/.ansible-lint-ignore
Due: none

Add regex for complete match
  python-avd/pyavd/_utils/format_string.py
Due: none

Schema updates
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas

Update render and documentation
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
Due: templates

update tests
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
Due: none

Updated qos-profile.j2 file
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos-profiles.j2
Due: templates
