Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update python-avd/tests/pyavd/cv/mockery.py
  python-avd/tests/pyavd/cv/mockery.py
Due: none

Doc: Add newest file to the not_in_nav list
  mkdocs.yml
Due: none

Doc: Add missed release note deprecation
  docs/release-notes/5.x.x.md
Due: none

Cleaf facts between regular and digital twin eos_design runs
  ansible_collections/arista/avd/molecule/digital_twin/converge.yml
Due: none

Update documentation artifacts
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-ethernet-ports-1.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-ethernet-ports-3.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital.twin.ethernet.ports.2.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital-twin-ethernet-ports-1.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital-twin-ethernet-ports-3.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital.twin.ethernet.ports.2.md
Due: none

addressed review comments: updated keyt name
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/switchport-default.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/switchport-default.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/switchport-default.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/switchport-default.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/switchport-default.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/switchport_default.schema.yml
Due: schemas, templates

Update ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/converge.yml
Due: none

Address PR comments.
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/verify_devices_on_cv.py
  python-avd/tests/pyavd/cv/client/conftest.py
  python-avd/tests/pyavd/cv/client/test_cv_client.py
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

Feat(eos_designs): Added support for IGMP snooping querier source interface as vrf_router_id
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Due: schemas

fix the CI failure
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Due: none

Updates
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

improve test coveraege
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_TESTS.yml
Due: none

refactor l3_edge code
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

fix wrong schema update
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
Due: schemas

Test: Add deprecated tests
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
Due: none

Update to aaa_settings
  ansible_collections/arista/avd/examples/l2ls-fabric/group_vars/FABRIC.yml
Due: none

Test: Add on more deprecated test
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
Due: none

Move local_users
  ansible_collections/arista/avd/examples/l2ls-fabric/group_vars/FABRIC.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/structured_configs/LEAF1.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/structured_configs/LEAF2.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/structured_configs/LEAF3.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/structured_configs/LEAF4.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/structured_configs/SPINE1.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/intended/structured_configs/SPINE2.yml
Due: none

Test: Fix negative unit test
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_STRUCTURED_CONFIG_WITH_NEW_KEYS.yml
Due: none

Update ansible_collections/arista/avd/examples/l2ls-fabric/README.md
  ansible_collections/arista/avd/examples/l2ls-fabric/README.md
Due: none

Bump: Release 5.6.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.6.0.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/5.x.x.md
  python-avd/pyavd/__init__.py
Due: none

Bump: Update version to 5.7.0-dev0
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

updated documents
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
Due: none

Fix CI
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/mpls-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/inet-cloud.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/mpls-cloud.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/mpls-cloud.yml
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/l3_edge.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF.yml
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/l3_edge.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host_ansible_only.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host_ansible_only.yml
Due: none

Fix p2p links underlay
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/l3_edge.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/l3_edge.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none

Add structured config for bgp peer group
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/inet-cloud.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none

Feat(eos_cli_config_gen): Added support for peer-tag in/out under router bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas, templates

Fix more things
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/TRANSPORTS.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/inet-cloud.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/inet-cloud.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_rfc5549.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_rfc5549.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none

updated cli ordering
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/switchport-default.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/switchport-default.j2
Due: templates

Rerun after merge
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking-4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-rip.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-rip.j2
Due: templates

Add required true
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Update new code
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/platform_settings_2.yml
  python-avd/pyavd/_eos_designs/shared_utils/platform_mixin.py
Due: none

Fix code
  python-avd/pyavd/_eos_designs/shared_utils/platform_mixin.py
Due: none

Rearrangements
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none
