Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-test, docs-plugin-vars, schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: ansible_collections/arista/avd/roles/[a-z_]+/schemas

patchpanel
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/patch-panel.j2
Due: none

patchpanel
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/patch-panel.md
Due: none

Doc: Minor updates to Development Tooling guide. (#4067)
  ansible_collections/arista/avd/docs/contribution/development-tooling.md
Due: none

patchpanel
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
Due: none

Feat(cv_deploy): Add hop count to metadata studio
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/metadata.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/metadata/cv_pathfinder.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

patchpanel
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/patch-panel.j2
Due: none

ci: Make pre-commit auto update message compliant with our PR structure
  .pre-commit-config.yaml
Due: none

Update CI artifacts
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
Due: none

Fixinf sonar-lint issues
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

Refactor(plugins): Move jinja filter code for arista.avd.natural_sort to PyAVD
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: docs-plugin-filter

Updating tests
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

Test(eos_designs): Have multiple pathfinder on one edge device to check for config ordering
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
Due: none

Feat(eos_cli_config_gen): Add Patch-Panel Connector commands (#4063)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/patch-panel.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/patch-panel.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/patch-panel.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/patch_panel.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Doc: Update installation guide with PyAVD
  ansible_collections/arista/avd/docs/installation/collection-installation.md
Due: none

CI: Make pre-commit auto update message compliant with conventional commit msg (#4073)
  .pre-commit-config.yaml
Due: none

fix typo and removed TODO
  python-avd/schema_tools/metaschema/meta_schema_model.py
Due: none

Refactor(eos_cli_config_gen): Addressed missed comments for patch-panel
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/patch_panel.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

CI: Remove unexpected named argument 'pattern' (#4066)
  python-avd/schema_tools/metaschema/meta_schema_model.py
Due: none

Refactor: Make error message more helpful
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
Due: none

Fix(eos_validate_state): Update error message when a device does not have httpapi _sub_plugin (#4049)
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
Due: none

Fix(cvp_configlet_upload): Add tag always to main's generic task triggering v1/v3
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
Due: none

Test(eos_designs): Have multiple wan_route_servers on one edge device for idempotency (#4074)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
Due: none

Refactor: Address PR comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/wan.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/fabric_flow_tracking.schema.yml
Due: schemas

Test: Run molecule
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
Due: none

Refactor: Improve handling of missing libs
  ansible_collections/arista/avd/plugins/filter/default.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
Due: docs-plugin-filter

Updates
  ansible_collections/arista/avd/plugins/filter/default.py
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
  python-avd/Makefile
Due: docs-plugin-filter

Making keys deprecated.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Apply suggestion
  python-avd/pyavd/j2filters/natural_sort.py
Due: none

Execute eos_cli_config_gen_deprecated_vars.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
Due: none

Minor fixes
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

apply suggestion
  python-avd/pyavd/j2filters/natural_sort.py
Due: none

Update python-avd/pyavd/j2filters/natural_sort.py
  python-avd/pyavd/j2filters/natural_sort.py
Due: none

Adding test for string
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

Remove this useless object instantiation of tablesort
  ansible_collections/arista/avd/docs/stylesheets/tables.js
Due: none

Addressing review comments
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Due: none

Refactor(eos_cli_config_gen): Addressed missed comments for patch-panel (#4078)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/patch_panel.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

ignored the warning
  ansible_collections/arista/avd/docs/stylesheets/tables.js
Due: none
