Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-test, docs-plugin-vars, schemas

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: system

docs-plugin-filter:
  name: Build documentation for collection filter plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: system

docs-plugin-test:
  name: Build documentation for collection test plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: system

docs-plugin-vars:
  name: Build documentation for collection var plugins
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: system

schemas:
  name: Build AVD Schemas and Docs
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: system
  pass_filenames: false

Feat(plugins): Revert support braces in range_expand filter (#3244)" (#4013)
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/range_expand.md
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/range_expand.py
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_range_expand.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_range_expand.py
  python-avd/pyavd/templater.py
Due: docs-plugin-filter

Refactor: Sonar fun
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/wan.py
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Due: none

editing description
  ansible_collections/arista/avd/README.md
Due: none

minor typo fix
  ansible_collections/arista/avd/README.md
Due: none

updating license line
  ansible_collections/arista/avd/README.md
Due: none

Fixing CI failure for eos_designs-mpls-isis-sr-ldp.
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
Due: none

Feat(eos_designs): Add support for local internet exit
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-pathfinder-internet-exit-policies.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_internet_exit.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_service_insertion.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_internet_exit_policies.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type_l3_interfaces.schema.yml
Due: schemas

address some nit
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/swg.py
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils/password.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

address some more nits
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils/password.py
Due: none

change connection and monitor name by prefixing IE-
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

Update ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_internet_exit_policies.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_internet_exit_policies.schema.yml
Due: schemas

address comments from guillaume
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-pathfinder-internet-exit-policies.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_service_insertion.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

refactor some code
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_service_insertion.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

add nat config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_nat.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_service_insertion.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/tunnel_interfaces.py
Due: none

add access list for direct ie
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_access_lists.py
Due: none

change nat to IE-<POLICY_TYPE>-NAT
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_nat.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/tunnel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

split nat name in seperate utility
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/tunnel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

address comments by claus
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_nat.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/tunnel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

fix line length
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Due: none

sanitize interface name
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/l3_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Due: none

fix documentation and unique exit groups
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_internet_exit.py
Due: none

Feat(eos_cli_config_gen): Add support for BGP TCP AO. (#3853)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Fix(eos_designs): Connected endpoints ESI should only be configured on EVPN VTEPs. (#4020)
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
Due: none

Refactor(eos_designs): Minor code adjustments caught by latest pylint (#4021)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Due: none

Feat(eos_cli_config_gen): Add Regex pattern for region/zone/site name for cv_pathfinder
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_adaptive_virtual_topology.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

add length checks as well
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_regions.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Add Regex pattern for region/zone/site name for router_adapative_virtual_topology (#4026)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_adaptive_virtual_topology.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_regions.schema.yml
Due: schemas

Refactor: Update the TODOs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/wan.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/prefix_lists.py
Due: none

Fixing schemas and eos template for source and destination ports.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-telemetry-postcard-policy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-telemetry-postcard-policy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-telemetry-postcard-policy.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Minor change in schema.
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Minor correctiong in schema.
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Correction in schema.
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Feat(eos_cli_config_gen): Support for MSS Clamping on ethernet interfaces. (#4018)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Fix: Wrong usage of the _create_neighbor function
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
Due: none

Changed tftp file type from list of strings to a single string
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dhcp-servers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dhcp-servers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dhcp-servers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dhcp_servers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dhcp-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Updated tftp file schema descriptions
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dhcp_servers.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Enhacing eos template.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitor-telemetry-postcard-policy.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-telemetry-postcard-policy.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Due: schemas

Add copyright to license and use relative link
  LICENSE
  README.md
  ansible_collections/arista/avd/LICENSE
Due: none

updated relative link for contributing
  README.md
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: ansible_collections/arista/avd/roles/[a-z_]+/schemas
