Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Doc: Update PyAVD documentation
  docs/pyavd/pyavd.md
Due: none

CI: Targeting the same dir maybe?
  .github/workflows/release.yml
Due: none

CI: Or use the right variable name maybe?
  .github/workflows/release.yml
Due: none

CI: Make pre-commit happy again
  .github/workflows/release.yml
Due: none

CI: There is s a container
  .github/workflows/release.yml
Due: none

Refactor: Optimize list building
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-name-servers.j2
Due: templates

CI: Runner macos-14 and macos-latest are both arm
  .github/workflows/pull-request-management.yml
  .github/workflows/release.yml
Due: none

Feat(eos_cli_config_gen): Added the support for 8a type bgp password (#6182)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Due: schemas, templates

CI: Back to the env
  pyavd-utils/pyproject.toml
Due: none

Apply suggestion from @gmuloc
  .github/workflows/release.yml
Due: none

Apply suggestion from @gmuloc
  python-avd/pyproject.toml
Due: none

CI: Test
  ansible_collections/arista/avd/plugins/filter/secure_hash.py
  docs/plugins/Filter_plugins/secure_hash.md
  python-avd/pyavd/j2filters/__init__.py
  python-avd/pyavd/templater.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: docs-plugin-filter

Revert "CI: Test"
  ansible_collections/arista/avd/plugins/filter/secure_hash.py
  docs/plugins/Filter_plugins/secure_hash.md
  python-avd/pyavd/j2filters/__init__.py
  python-avd/pyavd/templater.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: docs-plugin-filter

Test: Correct doc, revert the rest
  docs/plugins/Filter_plugins/secure_hash.md
Due: none

CI: What about not checking these?
  .github/workflows/pull-request-management.yml
Due: none

Add max mesage size verification
  python-avd/tests/pyavd/cv/workflows/test_deploy_tags_to_cv.py
Due: none

Add verification of the message max size
  python-avd/tests/pyavd/cv/workflows/test_verify_devices_on_cv.py
Due: none

initial commit issue-6176
  python-avd/pyavd/_cv/client/studio.py
  python-avd/tests/pyavd/cv/workflows/test_verify_devices_on_cv.py
Due: none

Address all review comments
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/_decorators.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/logs.py
Due: none

Fix redundant return
  python-avd/pyavd/_anta/input_factories/interfaces.py
Due: none

Fixing _anta pyright issue
  python-avd/pyavd/api/_anta/avd_fabric_data.py
Due: none

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_DOWNLINK_POOLS_LEAF1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/IPV6_DOWNLINK_POOLS_SPINE.yml
Due: none

pre-commit fix
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-name-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-name-server.j2
Due: templates

fixing CI
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf3.yml
Due: none

improving coverage
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

CI: Move import around
  python-avd/pyavd/j2filters/secure_hash.py
  python-avd/pyproject.toml
Due: none

Feat(anta_runner): Add an option to enable/disable running custom user tests
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-spine2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-wan1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc1-wan2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf2b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/avd_generated_catalog_run/dc2-spine2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/avd_generated_catalog_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/avd_generated_catalog_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/avd_generated_catalog_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/converge.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/main.yml
  ansible_collections/arista/avd/roles/anta_runner/tasks/main.yml
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
Due: schemas

Fixing few more pyright issues
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/pyavd/_utils/get_all.py
Due: none

Refactor: Remove the random salt
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/plugins/filter/secure_hash.py
  docs/plugins/Filter_plugins/secure_hash.md
  python-avd/pyavd/j2filters/secure_hash.py
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
  tox.ini
Due: docs-plugin-filter

Test: Moar coverage
  python-avd/tests/pyavd/j2filters/test_secure_hash.py
Due: none

Updated Schema
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/dhcp-servers.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_servers.schema.yml
Due: schemas, templates

addressed review comments: updated the doc
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-spine2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-wan1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-wan2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf1a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf1b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf1c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf2a.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf2b.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf2c.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-spine1.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-spine2.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.csv
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/extensions/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/extensions/molecule/anta_runner/create.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/NETWORK_SERVICES.yml
  ansible_collections/arista/avd/plugins/modules/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/main.yml
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_anta/models.py
Due: docs-plugin-modules

moving to sharedutils
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Due: none

Fixing remaing pyright errors
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/pyavd/_schema/utils.py
Due: none

Test: Need more data
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
Due: none

Fix: Finally found the stupid mistake
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
Due: none
