Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

add default value
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/errdisable.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas

Fix CI
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas

Fix CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  docs/porting-guides/6.x.x.md
Due: none

Address review comments
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
Due: templates

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Fixing integration tests
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_false.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_true.yml
Due: none

WIP: moar
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/inventory.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/client/swg.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/client/workspace.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

Fix missing TLS ALPN when working through proxy
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
  python-avd/pyavd/_cv/client/__init__.py
Due: none

Porting guide
  docs/porting-guides/6.x.x.md
Due: none

Update porting guide
  docs/porting-guides/6.x.x.md
Due: none

grammar
  docs/porting-guides/6.x.x.md
Due: none

pytest for live cvclient test via proxy
  python-avd/tests/pyavd/cv/client/test_cv_client.py
Due: none

Refactor(eos_cli_config_gen, eos_designs): Make the type key as required for aaa_accoutning
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_accounting.schema.yml
Due: schemas, templates

Update 6.x.x.md with actions
  docs/porting-guides/6.x.x.md
Due: none

adding back cv_settings check
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
Due: none

moving the list to default value in schema
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
  python-avd/pyavd/_schema/utils.py
Due: schemas

addressing comments on doc string and porting-guide
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

using Walrus
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
Due: none

fixing docs
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
Due: schemas

Update 6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

fixing CI
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-media-spine.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-media_l2leaf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-media_l3leaf.yml
Due: none

Removing node-type-keys implementation
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-port-channels-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-2.yml
Due: none

rename task to deploy via CloudVision
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/deploy-cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy-cvp.yml
Due: none

Apply suggestions from code review
  docs/porting-guides/6.x.x.md
Due: none

Doc: Fix what the github ui can't
  docs/porting-guides/6.x.x.md
Due: none

Doc: Remove all the crap
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Due: none
