Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Fix(eos_designs): Only configure RM-CONN-2-BGP-VRFS when required (#7029)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-31.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-32.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-31.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-32.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES_GROUP4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Refactor(eos_designs): Protect against configuring unsupported monitor sessions on sub interface (#6837)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-monitor-session-subinterface-destination.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-monitor-session-subinterface-direction.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-monitor-session-subinterface-platform-unsupported.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/monitor_sessions.py
Due: schemas

Feat(eos_cli_config_gen): Add route_map_in / route_map_out support for maintenance BGP profiles (#7053)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/maintenance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/maintenance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/maintenance.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/maintenance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/maintenance.schema.yml
Due: schemas, templates

WS rebase phase2: Rename serialize to get_result. Add docstrings
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
Due: none

Issue 6955: Address Carl's PR review comments
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/client/test_cv_client_tls.py
Due: docs-plugin-modules

Phase 2: Address PR comments
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/client/studio_topology.py
  python-avd/tests/pyavd/cv/client/test_studio_topology.py
Due: none

fixing CI and merge conflicts
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Add support for auto_certificate under management_security.ssl_profiles
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
Due: schemas, templates

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
Due: schemas

molecule run
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site3-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site4-wan1.md
Due: none

Fixing line too long error
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

updating the logic
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host6.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host6.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-layer1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/eos-config-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/monitor-layer1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-layer1-minimal.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-layer1.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/logging-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-layer1.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-layer1.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_layer1.schema.yml
Due: schemas, templates

correcting logic
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/monitor-layer1-minimal.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-layer1.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-layer1.j2
Due: templates

updated description with preview
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-standard-acls.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_standard_acls.schema.yml
Due: schemas

Apply suggestions from code review
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
Due: none

Remocing peer_ipv6_address key and its references
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv6-bgp-not-supported-on-l3-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-port-channels-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: schemas

Feat(eos_cli_config_gen): Add support for passive interfaces in ipv6_router_ospf
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-router-ospf.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ipv6-router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ipv6_router_ospf.yml
Due: schemas, templates

ADdressed review comments: removed typehint
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/spanning-tree-mode-rstp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/spanning-tree-mode-rstp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_SERVICES_IP_HELPERS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-mode-rstp.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Addressed review comments: updated the lifetime 0 chnage
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: templates

Address locking feature support for virtual EOS: Initial commit
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/address-locking-5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/address-locking-6.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-5.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-5.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-6.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/custom-platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: schemas

review comments addressed for schema changes
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dot1x-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: schemas

WS rebase phase2: Address Carl's comments
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Update ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
Due: none

Feat(eos_designs): Add support for ipv6 addresses in node l3_interfaces and l3_portchannels (#6824)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/l3-interface-no-ip-address-subif.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/l3-port-channel-no-ip-address-subif.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-port-channels.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-port-channels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-port-channels-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

upating description
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/eos-config-future.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_config_future.schema.yml
Due: schemas

creating helper methods for ipv4/ipv6
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Due: none

Add raise when dynamic_authorization is not enabled
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/dot1x-web-authentication-dynamic-authorization-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: none

Adding pattern for url key
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/dot1x-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dot1x_settings.schema.yml
Due: schemas

Bump: Pre-release 6.3.0-dev0
  ansible_collections/arista/avd/galaxy.yml
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Address locking feature support for virtual EOS: Avoid breaking changes
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/address-locking-5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-5.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-5.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Feat(cv_deploy): Workspace rebase. Phase 2 (Split classes) (#7034)
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_tags_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/utils.py
  python-avd/pyavd/_cv/workflows/verify_devices_on_cv.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_zscaler.py
  python-avd/tests/pyavd/cv/mockery.py
  python-avd/tests/pyavd/cv/workflows/test_create_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_delete_configs_from_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_static_config_studio_manifest_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_tags_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv_invalid_config.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
  python-avd/tests/pyavd/cv/workflows/test_verify_devices_on_cv.py
  python-avd/tests/pyavd/workflows/test_verify_inputs.py
Due: none

ACT DT relax ip_addr: Initial commit
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN_SINGLE_SWITCH_FABRIC-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-single-switch-fabric-1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/group_vars/DIGITAL_TWIN_SINGLE_SWITCH_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-ip-addr.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
Due: none

ACT DT relax ip_addr: Return enforcement except for veos and cloudeos
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-single-switch-fabric-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-ip-addr.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
Due: none

ACT DT relax ip_addr: Rearrange raising
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
Due: none

ACT DT howto: Update regarding relaxed ip_addr for veos and cloudeos
  docs/howto/digital_twin/README.md
Due: none

ACT DT relax ip_addr: Improve coverage
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-veos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN_SINGLE_SWITCH_FABRIC-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-veos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-veos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/devices/digital-twin-veos-no-mgmt.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/configs/digital-twin-veos-no-mgmt.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/intended/structured_configs/digital-twin-veos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/group_vars/DIGITAL_TWIN_SINGLE_SWITCH_FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/host_vars/digital-twin-veos-no-mgmt.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/hosts.yml
Due: none

Various fixes
  development/coverage_plugins/README.md
  development/coverage_plugins/coverage_plugins/jinja.py
  pyproject.toml
  python-avd/tests/pyavd_coverage_plugin/test_jinja.py
  tox.ini
Due: none

restructure jinja plugin as a sub package
  development/coverage_plugins/coverage_plugins/jinja.py
  development/coverage_plugins/coverage_plugins/jinja/__init__.py
  development/coverage_plugins/coverage_plugins/jinja/compiled_parser.py
  development/coverage_plugins/coverage_plugins/jinja/models.py
  development/coverage_plugins/coverage_plugins/jinja/source_template.py
Due: none

CI: Add coverage for source jinja templates instead of compiled templates
  .github/workflows/pull-request-management.yml
  .github/workflows/sonar.yml
  .pre-commit-config.yaml
  development/coverage_plugins/README.md
  development/coverage_plugins/coverage_plugins/__init__.py
  development/coverage_plugins/coverage_plugins/jinja.py
  development/coverage_plugins/pyproject.toml
  pyproject.toml
  python-avd/tests/pyavd_coverage_plugin/test_jinja.py
Due: none
