Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Refactor: Use Generics
  python-avd/schema_tools/avdschemaresolver.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
Due: none

Refactor: Circular stuff
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/generate_classes/src_generators.py
Due: none

move management interface to platform families
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-families.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-skus.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_families.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_skus.schema.yml
Due: schemas

Doc: Fix wrong docstring for secure_hash j2filter
  python-avd/pyavd/j2filters/secure_hash.py
Due: none

Doc: Fix wrong docstring for secure_hash j2filter (#6255)
  python-avd/pyavd/j2filters/secure_hash.py
Due: none

removing ignore_case
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
Due: templates

fixing errors on suggestions
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Refactor(eos_designs): Move kernel_ecmp_cli to node_type
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/devices.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/agents.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/kernel_settings.py
Due: schemas

addressed review comments: updated docs
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/main.yml
  docs/porting-guides/6.x.x.md
Due: none

Update porting guide
  docs/porting-guides/6.x.x.md
Due: none

correcting porting guide
  docs/porting-guides/6.x.x.md
Due: none

Bump: Pre-release v6.0.0-dev5
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

Refactor(eos_designs): Move platform_settings.validate_hardware to validation_profiles
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/DC1_L3_LEAVES.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/DC2_L2_LEAVES.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/7010TX-LEAF1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/7010TX-LEAF2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/exclude-as-extra-fabric-validation-target.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/logging_settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/PLATFORM_SETTINGS_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/exclude-as-extra-fabric-validation-target.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/logging_settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/devices.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/validation-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_platform_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/validation_profiles.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: schemas

updated the schema and porting guide
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ftp-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_source_interface.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ftp_client.schema.yml
Due: schemas

Bump: Pre-release v6.0.0-dev5 (#6257)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Due: none

updated the code to fix the default
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/exclude-as-extra-fabric-validation-target.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/logging_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: none

updated source interface file name for defs
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_source_interface_per_vrf.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ftp_client.schema.yml
Due: schemas

adding test for data-model with no primary key
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/custom-structured-configuration.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/custom-structured-configuration.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
Due: none

updated the defs file for source interface
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_source_interface_per_vrf.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_telnet_client.schema.yml
Due: schemas

adding comments
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-name-server.yml
Due: none

fixing pre-commit
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
Due: none

updated the defs file name for source interface and porting guide
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tftp-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_source_interface_per_vrf.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_tftp_client.schema.yml
Due: schemas

rename keys and update porting guide
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-http-client-duplicate-vrf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-http-client.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ssh-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_source_interface_per_vrf.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_http_client.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ssh_client.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: schemas

Refactor(eos_cli_config_gen)!: Changed the ip_ftp_client_source_interfaces input model (#6227)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-ftp-client-source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ftp-client-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ftp-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_source_interface_per_vrf.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ftp_client.schema.yml
Due: schemas, templates

Refactor: Update with breaking changes
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_INBAND.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_OOB.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_INBAND.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_OOB.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_HOSTNAME_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_INBAND.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_LEGACY_HOSTNAME_AND_IP_OOB.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_DEFAULT_MGMT.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_INBAND_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: schemas

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Refactor(eos_cli_config_gen): Changed the input data model from ip_tftp_client_source_interfaces to ip_tftp_client (#6237)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-tftp-client-source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tftp-client-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tftp-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_tftp_client.schema.yml
Due: schemas, templates

Test: Cleaning up tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_HOSTNAME_IP.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID_RFC3411_MAC.yml
Due: none

Refactor(eos_cli_config_gen)!: Changed the input data model for ip_telnet_client_source_interfaces to ip_telnet_client (#6231)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-telnet-client-source-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-telnet-client.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_telnet_client.schema.yml
Due: schemas, templates

improve the code
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: none

added more unit tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-validation-parent-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-validation-profile.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/validation-profiles.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/validation-profiles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/validation-profiles.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Fix porting guide
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

updated code for full coverage
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
Due: none

Refactor(pyavd): Refactor backend ANTA code of PyAVD
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/_decorators.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/mlag.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/input_factories/routing_ospf.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/vxlan.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyavd/api/_anta/__init__.py
  python-avd/pyavd/api/_anta/avd_catalog_generation_settings.py
  python-avd/pyavd/api/_anta/avd_test_spec.py
  python-avd/pyavd/api/_anta/test_spec.py
  python-avd/pyavd/get_device_test_catalog.py
Due: none

Fixes
  python-avd/pyavd/api/_anta/avd_catalog_generation_settings.py
  python-avd/pyavd/api/_anta/avd_test_spec.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

modifying condition to check duplicates
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Fix: Added the default in j2 template to fix the errdisable configuration error
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
Due: templates

fixing merge conflicts
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Refactor(eos_designs)!: Rename wan_mode autovpn to legacy-autovpn
  ansible_collections/arista/avd/examples/cv-pathfinder/README.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acl-in-missing-on-wan-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-default-policy-wan-control-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-control-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-policy-in-traffic-vrfs.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-router-vtep-ip-in-route-reflector-listen-range-prefixes.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-cv-interface-tags-test.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge-no-default-policy.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-empty-load-balance-policy.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/LEGACY_AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-route-servers.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_route_servers.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_path_selection.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_wan.py
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
