Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Fixing all issues
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_TESTS_LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_TESTS_LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_TESTS_SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_TESTS_SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L2LEAFS.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
Due: templates

Molecule output updated
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
Due: templates

Refactor(eos_designs): Network services enhance guards for OSPF
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ospf-enabled-on-svi-not-on-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/underlay-ospf-process-id-is-same-as-ospf-process-id.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

Apply suggestions from code review
  .github/workflows/pull-request-management.yml
Due: none

Update .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-management.yml
Due: none

Doc: Update semantic versioning for anta_runner
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
  docs/versioning/semantic-versioning.md
Due: none

Refactor(eos_validate_state): Deprecate eos_validate_state
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Due: none

various udpates + depracation text in release notes
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  docs/release-notes/5.x.x.md
Due: none

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Add support for ptp hold-down timer
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ptp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
Due: schemas, templates

adding suggestions
  docs/porting-guides/6.x.x.md
Due: none

applying suggestions part 2
  docs/porting-guides/6.x.x.md
Due: none

Cut(eos_designs): Remove max_ha_interfaces key under node_type as this is not used
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Due: schemas

Update the model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

Apply suggestion from @MaheshGSLAB
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Due: none

Apply suggestion from @MaheshGSLAB
  docs/release-notes/5.x.x.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
Due: schemas

Updating table
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
Due: templates

Feat(eos_cli_config_gen): Added support for Connectivity Fault Management
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/cfm.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/cfm.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cfm.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitoring.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cfm.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cfm.schema.yml
Due: schemas, templates

updated the code logic
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc1-leaf1a.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Update tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
Due: none

address review comments
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas, templates

Feat(eos_cli_config_gen): Add support for structured_config for ip ospf router-id output-format hostnames
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-ospf-router-id-output-format-hostnames.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-ospf-router-id-output-format-hostnames.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-ospf-router-id-output-format-hostnames.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_ospf_router_id_output_format_hostnames.schema.yml
Due: schemas, templates

Fix Ci
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas

address comment
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
Due: none

Add todo
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
Due: none

updated the doc j2 template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cfm.j2
Due: templates

Update python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ospf-enabled-on-svi-not-on-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ospf-enabled-on-svi-not-on-vrf.yml
Due: none

Fixing Ci
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/underlay-ospf-process-id-is-same-as-ospf-process-id.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cfm.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cfm.schema.yml
Due: schemas, templates

Feat(eos_designs): Adding inband_mgmt_subnet_offset to node_type
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-subnet.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-subnet.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/INBAND_MGMT_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
Due: schemas

Fixing TC statement
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-dhcp-server-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-local-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: none

Updated based on review
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
Due: schemas, templates

Feat(eos_designs): Added support for L2VLAN profiles
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l2vlan_profiles.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l2vlan_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l2vlan_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_l2vlans.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/l2vlan_profiles.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: schemas
