Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Fixing doc template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/load-balance.j2
Due: templates

Address PR comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_720XP.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CEOS_LAB.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CLOUDEOS.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CLOUDEOS_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CUSTOM_PLATFORM.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CUSTOM_PLATFORM_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_VEOS_LAB.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_720XP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CEOS_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CLOUDEOS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CLOUDEOS_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CUSTOM_PLATFORM.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CUSTOM_PLATFORM_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_VEOS_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
Due: none

Address PR comments
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Address PR comments
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
Due: schemas

Fix undefined vars
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Due: none

Add extra spece and update description
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas

Feat(eos_cli_config_gen): Adding counters key for traffic-policies
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas, templates

Updated test
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
Due: none

Updated doc template to add counters
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
Due: templates

adding global address_locking
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l2vlan-private-vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/address-locking-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/address_locking_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: schemas

Rename a key
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-rip.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-rip.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_rip.schema.yml
Due: schemas

Fix CI
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-rip.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-rip.j2
Due: templates

Refactor(eos_designs): Deprecate support for unknown variables in structured_config
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  python-avd/pyavd/_schema/avddataconverter.py
Due: none

Fix CI
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Due: none

moved the code of catalog filter into pyavd
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  python-avd/pyavd/api/_anta/generate_anta_settings.py
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

adding address locking settings
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-address-locking-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-dhcp-server-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: none

Update schema
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas

Doc: anta_runner initial work to add workflow diagrams, grammar, and information cut for GA
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/_media/anta_runner_light.svg
Due: none

adding dark variant of workflow
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/_media/anta_runner_dark.svg
Due: none

Update ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

removing workflow
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

minor edit
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Moving to one version of workflow file
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/_media/anta_runner.svg
  docs/_media/anta_runner_dark.svg
  docs/_media/anta_runner_light.svg
Due: none

reorganizing TOC
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Cleanup
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CUSTOM_PLATFORM_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CUSTOM_PLATFORM_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

shifting placement of advanced filtering
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

updating TOC
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

Adjust PTP logic for downlinks (p2p and PO)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_720XP.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CLOUDEOS.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CLOUDEOS_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CUSTOM_PLATFORM.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_720XP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CLOUDEOS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CLOUDEOS_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CUSTOM_PLATFORM.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

Fix creds issue for DC1-POD1-LEAF1B
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1B.yml
Due: none

Fix creds for DC1-POD1-LEAF1B
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1B.yml
Due: none

removing address_family from schema
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-address-locking-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-dhcp-server-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: schemas

revert the code for workflow and updated the test
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  python-avd/pyavd/api/_anta/generate_anta_settings.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

updated the None inputfactorysettings
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
Due: none

Feat(eos_cli_config_gen): RCF Support for router general vrf leak Agent
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-general.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-general.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_general.schema.yml
Due: schemas, templates

fixing TC
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-general.yml
Due: none

fixing CI
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
Due: templates

Initial commit to adjust OOB MGMT interface for ACT
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/converge.yml
  python-avd/pyavd/_eos_designs/shared_utils/mgmt.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
