Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
Due: schemas

adjusting Alexeis changes
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_negative_eos_designs.py
Due: none

Updated code to note generate ACL for disabled VRF
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

added the support for port-channel load balance
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel.schema.yml
Due: schemas, templates

Molecule output
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
Due: none

updated the schema description for pattern key
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load-balance.yml
Due: schemas

molecule output
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
Due: none

added only hexadecimal support for pattern key
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/load-balance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load-balance.yml
Due: schemas

Doc: Update doc for ISIS encryption
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  docs/plugins/Filter_plugins/decrypt.md
  docs/plugins/Filter_plugins/encrypt.md
Due: docs-plugin-filter

Feat(eos_cli_config_gen): Move access-group keys for management_ssh model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
  python-avd/pyavd/_schema/avddataconverter.py
Due: schemas, templates

updated the schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load-balance.yml
Due: schemas

update ci artifacts
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
Due: none

adjust default vrf logic to always show the correct state
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
Due: templates

update doc table
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ssh-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
Due: schemas

removing vrf sort
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ssh.j2
Due: templates

too eager
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
Due: templates

Test: Make the VRF again
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_RFC5549_TESTS_SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_RFC5549_TESTS.yml
Due: none

Use apiserver for terminattr
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/inventory.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/cvp_instance_ips.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/dhcp_servers.py
Due: schemas

update ci artifacts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-settings.yml
Due: none

Update model for cvaas
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/INBAND_MGMT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cvp_instance_ip.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cvp_instance_ips.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
  python-avd/pyavd/_eos_designs/structured_config/constants.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/dhcp_servers.py
Due: schemas

add extra regions
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/constants.py
Due: schemas

abc
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
Due: schemas

Address review comments
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cvp_instance_ip.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cvp_instance_ips.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cvp_token_file.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/terminattr_disable_aaa.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/terminattr_ingestexclude.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/terminattr_ingestgrpcurl_port.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/terminattr_smashexcludes.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/daemon_terminattr.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/dhcp_servers.py
  python-avd/pyavd/_errors/__init__.py
Due: schemas

remove the URL from error message
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  python-avd/pyavd/_errors/__init__.py
Due: none

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
Due: schemas

Bump: Pre-release 5.5.0-dev3
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

CI: Bump galaxy-importer 0.4.31
  .github/workflows/pull-request-management.yml
Due: none

Clean unused code
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Old code cleanup
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: none

Updated tests for ebgp-vpn-ipv4
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ebgp-overlay-address-families-vpn-ipv4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Refactor(eos_designs): Support for management_eapi vrfs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_eapi.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Fix(dhcp_provisioner): Add ztp_bootstrap_file option when used with cv_settings
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
  ansible_collections/arista/avd/roles/dhcp_provisioner/defaults/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Due: none

fixes
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Due: none

Update schema descriptions
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
Due: schemas

Removed tests for deprecated vars
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-2.yml
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
