Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Update python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Bump: Add support for ansible 2.20
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/meta/runtime.yml
  docs/release-notes/6.x.x.md
  pyproject.toml
  python-avd/pyproject.toml
Due: none

Refactored to remove dump_template_vars and overlay_data
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/action_plugin_vars.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Due: none

Update after rebase
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

CI: Fix pyright issue with typing
  python-avd/pyavd/_utils/template.py
Due: none

Reviewed by Augment
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_workers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/tmp_path_handlers.py
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

Apply suggestion from @laxmikantchintakindi
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
Due: none

CI: Make pre-commit happy
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Test: Try stuff without run_once
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
Due: none

Test: Refactor the plays and remove wrapper
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/run_molecule_wrapper.sh
Due: none

Fix: Duuuuuh
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_TESTS_2.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

CI: Trying to fix the issue for coverage in 5.7
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
Due: none

CI: Fix wrong artifact
  python-avd/tests/schema_tools/artifacts/expected-network-services-multicast-settings.md
Due: none

CI: Make pre-commit happy
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_TESTS_2.yml
Due: none

Remove structured config temp files
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
Due: none

Fix CI
  ansible_collections/arista/avd/extensions/molecule/ansible_only/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/ansible_only/verify.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_isis_overlay_ibgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/extensions/molecule/howto/verify.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/tests/integration/targets/eos_cli_config_gen_custom_templates/tests/test_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_structured_cfg_file.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_changed.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_json.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_dest_no_change.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_eos_designs_custom_templates.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_invalid_inputs.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_false.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_true.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_without_dest.yml
  ansible_collections/arista/avd/tests/inventory/eos_cli_config_gen_custom_templates/expected_output/testhost.cfg
  ansible_collections/arista/avd/tests/inventory/eos_cli_config_gen_custom_templates/structured_config/testhost.yml
Due: none

Fix CI part 2 + revert some changes around variable naming from previous commit
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_workers.py
Due: none

Self review
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_workers.py
Due: none

Update semantic-versioning
  docs/versioning/semantic-versioning.md
Due: none

Update doc part 1
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_eos_cli_config_gen_input_dir.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_structured_config_file_format.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_eos_designs_unset_facts.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Update doc part 2
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

Update doc part 3
  ansible_collections/arista/avd/plugins/modules/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
  docs/plugins/Modules_and_action_plugins/eos_cli_config_gen.md
  docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
Due: docs-plugin-modules

Added plugin keys to schema documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_fail_on_validation_errors.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_validate_inputs_batch_size.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_fail_on_validation_errors.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_validate_inputs_batch_size.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Added another key to schema
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_structured_config_file_format.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Added documentation
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE1.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas, templates

Fix(eos_cli_config_gen): no-drop option does not exist in CLI for priority-flow-control pause watchdog action
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/priority-flow-control.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/priority-flow-control.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/priority_flow_control.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Adding exclaimation for patch-panel
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/patch-panel.j2
Due: templates

Refactor(eos_cli_config_gen): Rearrange eos_cli as per EOS 4.35.0F part 14
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-segment-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-service-insertion.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/virtual-source-nat-vrfs.j2
Due: templates

molecule run
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/network_services_point_to_point.cfg
Due: none

addressed review comments: updated router general config template
  ansible_collections/arista/avd/extensions/molecule/ansible_only/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-general.j2
Due: templates

Apply suggestions from code review
  docs/release-notes/6.x.x.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
Due: templates

run eos designs molecule
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge-no-default-policy.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr2.cfg
Due: none

Apply suggestion from @gmuloc
  docs/release-notes/6.x.x.md
Due: none

CI: Update tests to use python 3.12 where testing 2.20
  .github/workflows/pull-request-management.yml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
