Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Revert change to description
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-no-ipsec-for-wan-path-group.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
Due: templates

Update docs/getting-started/ansible-usage-patterns.md
  docs/getting-started/ansible-usage-patterns.md
Due: none

added test for bgp_default_ipv4_unicast as true
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF1.yml
Due: none

Add change
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-no-ipsec-for-wan-path-group.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
Due: templates

Doc: Move to how-to and rename file
  docs/howto/migrate-to-cv-deploy.md
  docs/porting-guides/6.x.x.md
  mkdocs.yml
Due: none

Doc: Update AVD 5.7 release notes to deprecate the keys removed in AVD 6.0 (#6439)
  docs/release-notes/5.x.x.md
Due: none

Delete the schema gz file from git
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

git ignore the schema gz file
  .gitattributes
  .gitignore
Due: none

Update ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
Due: docs-plugin-modules

Doc: Fix doc
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

Doc: Address schema doc comments
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_vault_id.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_vault_id.schema.yml
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

Doc: Further fixes
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

Refactor(pyavd): Create schema.json.gz adhoc instead of in pre-commit (#6473)
  .gitattributes
  .gitignore
  python-avd/pyavd/_schema/schemas.json.gz
Due: schemas

comments fixes
  docs/howto/migrate-to-cv-deploy.md
Due: none

WIP
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/vault_handler.py
Due: none

Added debug for CI
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Due: none

Fix debug
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Due: none

Refactor: Address discussion comments
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/vault_handler.py
  ansible_collections/arista/avd/plugins/plugin_utils/vault_handler.py
Due: none

Revert "Refactor: Address discussion comments"
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/vault_handler.py
  ansible_collections/arista/avd/plugins/plugin_utils/vault_handler.py
Due: none

Revert "WIP"
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/vault_handler.py
Due: none

Refactor: Rollback to LoaderWrapper
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/load_vaulted_file.py
Due: none

Refactor: Back to the real pyavd-utils 0.0.2.dev3
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
Due: none

Doc: Correct doc
  ansible_collections/arista/avd/plugins/modules/validate_inputs.py
  docs/plugins/Modules_and_action_plugins/validate_inputs.md
Due: docs-plugin-modules

WIP commit 1
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Due: templates

Doc: Add Ansible usage patterns (#6445)
  docs/getting-started/ansible-usage-patterns.md
  mkdocs.yml
Due: none

Address review comments
  docs/howto/migrate-to-anta-runner.md
  docs/porting-guides/6.x.x.md
Due: none

Minor fixes
  docs/howto/migrate-to-anta-runner.md
Due: none

Update navigation
  mkdocs.yml
Due: none

Address review comments
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
Due: none

CI: Add Python 3.14 to test matrix
  .github/workflows/pull-request-management.yml
Due: none

Test Python 3.14 with eos_designs_unit_tests and eos_designs_negative_unit_tests
  .github/workflows/pull-request-management.yml
Due: none

Doc: Update diagram for eos_cli_config_gen workflow
  docs/_media/eos_cli_config_gen_dark.svg
  docs/_media/eos_cli_config_gen_light.svg
  docs/_media/excalidraw/eos_cli_config_gen.excalidraw
Due: none

updating post comments
  docs/_media/eos_cli_config_gen_dark.svg
  docs/_media/eos_cli_config_gen_light.svg
  docs/_media/excalidraw/eos_cli_config_gen.excalidraw
Due: none

minor edit on coloring
  docs/_media/eos_cli_config_gen_dark.svg
  docs/_media/eos_cli_config_gen_light.svg
  docs/_media/excalidraw/eos_cli_config_gen.excalidraw
Due: none

Update docs/porting-guides/6.x.x.md
  docs/porting-guides/6.x.x.md
Due: none

Fix(eos_cli_config_gen): Fix error when logging.vrfs[].hosts is not defined in logging data model
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/logging.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/logging.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
Due: templates

CI: Add Python 3.14 to the test matrix (#6476)
  .github/workflows/pull-request-management.yml
Due: none

Fix: Wrong type passed
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
Due: none

Doc: Rename migrate to cv_deploy guide (#6472)
  docs/howto/migrate-to-cv-deploy.md
  docs/porting-guides/6.x.x.md
  mkdocs.yml
Due: none
