Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

updated the coverage version
  .github/workflows/pull-request-management.yml
  python-avd/pyproject.toml
Due: none

change the work dir
  .github/workflows/pull-request-management.yml
Due: none

updated the function name
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3b.arista.com.yml
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
Due: none

removed the anta http password
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
Due: none

added cache support for l2vlan profile names
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l2vlan-profile-does-not-exist.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Removing the condition for id defined
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Due: templates

Update .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-management.yml
Due: none

revert the deleted schema for is_deployed
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/is-deployed.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/is_deployed.schema.yml
Due: schemas

Refactor: Rollback to re raising for simplicity's sake
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
Due: none

Feat(eos_cli_config_gen, eos_designs): Add support for ptp forward-v1
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ptp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/ptp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
Due: schemas, templates

FIx CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
Due: none

adding ptp for eos_designs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ptp_settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ptp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Feat(eos_cli_config_gen): Adding support for multicast group encap range, overlay, underlay (encap) group
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vxlan-interface.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vxlan_interface.schema.yml
Due: schemas, templates

Fix CI
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Doc: Remove some more preview for WAN HA LAN config in doc
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Due: none

Update python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
Due: none

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_SMALL_BGP_AS_RANGE_ON_UPLINK_SWITCH.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/SMALL_BGP_AS_RANGE.yml
Due: none

Reorder scenarios
  .github/workflows/pull-request-management.yml
Due: none

+ host_vars/all.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/host_vars/all.yml
Due: none

added the custom node type keys md file into ignore
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Clarifications + useless lines removal
  ansible_collections/arista/avd/molecule/digital_twin/inventory/group_vars/DIGITAL_TWIN_DEFAULT_INTERFACES.yml
  ansible_collections/arista/avd/molecule/digital_twin/molecule.yml
Due: none

updated the schema
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/cfm.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/cfm.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/cfm.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

removing unwanted TC
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-L2LEAF1A.yml
Due: none

Update python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/address-locking-4.yml
Due: none

addressing comment on doc string and updating TC
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-dhcp-server-ip-and-locked-address-ipv4-enforcement-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/address-locking-missing-dhcp-server-ip-and-locked-address-ipv6-enforcement-disabled.yml
  python-avd/pyavd/_eos_designs/structured_config/base/address_locking.py
Due: none

Fix descriptions
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK_P2P_VRFS_TESTS_LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_LEAF1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Due: schemas

updating description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

Improve wording
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  docs/release-notes/5.x.x.md
Due: none

resolving conflicts
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/address-locking-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/address_locking_settings.yml
Due: schemas

Change wording
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
  docs/release-notes/5.x.x.md
Due: none

Update tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
Due: none

Change wording
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  docs/release-notes/5.x.x.md
Due: none

fixing docs
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-file-permission-mode.md
  ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-file-permission-mode.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_dir_mode.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/avd_file_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_dir_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_file_mode.schema.yml
Due: schemas

fixing CI
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/address-locking-4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/address-locking-4.yml
Due: none

Add a comment
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
Due: none

fixing CI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vxlan-interface.j2
Due: templates
