Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Supported modular subinterfaces
  python-avd/pyavd/_utils/format_string.py
  python-avd/tests/pyavd/utils/test_format_string.py
Due: none

Update docstring
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
  python-avd/pyavd/_utils/format_string.py
Due: none

Addressed review comments: updated the schema for ospfv3 redistribution
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host6.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router-ospfv3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host6/router-ospfv3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospfv3.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospfv3.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospfv3.schema.yml
Due: schemas, templates

remove access_list_ipv4 catalog support
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp_settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
Due: schemas

removed future knob and added new key
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Minor adjustment
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
Due: none

Apply suggestion from @gmuloc
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp_settings.yml
Due: none

Refactor(eos_cli_config_gen): Refactor eos_cli_config_gen AVD action plugin to use the new AvdActionPlugin base class (#7183)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ip-access-lists-max-entries-exceeded.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-not-set.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/module_utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
Due: none

Refactor(eos_designs): Deprecate `snmp_settings.communities[].access_list_ipv4` and add new key `ipv4_standard_acl` (#7189)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp_settings.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-snmp-ipv4-standard-acl-in-catalog.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/dot1x-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_utils/utils.py
Due: schemas

WIP
  .github/workflows/pull-request-management.yml
  development/check_built_docs_links.py
  mkdocs.yml
Due: none

Refactor: Remove quotes for AVDActionPlugin AnsibleActionFail errors
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ip-access-lists-max-entries-exceeded.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-not-set.yml
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_missing_file.yml
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

Test: Add missing coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
Due: none

fix(schema-explorer): address review hardening
  development/entrypoint.sh
  tools/schema-explorer/mkdocs_hook.py
  tools/schema-explorer/static/index.html
  tools/schema-explorer/static/js/app.js
  tools/schema-explorer/static/vendor/bootstrap-icons/font/bootstrap-icons.min.css
  tools/schema-explorer/static/vendor/bootstrap-icons/font/fonts/bootstrap-icons.woff
  tools/schema-explorer/static/vendor/bootstrap-icons/font/fonts/bootstrap-icons.woff2
  tools/schema-explorer/static/vendor/bootstrap/bootstrap.bundle.min.js
  tools/schema-explorer/static/vendor/bootstrap/bootstrap.min.css
  tools/schema-explorer/static/vendor/sql.js/dist/sql-wasm.js
  tools/schema-explorer/static/vendor/sql.js/dist/sql-wasm.wasm
Due: none

ci: skip vendored schema explorer assets in codespell
  .codespellrc
  tools/schema-explorer/static/index.html
  tools/schema-explorer/static/js/app.js
Due: none

Change method name in dot1x.py
  python-avd/pyavd/_eos_designs/structured_config/base/dot1x.py
Due: none

Fix(eos_cli_config_gen): honor hide_passwords as role render setting (#7206)
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
  python-avd/pyavd/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/api/eos_cli_config_gen/__init__.py
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/test_get_device_render_options.py
Due: templates

Feat(anta_runner): Add eAPI session-based authentication
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/anta_runner/README.md
  docs/avd-requirements.txt
  python-avd/pyproject.toml
Due: none

updating AS and router ID to be unique in tests
  python-avd/tests/pyavd/_eos_designs/test_fabric_documentation_facts.py
Due: none

Update python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/models.py
Due: none

updated schema description
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
Due: schemas

Apply suggestion from @alexeygorbunov
  python-avd/pyavd/_utils/format_string.py
Due: none

Apply suggestion from @laxmikantchintakindi
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
Due: none

Apply suggestion from @laxmikantchintakindi
  python-avd/pyavd/_utils/format_string.py
Due: none

updating model and logic
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/schedule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/schedule.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/schedule.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/schedule.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/schedule.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/schedule.schema.yml
Due: schemas, templates

Removed the conditionl checks
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/qos-profiles.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/qos-profiles.j2
Due: templates

Addressed review comments: updated doc structure
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host6.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospfv3.j2
Due: templates

Apply suggestions from code review
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
  python-avd/pyavd/_utils/format_string.py
Due: none

Removed redundant checks
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host5.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host5.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host5/router-bgp.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Feat(eos_designs): Added the support for ipv6 address auto-config for ipv6_mgmt_ip (#7191)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mgmt-interface-ipv6-address-auto-config-without-avd-design-future.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/mgmt-interface-ipv6-address-auto-config.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt-interface-ipv6-address-auto-config-without-avd-design-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt-interface-ipv6-address-auto-config.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-ipv6-address-auto-config-without-avd-design-future.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt-interface-ipv6-address-auto-config.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_mgmt_destination_networks.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv6_mgmt_gateway.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_interface.py
Due: schemas

Test: Add test for unknown conversion
  python-avd/tests/pyavd/utils/test_format_string.py
Due: none

Test: Refactor AVDActionPlugin test fixture
  ansible_collections/arista/avd/tests/unit/action/conftest.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
  ansible_collections/arista/avd/tests/unit/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

Refactor: Remove quotes for AVDActionPlugin AnsibleActionFail errors (#7232)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ip-access-lists-max-entries-exceeded.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-false.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/router-bfd-dangerous-interval-not-set.yml
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/tests/integration/targets/validate_inputs/tests/test_validate_inputs_missing_file.yml
  ansible_collections/arista/avd/tests/unit/action/test_eos_cli_config_gen.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_documentation.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

WS rebase phase3: Address Carl's comments
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/tests/pyavd/cv/workflows/test_deploy_to_cv.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_workspace_on_cv.py
  python-avd/tests/pyavd/cv/workflows/test_models.py
Due: none

Fix(eos_cli_config_gen): Remove top-level BGP peer-group VRF inheritance in documentation (#7203)
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
Due: templates

Feat(eos_designs): Allow the first NTP server to be optionally configured as preferred (#7219)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Add descriptions
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas

Add explicit disable
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
Due: templates

Update development/check_built_docs_links.py
  development/check_built_docs_links.py
Due: none

Feat(eos_cli_config_gen): Added the support of switchport validation
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/switchport.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/switchport.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/switchport.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/switchport.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/switchport.schema.yml
Due: schemas, templates

Improve pattern and add test
  python-avd/pyavd/_utils/format_string.py
  python-avd/tests/pyavd/utils/test_format_string.py
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
