Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Fixing CI
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/flood-multicast-missing-1a.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
Due: templates

Updating docs
  .pre-commit-config.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
Due: none

Updating docs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
Due: templates

Update python-avd/pyavd/_schema/models/avd_list.py
  python-avd/pyavd/_schema/models/avd_list.py
Due: none

Update python-avd/pyavd/_schema/models/avd_model.py
  python-avd/pyavd/_schema/models/avd_model.py
Due: none

imposing strict check
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
Due: templates

Refactor: Address PR comments
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/_schema/models/avd_list.py
  python-avd/pyavd/_schema/models/avd_model.py
Due: none

Updating error message
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-vrf-vtep-diagnostic-loopback.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

Remove template in eos_designs_unit_tests
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/node-type-l3-port-channels-custom-template.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/port-channel-interfaces.j2
Due: none

changing secure_hash.py to use sha512_crypt from avdutils.passwords
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host_inline_jinja.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host_inline_jinja/local-users.yml
  python-avd/pyavd/j2filters/secure_hash.py
Due: none

Use get_interface_mtu
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: none

Apply suggestion
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-virtual-router-mac-address.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: none

added the support for both single and multiline payload command
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/load-balance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load-balance.yml
Due: schemas, templates

reverting pre-commit update
  .pre-commit-config.yaml
Due: none

Adding comments to test input
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel.yml
Due: none

Feat(plugins): New logging system for AVD action plugins
  ansible_collections/arista/avd/plugins/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_logging.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/init_logging.py
Due: none

WIP
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/encrypt_passwords.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: schemas

fix the sequence issue of result manger
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
Due: none

remove redundant check in self.shared_utils.p2p_uplinks_mtu
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Feat(eos_designs): Add encrypt_passwords and test coverage
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: schemas

reorder digital_twin in schema
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
Due: schemas

Pass digital twin documentation to Ansible plugin as frozen dataclass
  .pre-commit-config.yaml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Refactor(eos_designs): Improve pytest coverage for base/snmp_server.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-system-mac-address-in-snmp-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

doc heading fix
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
Due: templates

Feat(eos_designs): VRF assignment improvements for snmp_settings
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/snmp-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/snmp-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-avd-6-behavior.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/source-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_6_behaviors.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/source_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
Due: schemas

Feat(anta_runner): Added the vlan anta testcases
  python-avd/pyavd/_anta/constants.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/vlan.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
Due: none

minor fix
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

added VerifyVlanInternalPolicy test
  ansible_collections/arista/avd/roles/anta_runner/README.md
  python-avd/pyavd/_anta/constants.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/vlan.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
Due: none

Minor fix
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: none

Test: Augment coverage
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-interface-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-port-channel-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-svi-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Doc: Document current limitation for type7 on l3_interfaces
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Due: schemas

updating case for eth-type
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel.j2
Due: templates

updated the schema and python logic for source interface
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: none

Test: Address some PR comments
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-interface-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-port-channel-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-svi-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Due: none

Refactor(eos_designs): Removing Error message task from rescue
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
Due: none

Added new test for vrf
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-system-mac-address-in-snmp-settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-1.yml
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
