Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

CI: Delegate PyAVD release publishing
  .github/workflows/publish-pyavd.yml
  .github/workflows/release.yml
Due: none

CI: Use explicit PyAVD release dependencies
  .github/workflows/publish-pyavd.yml
  pyproject.toml
Due: none

CI: Add release dependency group for PyAVD publishing
  .github/workflows/publish-pyavd.yml
  pyproject.toml
Due: none

Fix(eos_cli_config_gen): Align AAA accounting dot1x default type between docs and schema
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/aaa-accounting.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
Due: templates

Refactor: Cleanup
  .github/workflows/build-pyavd-wheel.yml
  .github/workflows/publish-ansible-collection.yml
  .github/workflows/publish-pyavd.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/release.yml
Due: none

Apply suggestion from @gmuloc
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
Due: schemas

Feat(eos_designs): Add support for source_address in ntp_settings.servers (#7225)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-invalid-literal.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-ip-version-mismatch.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-mgmt-ip-dhcp.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-missing-mgmt-ipv4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-source-address-vrf-mismatch.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-l2-leaf4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/ntp-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/ntp-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/flow-tracking-tests-l2-leaf4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ntp-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ntp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/time-configuration.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ntp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Addressed review comments: updated minor descriptions
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-ospfv3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospfv3.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospfv3.schema.yml
Due: schemas

Refactor(eos_designs): Refactor eos_designs_facts AVD action plugin to use the new AvdActionPlugin base class
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_facts.py
Due: none

Feat(eos_designs): Support node-specific L2VLAN IGMP queriers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/igmp-querier-l2leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/igmp-querier-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/igmp-querier-l2leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/igmp-querier-l3leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_l2vlans.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: schemas

CI: Refine PyAVD release publishing workflow
  .github/workflows/build-pyavd-wheel.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

Fix(eos_designs): Raise error when vrf default is configured with pim_rp_addresses
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/pim-rp-addresses-in-vrf-default.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_pim_sparse_mode.py
Due: none

Feat(eos_designs)!: Use digital_twin.mgmt_ip for config generation in ACT digital twin mode (#7253)
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-adjust-oob-mgmt-1.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-topology.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/configs/digital-twin-adjust-oob-mgmt-1.cfg
  ansible_collections/arista/avd/extensions/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-adjust-oob-mgmt-1.yml
  ansible_collections/arista/avd/extensions/molecule/digital_twin/inventory/host_vars/digital-twin-adjust-oob-mgmt-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/mgmt.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_interface.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
Due: schemas

Test: Change expected failure to match suffix to keep simple messages
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
Due: none

Fix CI
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_pim_sparse_mode.py
Due: none

Apply suggestion from @gmuloc
  .github/workflows/release.yml
Due: none

Refactor(eos_designs): Refactor eos_designs_structured_config AVD action plugin to use the new AvdActionPlugin base class (#7249)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_structured_config.py
Due: none

Feat(eos_cli_config_gen): Add support for schedule configuration (#7159)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/schedule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/schedule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/schedule.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host4/schedule.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/schedule.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/schedule.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/schedule.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/schedule.schema.yml
Due: schemas, templates

Fix(eos_cli_config_gen): Align AAA accounting dot1x default type between docs and schema (#7275)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host3/aaa-accounting.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
Due: templates

Test: Refactor eos_design_negative_unit_tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/tasks/run_negative_eos_designs_case.yml
Due: none

Addressed review comments: added convert types
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas

added tests for coverage
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host2/vlan-interfaces.yml
Due: none

fix the unwanted changes
  .github/workflows/pull-request-management.yml
Due: none

fix the pre-commmit ruff issue
  ansible_collections/arista/avd/tests/unit/action/test_eos_designs_facts.py
Due: none

Fix(eos_designs): Treat uplink EVPN gateway peers as core peers only (#7270)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/explicit-evpn-route-server.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/overlapping-evpn-route-server-and-gateway-remote-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-bgp-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/overlay.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

Fix(eos_designs): Render reverse EVPN gateway core peers
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-spine1.yml
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Due: none

Fix(eos_designs): Reject reverse EVPN gateway route-server overlap
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/reverse-evpn-gateway-remote-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/reverse-overlapping-evpn-route-server-and-gateway-remote-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Due: schemas

Refactor: Add future knobs for breaking changes and update tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_EVPN_GATEWAY_REMOTE_PEERS_WITHOUT_EVPN.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/reverse-evpn-gateway-remote-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/reverse-overlapping-evpn-route-server-and-gateway-remote-peer.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-spine1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-gateway-l2-evpn-role-server.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-gateway-l2-l3-disabled.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-l2-multi-domain.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-gateway-l2-evpn-role-server.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-gateway-l2-l3-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-l2-multi-domain.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

CI: Add ansible-core 2.18 integration coverage (#7273)
  .github/workflows/codecov.yml
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/action/validate_inputs.py
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/action_plugin_vars.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_file_handler.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_switch_facts_default_dict.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_vault_handler.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/cprofile_decorator.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_templar.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/parse_validation_result.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/python_to_ansible_logging_handler.py
Due: none

Fix the default_originate.always false case
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

added TODO
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

Refactor(eos_designs): Refactor set_vars AVD action plugin to use the new AvdActionPlugin base class
  ansible_collections/arista/avd/plugins/action/set_vars.py
Due: none

fixed minor comments
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
Due: none

Add warning
  python-avd/pyavd/_utils/deprecated_dict.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

updated the unit tests
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
Due: none

Fix(eos_designs): Fix the default originate not rendered properley for bgp peers in VRF default under network_services (#7268)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-bl2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-bl2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: none

CI: Add a workflow to automatically publish pyavd to TestPypi and Pypi on publishing releases (#7207)
  .github/workflows/build-pyavd-wheel.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

Refactor(eos_designs): Refactor set_vars AVD action plugin to use the new AvdActionPlugin base class (#7284)
  ansible_collections/arista/avd/plugins/action/set_vars.py
Due: none

Bump: Pre-release 6.4.0-dev1
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Bump: Pre-release 6.4.0-dev1 (#7288)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/avd-requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none
