Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Addressed review comments: added restriction to keys
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas, templates

updating descriptions and table header
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_ipv6_nd.schema.yml
Due: schemas, templates

running all molecules
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE6.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
Due: schemas

fix code, remove fragment_rules key and some modifications
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/standard-acl.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/standard-access-lists.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/standard_access_lists.schema.yml
Due: schemas, templates

Fix CI and update doc table with host
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/standard-acl.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/standard-access-lists.j2
Due: templates

addressed review comments: updated as primary key
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
Due: templates

fixing template
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-interfaces.j2
Due: templates

Refactored the doc templates for port-channel and ethernet interfaces
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
Due: templates

Fix(eos_designs): Add support to set IGMP fast_leave without setting evpn_l2_multicast.enabled: true (#6626)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/evpn_l2_multicast_fast_leave.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-disabled.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-l2leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-l3leaf1a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-l3leaf1b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-l3leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-l3leaf3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/evpn-multicast-l3leaf3b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-disabled.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l2leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf1a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf1b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-multicast-l3leaf3b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Due: schemas

Bump: Pre-release 6.1.0-dev1
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Bump: Pre-release 6.1.0-dev1 (#6666)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Due: none

Adjust mocked unary methods that record messages
  python-avd/tests/pyavd/cv/mockery.py
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

Addressed review comments: update schema key name
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
Due: schemas, templates

Fixing table header
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE6.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

Refactor(pyavd): Add AVDTemplar to avoid accessing private Ansible Templar attributes and triggering deprecation (#6658)
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/constants.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/action_plugin_vars.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_templar.py
  ansible_collections/arista/avd/plugins/vars/global_vars.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/avd_templar.py
  python-avd/pyavd/_utils/template.py
  python-avd/pyavd/_utils/template_var.py
  python-avd/tests/pyavd/utils/test_template.py
  python-avd/tests/pyavd/utils/test_template_var.py
Due: docs-plugin-vars

Refactor(eos_cli_config_gen, eos_designs): Add support of new ip tacacs data model (#6651)
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-tacacs-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ip-tacacs-source-interface.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-2.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/aaa-settings-3.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/aaa-settings-3.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings-3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-tacacs-source-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-tacacs-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-tacacs-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_tacacs.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_tacacs_source_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas, templates

fixing doc template
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

addressed review comments: rearrange schema
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Due: schemas

fixing CI
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

updated the documenation table
  ansible_collections/arista/avd/roles/eos_designs/docs/data-models.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/avd-design-future.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_design_future.schema.yml
Due: schemas

updating doc in eth-int.j2
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/devices/dc1-spine2.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/extensions/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE6.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/extensions/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Due: templates

Refactor(eos_designs): Move the dpath_enabled and domain ids under evpn gateway (#6591)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-interdomain-conflict.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-ipvpngw-conflict.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-mlag-conflict.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-platform-conflict.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/set-both-all-active-multihoming-and-d-path-keys.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_EBGP_EVPN_GATEWAY_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: schemas

revert the custom filter constents and removed tests
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/utils/test_templater.py
Due: none

Remove the host key
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/standard-acl.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/standard-access-lists.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/standard-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/standard_access_lists.schema.yml
Due: schemas, templates

Use any source
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/standard-acl.yml
Due: none

CI(cv_deploy): Adjust mocked unary methods recording gRPC messages (#6668)
  python-avd/tests/pyavd/cv/mockery.py
Due: none

removing ipv6_access_lists_max_entries
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-access-lists.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/ipv6-access-lists-max-entries-exceed.yml
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-access-lists-max-entries.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ipv6-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ipv6_access_lists_max_entries.schema.yml
  python-avd/pyavd/j2filters/__init__.py
  python-avd/pyavd/j2filters/mandatory.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_mandatory.py
Due: schemas, templates

Refactor: Fix the fix
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2leaf2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-svc3b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1.l2leaf6a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1.l2leaf6b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1.l2leaf7a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-l2leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1-svc3b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1.l2leaf6a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1.l2leaf6b.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/dc1.l2leaf7a.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/duplicate-vrfs.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-p2p-vrfs-tests-leaf1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-p2p-vrfs-tests-leaf2.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vrfs.py
Due: none

updating docs
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ipv6-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-access-lists.j2
Due: templates

removing mandatory filter
  python-avd/pyavd/j2filters/__init__.py
Due: none

resolving merge conflicts
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/extensions/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
Due: none

Revert config changes for non-svc3 devices
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-l2leaf2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1.l2leaf6a.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1.l2leaf6b.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/dc1.l2leaf7a.cfg
Due: none

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
