Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  ...

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template ansible_collections/arista/avd/docs/templates/plugin-docs.j2 --markdown "ansible_collections/arista/avd/docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  ...

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build-schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs
  - referencing>=0.35.0

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

Apply suggestions from code review
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/underlay_ospf_authentication.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ospf-encryption-password-encrypt-false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ospf-encryption-password-encrypt-true.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ospf_authentication.schema.yml
Due: schemas

Refactor: Remove unreachable condition
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Due: none

Test: Rename hosts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ospf-cleartext-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ospf-preencrypted-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ospf-cleartext-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ospf-preencrypted-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ospf-cleartext-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ospf-preencrypted-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Test: Render some password to show it still works
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
Due: none

Test: Remove host1 from excluded Pytest hosts for deprecated vars
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
Due: none

adjustments based on the review from Claus
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-l2vlan-pvlan-missing-primary.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-l2vlan-pvlan-platform-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l2vlan-private-vlan.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l2vlan-private-vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l2vlan-private-vlan.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: schemas

Test: Rename test hosts to align with OSPF PR
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-cleartext-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-preencrypted-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-cleartext-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-preencrypted-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PASSWORD_ENCRYPTION.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-cleartext-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Test: Move inline Jinja to its own host in deprecated vars
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host_inline_jinja.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host_inline_jinja.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host_inline_jinja/custom_node_type_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host_inline_jinja/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
Due: none

address minor review comments
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-l2vlan-pvlan-missing-primary.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-l2vlan-pvlan-platform-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/network-services-l2vlan-pvlan-platform-disabled.yml
Due: none

Fixing inputs and apply suggestion on doc
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/node-type-l3-port-channels-custom-template.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-port-channels-custom-template.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Due: none

Feat(eos_designs): Add possibility to pass cleartext IPsec keys for wan_ipsec_profiles
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-ipsec-profiles-control-plane-key.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-ipsec-profiles-data-plane-key.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_ipsec_profile.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_ipsec_profiles.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/ip_security.py
Due: schemas

Test: Address PR comment
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host_ansible_only.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host_ansible_only.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host_ansible_only/custom_node_type_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host_ansible_only/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
Due: none

WIP
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Refactor: Make the hash idempotent again
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/ip_security.py
Due: none

Test: Moleculing the molecule
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ebgp_overlay_evpn_false.yml
Due: none

Add noqa
  pyproject.toml
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

updated the code for new underlay_multicast object
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
Due: none

less inputs
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-port-channels-custom-template.yml
Due: none

revert the changes to use only one key for udp dst port
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/load-balance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/load-balance.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/load-balance.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/load-balance.yml
Due: schemas, templates

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: schemas

updated as per suugestions
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

PR review. Fix hint_type
  python-avd/pyavd/_eos_designs/shared_utils/node_type.py
Due: none

Add unit tests
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_logging.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_action_plugin_vars.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_anta_workflow_logging.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_logging_decorator.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_logging_init.py
Due: none

Addressing some of the PR review comments
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-os-version.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-topology-password.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-topology-username.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/modules/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  docs/plugins/Modules_and_action_plugins/eos_designs_documentation.md
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: docs-plugin-modules

Added before clean-up
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
Due: none

Updated description and refactored _ssh_vrfs method
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ssh-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: schemas

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_ipsec_profile.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_ipsec_profile.schema.yml
Due: schemas

Apply suggestions from code review
  python-avd/pyavd/_eos_designs/schema/schema_fragments/bgp_peer_groups.schema.yml
Due: schemas

Sorting keys in topology file and remove None values
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
Due: none

cleanup
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/TWODC_5STAGE_CLOS-topology.yml
Due: none

updated the code and schema
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/aaa-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_mgmt_method.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

rename digital_twin_mode to avd_digital_twin_mode
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/verify.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-ip-addr.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-node-type.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-os-version.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-topology-password.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/digital-twin-act-missing-topology-username.yml
  ansible_collections/arista/avd/plugins/modules/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/eos_designs_documentation.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_digital_twin_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
Due: docs-plugin-modules, schemas

Attempt to fix molecule pytests and missing tool-server
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_negative_eos_designs.py
Due: none

Addressing PR review comments
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_720XP.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_7280R.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CEOS_LAB.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_CLOUDEOS.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/HARDWARE_FEATURES_VEOS_LAB.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_720XP.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_7280R.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CEOS_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CLOUDEOS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_CUSTOM_PLATFORM.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/HARDWARE_FEATURES_VEOS_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/HARDWARE_FEATURES_ON_VIRTUAL_PLATFORMS.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: none

Removing sort and reorder keys for topology file
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
Due: none

avoid mapping back and forth between _ and -
  python-avd/pyavd/get_fabric_documentation.py
Due: none

Fixing code
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ssh-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ssh-settings-2.yml
  python-avd/pyavd/_eos_designs/structured_config/base/management_ssh.py
Due: none

Update python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ssh_settings.schema.yml
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
