Repository aristanetworks/avd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-proxy.j2
Due: templates

Update python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

Fix converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
Due: none

fix as per suggestion
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Due: none

Feat(eos_cli_config_gen): Add support for peer_authentication under vlan_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas, templates

addressing comment on test case
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/management-eapi-vrfs.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/management-eapi-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/management-eapi-vrfs.yml
Due: none

Use existing ethernet-interfaces template
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/underlay/underlay-ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/node-type-l3-interfaces-portchannels-custom-template.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/node-type-l3-interfaces-portchannels-custom-template.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-interfaces-portchannels-custom-template.yml
Due: none

Update ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-interfaces-portchannels-custom-template.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-interfaces-portchannels-custom-template.yml
Due: none

using
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_proxy.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_proxy.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
Due: none

Update schema and tests for tap, tool and tap-tool config
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Due: schemas

Update hardware counter schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware-counters.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware_counters.schema.yml
Due: schemas

Add ability to disable default hardware counters
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/hardware-counter.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware-counters.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware_counters.schema.yml
Due: schemas, templates

Add the ability to exclude prefixes from field-sets
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas, templates

Add for v6
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
Due: templates

Doc(eos_designs): Update doc for root_login
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/aaa-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
Due: schemas

adding 2 more hosts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/management-eapi-vrfs-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/management-eapi-vrfs-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/management-eapi-vrfs-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/management-eapi-vrfs-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/management-eapi-vrfs-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/management-eapi-vrfs-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/management-eapi-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

CI: Adding support for anta unit tests and coverage
  python-avd/tests/pyavd/molecule_scenarios/test_anta_runner_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_designs_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_structured_config.py
  sonar-project.properties
Due: none

addressing comments on tc
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/management-eapi-vrfs.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/management-eapi-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/management-eapi-vrfs.yml
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
Due: none

Update python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: none

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-short-esi-single-homed.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-short-esi-single-homed.yml
Due: none

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas

Update python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware_counters.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware_counters.schema.yml
Due: schemas

Add direction to tests
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/hardware-counter.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware-counters.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
Due: schemas

remove a host from converge
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
Due: none

minor updates based on feedback
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas, templates

Add comment.
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/node-type-l3-interfaces-portchannels-custom-template.yml
Due: none

updated to remove if
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
Due: templates

using sort in jinja2
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

Adding comment
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
Due: templates

sorting on type, address/name, vrf
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-proxy.j2
Due: templates

Update ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use_mgmt_interface_vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/management-eapi-vrf-name-use_mgmt_interface_vrf.yml
Due: none
